[2022-04-21 17:41] LisaFC commented on #981
This is a problem that has come up before (see #138) and we haven't found anything elegant that worked with the templating.  Hopefully now that we have a bigger community (and possibly Hugo has changed a bit) we can come up with a solution.

Duplicate of #138

[2022-04-21 17:43] LisaFC commented on #976
Huh, that's weird. Let me see if I can reproduce it. What size screen/browser window are you using (ie if you scroll across, is the Lunr search box there?).

[2022-04-21 17:54] LisaFC commented on #978
So just to check that I understand your requirements - you want pages with different templates/layouts under the same directory (docs)? That's simple enough - you just put the source files into the `docs` directory and specify your custom layout as the page's `type` - see: https://www.docsy.dev/docs/adding-content/content/#custom-sections

(the example shows a page under a custom directory with a

[2022-04-22 07:54] spacefan commented on #976
I use `Chrome 100.0.4896.127 64bit`,  screen size: 1920*1080, no Lunr search box display when scrolling across.

[2022-04-22 15:46] LisaFC commented on #976
Can I check where you put the `[[params.versions]]` relative to your other new settings, you said "under `version_menu = "Release"`", do you mean directly after it?

I ask because the only way I can see it stopping you getting a search box is if you didn't put your `[[params.versions]] ` (more specific) *after* all your general `[params]` and Hugo skipped the search settings because it thought `[p

[2022-04-22 16:51] LisaFC commented on #983
@chalin, we should be able to do this, right?

[2022-04-23 16:04] spacefan commented on #976
Your are right, after moving `[[params.versions]]` down to just before `[params.ui]`, it works now. Thanks!

Issue closed.

[2022-04-23 16:04] #976 closed

[2022-04-25 15:12] geriom opened #988 "Document integration with Heroku and GitLab"
Document how to deploy a Docsy site using the free tier of GitLab DevOps and Heroku.

I have already done it, it's just a matter of documenting it.

[2022-04-25 16:25] geriom opened #989 "Shortcode to reuse content."
I would be nice to have a shortcode to import markdown content into another file.

[2022-04-26 19:27] chalin commented on #739
We're migrating to Algolia Search v3 via https://github.com/google/docsy/pull/985, and besides, the Graphviz website seems to be using Lunr now, so I'll close this issue. @mhansen - if you feel that it is still relevant, let us know.

[2022-04-26 19:27] #739 closed

[2022-04-26 19:29] chalin commented on #738
For recent developments regarding this issue, see #845, where most of the discussion is.

[2022-04-26 19:29] #738 closed

[2022-04-26 19:34] chalin commented on #983
Yes, there is some flexibility in the configuration. Is your site publicly available so that I can take a look and have a better idea of what you are trying to achieve?

[2022-04-26 19:41] chalin opened #991 "Algolia search support via config only?"
We're already part-way to offering support for Algolia search via changes to config parameters only -- for example, see the conditional code in https://github.com/google/docsy/blob/main/layouts/partials/hooks/head-end.html. Why not go all the way?

I don't know how many projects use Algolia, or whether they'd find this useful. If so, please up/down-vote and/or add a comment below.

[2022-04-27 13:42] jasonday opened #992 "Example site, Go commands don't appear to be using proxy"
Running `hugo server` and getting the following errors:

[code]

I have a corporate proxy setup in my `.gitconfig`, which works otherwise except for when I run `hugo server`. Is ther e any workaround to install the modules manually?

[2022-04-27 20:41] jasonday commented on #992
@deining unfortunately, my corporate proxy is http:, so now I am getting:
[code]

[2022-04-27 21:05] deining commented on #992
According to this [issue](https://github.com/golang/go/issues/35975), sending credentials to an insecure GOPROXY will never be supported.
As a workaround, they suggest that you set up a server at localhost with a valid HTTPS certificate that connects to your http proxy. Instructions on this can be found [here](https://medium.com/@shriramsharma/mkcert-you-changed-my-life-b157466880bf) and [here](ht

[2022-04-27 21:09] deining opened #993 "User guide, module installation: add instructions how to deal with a proxy server"
See #992 for details.

[2022-04-28 15:53] deining commented on #849
Done. Added tag `v0.2.0` to the `docsy-example` repo and created a release from that tag. Added archive files for go-less installation and for the `_vendor` directory itself to the release. Wondering if we should add these `_vendor` archives to the `0.2.0` release of docsy itself (I see added value from this).

[2022-04-28 23:29] geriom commented on #989
I am not the first one with this idea ( #440 ). Docsy already has a shortcode that does this: `readfile`.

I updated the shortcode to support relative paths and a simpler syntax, without breaking compatibility ( #995 ).

[2022-04-30 08:43] bbros-dev commented on #311
This is exactly the use case.

[2022-04-30 12:55] LisaFC commented on #311
You can do links to entirely different versions of the site in the top nav with the existing template - the version drop-down is built in and you can call that menu whatever you like: https://www.docsy.dev/docs/adding-content/versioning/#adding-a-version-drop-down-menu

Will that work for you @bbros-dev?

[2022-04-30 18:04] #845 closed

[2022-05-04 17:26] markgoho opened #999 "Cannot find module 'autoprefixer'"
Trying to build docsy locally with `hugo` and cannot get past this step:

[code]

[2022-05-06 07:15] at055612 commented on #983
You can hide single level bread crumbs using css (see https://github.com/google/docsy/issues/857#issuecomment-1018442696), but I would agree it would be nice if it was a configurable thing.

[2022-05-06 09:51] at055612 opened #1002 "How to use taxonomies with multiple words?"
I have two custom taxonomies that are both made of two words.  It is not clear how to configure these multi word taxonomies.
If I use lower_snake_case `object_types` then it works fine, but if I use lowerCamelCase `schemaActions` (which is more consistent with the rest of the configuration and front matter) it doesn't show the cloud for "Schema Actions" (see screen shots below).  Is this my mistak

[2022-05-06 12:56] raum51 commented on #1002
If I have it correctly in mind, such parameters should be only lower case. Or er least, there were some issues with capital letters in the past (eg https://discourse.gohugo.io/t/config-params-should-be-all-lowercase-or-not/5051)

[2022-05-06 14:43] at055612 opened #1004 "Add breadcrumbs to taxonomy result list"
When you click a taxonomy term, e.g. in the Tags cloud, you get the list of matching pages for that term.  It is possible to have multiple pages with the same name.  It would be clearer if each item had its breadcrumb displayed so the user can see where the page is.  The user also then has the option to select an ancestor of one of the matched pages.

I have done this on my site.  Happy to craft a

[2022-05-06 16:21] jasonday opened #1005 "imgproc should follow a <figure/> model to be more semantically correct"
Current output of `imgproc` from docsy-example [site](https://example.docsy.dev/blog/2018/10/06/easy-documentation-with-docsy/):
[code]

To be more semantically aligned and to improve accessibility, I propose using `<figure>` and `<figcaption>` for images included in this manner, which creates a programmatic association between the image and the additional text, providing more context for screen r

[2022-05-07 05:31] raum51 commented on #1004
Great idea, also the cards.
+1

[2022-05-07 20:54] Natureshadow commented on #605
Oh great. I just migrated my site to this theme, only to find it to load an incredible amount of external resources, completely ignoring any privacy regulations.

I should have known when seeing that it is made by Google…

[2022-05-09 08:52] deining opened #1007 "hugo build: warning '.File.UniqueID on zero object'"
**How to reproduce**

* Create a new site from scratch as described [here](https://www.docsy.dev/docs/get-started/docsy-as-module/start-from-scratch/).
* Create a new page inside the `docs` folder: `hugo new content/docs/_index.md`
* Run `hugo -D` and you will get this warning:

[code]

Using `hugo --panicOnWarning`, you can track down where the error originates:

[code]

So the offending code lin

[2022-05-11 17:09] fnetX commented on #605
For everyone landing here, I just want to recommend having a look at https://squidfunk.github.io/mkdocs-material/ - we went with it after docsy wasn't what we were looking for. It's awesome, somewhat lightweight compared to the amount of features, and the community is nice. :wink:

[2022-05-13 10:11] LisaFC commented on #1007
Let me take a look. That line was from an update in 2021 by someone who doesn't seem to still be on GitHub under that user name, but it didn't break anything at the time....

[2022-05-13 10:12] LisaFC commented on #1005
That's a nice idea! Is it likely to break anything (I can't see anything obvious...)?

[2022-05-13 10:13] LisaFC commented on #1004
I like it - @narrenfrei you added a lot of the taxonomy functionality, what do you think?

[2022-05-13 10:15] LisaFC commented on #999
Might be useful to have a look at the Docsy user guide in this repo to compare settings? It's not at the project root.

[2022-05-13 10:50] narrenfrei commented on #1004
I've already answered as @raum51 ;-)

[2022-05-13 10:53] at055612 commented on #1004
Thanks @LisaFC and @narrenfrei / @raum51 .  Sounds like enough of a consensus for a PR.  I'll get on the case.

[2022-05-16 09:17] #993 closed

[2022-05-16 09:39] deining commented on #992
With PR #994 merged now, the `proxy` settings is now mentioned the user guide.
@jasonday: can this ticket be closed now?

[2022-05-16 18:52] froboy commented on #805
Related to https://github.com/google/docsy-example/issues/166.

I think there's something else going on here. I was able to get things working just fine with `docker-compose up --build`, but `hugo` and `hugo server` fail with

`Error: from config: failed to resolve output format "print" from site config`

I'm wondering if the config changes are just false positives for some deeper issue, maybe som

[2022-05-17 18:49] froboy commented on #805
Tried, didn't help.

[code]

[2022-05-17 20:05] jasonday commented on #992
Not directly, but it appears this is additional documentation that may be helpful for others. Closing.

[2022-05-17 20:05] #992 closed

[2022-05-19 01:50] jasonday opened #1013 "Is there a preferred method for overriding partials?"
Does docsy have a method to override partials?

[2022-05-19 09:20] fekete-robert commented on #1013
Hi, you can override partials by recreating them in your project, [Hugo's lookup order](https://gohugo.io/templates/lookup-order/) takes care of everything else.
For example, if you want to override `themes/docsy/layouts/partials/sidebar-tree.html`, just create the `layouts/partials/sidebar-tree.html` file in your project.

If you are layering themes (that is, you have more than one theme specifie

[2022-05-19 14:24] crimsonvspurple commented on #428
any update on this?

What is the recommended way to use font-awesome pro with docsy?

[2022-05-20 01:12] Yjppj opened #1014 "路由继承问题（Route Inheritance problem）"
中文：我想要在add路由中添加一个定时任务对象（添加定时任务是一个协程进行的）到上下文，然后在另一个路由remove中拿到上下文里面的定时任务，从而能够删除这个定时任务，但是每个路由的*gin.Context都是重新分配，我无法拿到在remove路由中保存在上下文中的这个定时任务
English:  I want to add a timed task object to the Context in the add route and remove the timed task from the Context in the remove route, but the *gin. Context of each route is reassigned.  I can't get the timed task that exists in context in the remove rou

[2022-05-23 16:57] #1013 closed

[2022-05-23 17:52] chalin opened #1020 "Prepare Hugo modules and publish release v0.3.0"
- [x] Prepare Hugo modules for v0.3.0
- [x] Add / changes the steps in [Publishing a release](https://github.com/google/docsy/blob/main/CONTRIBUTING.md#publishing-a-release) if necessary explaining how to do the previous step
- [x] Publish v0.3.0

[2022-05-23 17:57] chalin commented on #1020
@deining or @geriom - is this something that you might have time for? I'll be out for a few weeks. /cc @LisaFC

[2022-05-23 18:24] domingosbarreto opened #1021 "Publish Docsy to Azure Static Website"
After following the instructions on this [link ](https://docs.microsoft.com/en-us/azure/static-web-apps/publish-hugo) I'm getting the following error.

[code]

Can you help please?

[2022-05-23 23:19] domingosbarreto commented on #1021
Resolved by adding:

To the workflow file:
[code]

To the package.json file:
[code]

[2022-05-23 23:19] #1021 closed

[2022-05-24 01:45] jasonday opened #1022 "With `ui.sidebar_menu_foldable = true` enabled keyboard focus moves to hidden menu items"
Current behavior:
With `ui.sidebar_menu_foldable = true` enabled, when using the keyboard only, focus is placed on submenu items that are not visible.

Expected behavior:
Only visible elements in the menu are able to receive focus.

[2022-05-24 18:13] #550 closed

[2022-05-24 23:59] prdsoftware commented on #348
Any news on this one?

[2022-05-25 07:36] fekete-robert commented on #348
It seems that @narrenfrei's original patch doesn't apply to the current sidebar-tree.html, but with a slight reworking it seems to work:
[code]

[2022-05-25 07:59] LisaFC commented on #348
Excellent! Robert would you mind submitting that fix as a PR and we can see it in preview/review?

[2022-05-25 08:17] snunez1 commented on #348
I wounder if we could take this opportunity to do some general improvements in this area? Issue #342 had some pointers and images of TOC that I thought looked a bit better. The TOC is often a big part of first impressions, since people use it to navigate, and a bit of improvement here could only help.

[2022-05-25 17:59] gary-vertica opened #1024 "Using Lunr on large site causes section menu/navigation to freeze on page load"
We have a large site (over 5000 pages). For our main deployment to our website, we plan on using Algolia for search.

However, for internal use/testing and potentially for offering a local downloadable version of our doc, we also need to use Lunr. I've enabled it in some build environments, and it does work. However, the index file is rather large,  at over 10MB. This size seems to be causing a lo

[2022-05-25 18:12] gmichaelides opened #1025 "Navigation Bar Logo and Title - Duplicate Site Name"
It seems that if you add a logo that includes a name in addition to a graphic, as per https://www.docsy.dev/docs/adding-content/iconsimages/, you will get the name duplicated in the navigation bar.

So your logo would look like:  graphic, example.com, example.com

Although there is an option to hide the logo in the config file, there is no option to hide the text.
     navbar_logo = true

Maybe if

[2022-05-26 02:58] jasonday opened #1026 "sidebar content list limited at 50 items? How to change that limit?"
I have greater than 50 pages at the 3rd level:
[code]
Docsy is limiting the number shown in the sidebar to 50. Where is this configurable?

Secondarily, how would I hide only this set of pages from the sidebar (but they still show up in list)?

[2022-05-26 05:20] fekete-robert commented on #1026
Hi, the sidebar-tree.html partial seems to have an undocumented parameter that I think governs this behavior.
Try setting the following in your config file in the [params.ui] section:
[code]

[2022-05-26 05:36] raum51 commented on #1026
You can find some info in #979

Sorry, I thought I'had made the documentation already, but that isn't right.

[2022-05-26 05:36] raum51 commented on #1022
I'll take a look on this issue (hopefully next week).

[2022-05-26 05:52] fekete-robert commented on #1026
As for your second question about hiding pages, see the `toc_hide` option at https://www.docsy.dev/docs/adding-content/navigation/#section-menu

If you want to set it for an entire subsection, you can use the cascade feature of Hugo in the frontmatter of the _index.md of the subsection, like:
[code]

[2022-05-26 08:43] domingosbarreto opened #1027 "Error: from config: failed to resolve output format "print" from site config"
When working on the website content, without changing any value on config, started giving the following error when running `hugo server`:

[code]

Already tried with a new site and I get the same error.

With an empty hugo site or other theme the error does not occurs.

[2022-05-26 15:24] jasonday commented on #1026
Thank you. A fully baked `config.toml` with every option would be great for documentation purposes.

[2022-05-26 15:24] #1026 closed

[2022-05-26 19:10] jasonday commented on #978
To spell out the process for anyone else:
* In the 'layouts' directory, create a new directory named for the template you want to create
* Copy at least single.html and baseof.html from themes > docsy > layouts >docs to this template directory
* Build your custom template in single.html using Hugo [templating](https://gohugo.io/templates/introduction/)
* In your markdown frontmatter add `type: my_

[2022-05-26 19:10] #978 closed

[2022-05-27 10:00] LisaFC commented on #1027
Duplicate of #805 - try some of the suggestions there and I'll follow up in that issue if they don't work.

[2022-05-27 10:02] LisaFC commented on #1025
That's a good idea - the title is built into the navbar. Do you want to try a PR with your fix? As long as navbar_title=true is the default it won't break any existing sites (including ours!)

[2022-05-27 10:09] domingosbarreto commented on #805
I'm having the same issue. The difference is that I'm not using docker, the error occurs in my computer with hugo v0.99.1.
Already, tried all the solutions stated here and #451, and with the same results.
The strange thing is that the first time the error occurred it was while `hugo serve` was running successfully, and from that onwards I'm unable to run `hugo` or `hugo serve`.

[2022-05-27 13:51] geriom commented on #1020
/assign

[2022-05-27 20:55] jasonday commented on #1005
@LisaFC does the imgproc shortcode need to have alt text added (or is there another way to add alt text that marries this shortcode with Hugo's approach)? Note: images either need `alt=""` to indicate that it's a decorative image or `alt="image description"` to ensure screen readers can parse the image. `figcaption`s are not a substitute for alt text.

For example, I could see:
[code]

And then in

[2022-05-29 19:55] deining opened #1029 "User guide: correct outdated flag --i18n-warnings"
User guide, multi-language section [Internationalization bundles](https://www.docsy.dev/docs/language/#internationalization-bundles):

The tip there mentions the call

[code]

[This commit](https://github.com/gohugoio/hugo/commit/837fdfdf45014e3d5ef3b00b01548b68a4489c5f) from February 15 in the hugo repo renamed `--i18n-warnings` to `--printI18nWarnings`. This renaming should be reflected in the d

[2022-05-31 07:50] ajfriesen opened #1032 "Adding external links in the menu removes right sidebar github actions and search bar"
I have copied the docsy-example repo and changed a few things.

When adding a menu entry in the `config.toml` like so:
[code]
the right side menu does not display the links for adding an issue, editing the site etc, and the search bar in the left menu and on the top navbar is gone.
If I remove the menu item everything is back to normal.

Any idea how I can debug this further?

[2022-05-31 17:22] gary-vertica commented on #1024
Yes. I conformed that after the initial load, the index file is cached, as reported in the FireFox and Chrome web developer tools network panel. Lighthouse indicates that the main thread for each page load takes 14.9 seconds, with 12 of those seconds in script evaluation. When disabling local search, there's less than 1 second of script evaluation.

![Screenshot from 2022-05-31 13-19-51](https://u

[2022-06-01 08:59] fekete-robert commented on #1024
Without knowing much about Javascript (so I might be completely wrong here), it seems to me that the way Docsy is using lunr is that:
- it generates the offline-search-index.json file from the site during build-time, which is just the content of the site in json format
- then themes/docsy/assets/js/offline-search.js loads this file and builds an index from it.

According to the lunr docs, it's pos

[2022-06-01 17:47] 317brian commented on #805
I'm having the same issue running Monterey 12.3 on an M1 mac, and it looks like @froboy is running an M1 too based on `darwin/arm64`. My terminal (iterm2) is set to run Rosetta on.

Colleagues not on M1 macs are not having this issue with the same repo.

The repo I am having trouble with uses the template method.

I cloned an existing Docsy site that uses the submodule method as well as created a

[2022-06-02 02:21] 317brian commented on #805
Upgrading to Mac OS 12.4 fixed it

[2022-06-03 03:12] snunez1 commented on #991
Just wondering if this is likely to make it into 0.3? I'm going to upgrade a very old version of Docsy a few weeks after the 0.3 release and it would be nice to have a config-only way to support Algolia.

[2022-06-05 16:45] stephanlachnit opened #1039 "Make "All Rights Reserved" easily changeable"
Currently the only way to change the "All Rights Reserved" note in the footer is by creating a new footer (e.g. Kuberflow), or by creating an artificial i18n file changing that parameter.

However I think it makes sense to have a parameter to change that text, since documentations are often provided under a CC-BY license. Similar to the `params.copyright` option there should be a `params.copyright

[2022-06-06 17:30] kiransk9 opened #1040 "multiple blogs"
I am trying to create 3 different blog tabs on docsy hugo website.

ie. blog, blog2, blog3

Is there any option i can do that or should i copy and paste blog layout multiple times in local layout folder.

[2022-06-06 18:00] fekete-robert commented on #1040
Hi, I'm not sure I understand exactly your question, but you can specify the type of a page (hence its layout) in the frontmatter.
So for example if you want to have two different blog sections of the site (like content/blog, content/blog2, and content/blog3), then I believe you can use the same blog layout, just specify something similar in the content/blog2/_index.md and content/blog3/_index.md

[2022-06-06 18:42] kiransk9 commented on #1040
@fekete-robert  Gothcha thank you..

[2022-06-06 18:48] #1040 closed

[2022-06-06 18:49] kiransk9 commented on #1040
issue resolved

[2022-06-06 20:07] amirootyet opened #1041 "[Feature Request] Insert a footer on every documentation page using a template"
We have a use case where we want to put a footer at the end of every published page. It's a short line: "Disclaimer: xxx is yy, not zz." Currently, we've put this in the footer section of the entire site, next to the Privacy/All Right Reserved. But we want this line to be auto-included in every page (the white section) at the end, such that it shows up even when printing the document using the "Pr

[2022-06-07 22:55] chrismetz09 commented on #805
same, upgrade to Mac OS 12.4 fixed this problem.

[2022-06-07 23:32] 317brian commented on #805
So I was actually about to comment @chrismetz09. The issue reoccurred for me with no changes to the repo or to the versions for anything (Hugo, Go, my OS, etc). But after I restarted my machine, it built again.

What I noticed was that `hugo server` had some additional outputs that aren't typically there when I ran the command for the first time after the restart:

[code]

[2022-06-08 11:03] fekete-robert commented on #1039
Hi, you can do that by [overriding the related string in en.toml](https://www.docsy.dev/docs/language/#internationalization-bundles).

1. In your project directory, create the `i18n` directory.
2. Add an empty file called `en.toml` to this directory.
3. Add the following to the file:
[code]

That way you can customize the text even if you have a multilingual site

[2022-06-08 11:22] stephanlachnit commented on #1039
I know, but I don't think that's a very nice solution.

[2022-06-08 14:53] amirootyet commented on #805
Can confirm that this issue occurred for me when using a Mac (i7) with Monterey 12.3.1. After looking at the comments here, I upgraded my Mac OS to 12.4 and this issue was automatically resolved. Leaving this comment here for other Mac users who maybe facing this issue.

[2022-06-08 21:48] stephanlachnit commented on #1039
Right, looking https://github.com/google/docsy/blob/main/i18n/en.toml it looks like that this is the recommended way of specifying these strings. Sorry for the inconvenience.

[2022-06-08 21:48] #1039 closed

[2022-06-10 09:28] stephanlachnit opened #1046 "[Bug report] GitHub links do not respect config"
Consider the following config:

[code]

This means the main content is in the `content2/` folder. But [layouts/partials/page-meta-links.html](https://github.com/google/docsy/pull/1045/files#diff-f4d9e149cd577180bf360992c9474342dc2fe345c105c05e61b080f769e02281) will guess this as `content/en`, because is does not respect either the `contentDir` and `defaultContentLanguageInSubdir` setting.

[2022-06-13 10:07] LisaFC commented on #1046
This is a problem that has come up before (see https://github.com/google/docsy/issues/138) and we haven't found anything elegant that worked with the templating and didn't break in at least one use case. Hopefully now that we have a bigger community (and possibly Hugo has changed a bit) we can come up with a solution - if you have any ideas please give them a try!

Duplicate of https://github.com/

[2022-06-13 10:15] LisaFC commented on #1032
Huh, that's weird. Where did you put the line in your config.toml? It needs to be before or after all the [params] or the Hugo parser gets confused and may not pick up all your site parameters inc your GitHub links etc.

See our userguide config for an example: https://github.com/google/docsy/blob/main/userguide/config.toml#L39

[2022-06-13 10:17] LisaFC commented on #1032
(I can dig into it further if that's not the problem!)

[2022-06-13 10:22] LisaFC opened #1047 "Split navigation and search docs in user guide"
This page is now VERY VERY LONG, I think it will be more readable/scannable if we have separate pages for navigation and search.

https://www.docsy.dev/docs/adding-content/navigation/

[2022-06-13 17:59] #1004 closed

[2022-06-13 19:25] stephanlachnit commented on #1046
Ah sorry for the duplicate! Let's close this then.

[2022-06-13 19:25] #1046 closed

[2022-06-13 20:07] chrismetz09 commented on #805
@317brian, `hugo server` stopped working and instead received the problematic `..config: failed to resolve output format "print" from site config.`. Performed reboot and results are:
[code]

[2022-06-13 20:12] 317brian commented on #805
Yup, I've had the print error continue to show back up every few days. I'm not sure why a restart fixes it. A colleague has also encountered this issue, but she's not on an M1. Running Hugo/docsy in a docker container on her machine worked.

[2022-06-15 20:24] stephanlachnit opened #1056 "Code blocks not full width on mobile"
The problem in a nutshell:

![Screenshot from 2022-06-15 22-11-35](https://user-images.githubusercontent.com/36662302/173919697-dd678bac-626b-4dfc-a606-fd61c0107832.png)

The culprit is [assets/scss/shortcodes/cards-pane.scss](https://github.com/google/docsy/blob/6769ab6e8f7d26aea222f02e86b576ee159f19c4/assets/scss/shortcodes/cards-pane.scss#L1-L5). The file hard-codes a `max-width`, which works o

[2022-06-16 11:00] LisaFC commented on #1056
Yes, please do open a PR, thanks for spotting this problem! @deining can you comment/review?

[2022-06-17 04:14] kiransk9 opened #1058 "If there are more than 6 menus tabs on the top level menu. I am unable to see remaining menu tabs towards right."
Hi,

I am pretty new to Hugo and Docsy. But enjoying learning and building cool static website.

We have almost 9 menu tabs on the top level menu bar. When I am trying to access the website in 1280*1024 resolution and 100% zoom . I am unable to see the remaining menu tabs toward right.. Is there any option we can wrap down the tabs when accessing in lower resolution.

Thank you in advance.

SK

[2022-06-17 07:16] fekete-robert commented on #1058
You're right, also the title of the site isn't wrapped when it's longer. Seems like the top header isn't as responsive as the rest of the site.

[2022-06-17 15:40] kiransk9 commented on #1058
I will try to debug and see if I can write some snippet to achieve that .. But, if already any implementation please let me know.

Thanks

[2022-06-17 15:57] geriom commented on #1020
Docsy v0.3.0 is out https://github.com/google/docsy/releases/v0.3.0

[2022-06-17 15:57] #1020 closed

[2022-06-20 02:04] snunez1 opened #1062 "Migrate to Hugo Modules fails becase 'go' can't be found"
Is there a way to do this without installing 'go'?  I'm using the hugo binary on MS Windows and get:
[code]
at the step: ` hugo mod init github.com/me/my-existing-site`. It would be nice to workaround this and not have to install go just to run Docsy; go isn't used anywhere in the organisation.

[2022-06-20 17:05] chipzoller commented on #883
Thank you very much!

[2022-06-20 20:27] deining commented on #1062
Yes, it is.

Please have a look at the assets of the [release page](https://github.com/google/docsy-example/releases) of the `docsy-example` project. There you will find an archive [`_vendor.zip`](https://github.com/google/docsy-example/releases/download/v0.2.0/_vendor.zip). Extract this archive in the root directory of your project. This should result in a new folder `_vendor` created in your pro

[2022-06-21 04:51] snunez1 commented on #1062
Thanks.  After a mighty battle with `git`, I managed to get submodules working. I had cloned from the example project, so my upstream/origin was not docsy, and I found git submodules quite fiddly.

I'll wait until the next major upgrade to move to modules.

I can leave this open as a reminder to document this option (using _vendor.zip), or close it.  I think it would be nice to mention it in the s

[2022-06-21 04:57] snunez1 opened #1063 "Major section divider in section menu"
Is there a way to insert a major section header, similar to the one that says **Documentation**, with a line under it?

The use case is a site that's grown larger, and has several independent modules that are typically used together, but are independently useful.  I've got a section under Documentation that talks about using the collection as a unit, and would like another section, **Manuals**, wh

[2022-06-23 15:42] chalin opened #1065 "Foldable nav behavior changes as of Hugo 0.100.0"
Visit a section with children and prior to Hugo 0.100.0 and you'll see the section entry open (with children visible) in the left nav. After 0.100.0, the same left-nav entry isn't open. For example, compare the state of the left-nav for the following two preview builds:

- https://deploy-preview-1476--opentelemetry.netlify.app/docs/instrumentation/js/api/ - uses Hugo 0.98
- ~https://deploy-preview

[2022-06-23 19:00] raum51 commented on #1065
I had only time for a short look at this issue:

- The problem is the not set CSS class "active-path" for die li tags along the current page path.
- I think we have to redesign line 45 in the sidebar-tree.html partial: https://github.com/google/docsy/blob/9f55cf34808d720bcfff9398c9f9bb7fd8fce4ec/layouts/partials/sidebar-tree.html#L45

Also possible side effects to the JS it the cached sidebar tree

[2022-06-23 19:34] amirootyet opened #1066 "Is there a way to auto-generate a date, based on last edit?"
**Context:** Our Docsy instance is hosted on an Azure Static Web App connected to a Github repo. Build happens via Github Actions.

**Issue:** For every page on Docsy, only the overall last modification to the repo, along with the commit message, is shown. On localhost, we can see the Last Modified for _each page separately_ when we navigate to individual pages, but when hosted on Azure Static Web

[2022-06-23 20:43] chalin commented on #1065
@raum51 - Right. No worries, I have a fix, which I'll port this week (and you'll be welcome to comment on if you have the time).

[2022-06-23 20:51] chalin commented on #1065
/cc @nate-double-u

[2022-06-24 12:02] chalin opened #1071 "Remove ARIA attributes from embedded-page breadcrumbs in taxonomy lists"
From https://github.com/google/docsy/pull/1011#discussion_r905886458:

/cc @at055612

[2022-06-24 12:04] #1065 closed

[2022-06-25 01:10] mikeBoterf opened #1075 "Docsy initial build fails when creating new site"
# Build error
[code]
## Versions
### Hugo
[code]
### Golang
[code]
I'm not even sure where to look for the source of the issue. I am also following the docs on how to start from scratch. I don't think this is an npm package issue as I have the required modules installed globally. The issue for the missing npm which produces a similar issue was observed by myself, but I resolved that issue by insta

[2022-06-25 11:48] marcelbaumann commented on #1075
Similar problem here trying to build a new site under MacOS.

Start building sites …
hugo v0.101.0+extended darwin/amd64 BuildDate=unknown
Error: Error building site: TOCSS: failed to transform "scss/main.scss" (text/x-scss): "/Users/Shared/Projects/tangly-os-site/themes/docsy/assets/scss/main.scss:6:1": File to import not found or unreadable: ../vendor/bootstrap/scss/bootstrap.

[2022-06-25 20:27] mikeBoterf commented on #1075
Interesting, I wonder how many commits we'd have to comb to find the issue.

[2022-06-27 14:52] #948 closed

[2022-06-27 16:14] mikeBoterf commented on #1075
running an ```sudo npm install -g postcss@^8.1.0 ``` resolved an issue where I saw the following:
[code]
 now looks like this:
[code]
I am still seeing this:

[code]

[2022-06-28 05:43] blockomat2100 opened #1076 "swagger-ui DOM XSS"
The swagger-ui which is used by docsy is outdated and prune to a DOM XSS vulnerability.

[2022-06-28 17:17] mikeBoterf commented on #1075
Even the example site is broken:

~/repos/docsy-test$ hugo
hugo: downloading modules …
hugo: collected modules in 11911 ms
Start building sites …
hugo v0.101.0-466fa43c16709b4483689930a4f9ac8add5c9f66+extended linux/amd64 BuildDate=2022-06-16T07:09:16Z VendorInfo=gohugoio
Error: Error building site: POSTCSS: failed to transform "scss/main.css" (text/css): Unexpected identifier
Total in 12749 ms

[2022-06-28 17:18] mikeBoterf commented on #1075
At this point, the only real workaround is to not attempt to build static pages. Instead just serve up some form of your repository and execute ```hugo serve```.

[2022-06-29 14:24] mikeBoterf commented on #1075
[code]
[Following this](https://www.docsy.dev/docs/get-started/other-options/#option-1-docsy-as-a-git-submodule)

[2022-06-30 03:04] liuyueyi commented on #1075
same problem, waiting for conclusion

[2022-06-30 16:33] chalin opened #1077 "Release v0.4.0"
- [x] Prepare Hugo modules for v0.4.0
  - [x] Add / changes the steps in [Publishing a release](https://github.com/google/docsy/blob/main/CONTRIBUTING.md#publishing-a-release) if necessary.
- [x] Publish v0.4.0

[2022-06-30 18:55] chalin commented on #1077
The release is out!

[2022-06-30 18:55] #1077 closed

[2022-06-30 21:38] LisaFC commented on #1066
Hi there,

1. Hmm, not sure what's happening there. The Docsy "last modified" feature uses the Hugo [LastMod](https://gohugo.io/variables/git/#lastmod) variable, which uses [.GitInfo.AuthorDate](https://gohugo.io/variables/git/#the-gitinfo-object). This *should* give you the last modified (in Github) details for each individual page. Might be something to ask the Hugo forum: https://discourse.gohu

[2022-06-30 21:47] LisaFC commented on #1058
The top header currently scrolls across when there are more menu items than fit on the screen but it's not always obvious that it's scrollable. Going to think about how best to signal that without a scrollbar.  The other alternative is, as you say, wrapping down the menu items but that

[Kubeflow](https://www.kubeflow.org/docs/) (a Docsy site with some customization) have tweaked their navbar so t

[2022-06-30 21:54] #1056 closed

[2022-06-30 21:56] LisaFC commented on #1075
@chalin @deining do you have any idea what's going on here with build errors?

[2022-06-30 22:02] LisaFC commented on #1063
It's not built in to the template but should be doable in your site (I hope!) with a bit of tweaking given that the style is already there.

So just to be clear, you'd like essentially two (or more) menus in the same left nav, each with their own "top level" (like Documentation) heading?

[2022-06-30 22:07] LisaFC commented on #1032
Did moving things around in config.toml fix the issue?

[2022-07-01 10:01] stephanlachnit commented on #1075
The issue is commit https://github.com/google/docsy/commit/b6d85f53e7047fb3aeb3bc887a487c6cf49222cd, where `assets/vendor` got deleted.
As you can see here:
https://github.com/google/docsy/blob/2c86307f68964aab1ee715009575a2c8934d829f/assets/scss/main.scss#L6-L10

The main scss file tries to access those from the submodules, but they got deleted. I don't know who tested https://github.com/google/d

[2022-07-01 14:54] chalin commented on #1075
TLDR; works for me (for details, see below) - try again with [release 0.4.0].

---

Hi all. Firstly, [release 0.4.0] is out: can you try it out and let us know if you still have issues? Now that we have an official release process, **we no longer officially support docsy `@HEAD`** -- consider it unstable.

Using release 0.4.0, I'm unable to reproduce the problems you (@mikeBoterf) reported in the

[2022-07-01 15:04] chalin commented on #1062
I'm going to close as the original issue has been addressed. Feel free to open an issue to request for vendorized dependencies if you feel the need. Thanks.

[2022-07-01 15:04] #1062 closed

[2022-07-01 15:08] mikeBoterf commented on #1075
Following your steps:
[code]

[2022-07-01 15:11] mikeBoterf commented on #1075
following [these instructions](https://www.docsy.dev/docs/get-started/docsy-as-module/start-from-scratch/#tldr-setup-for-the-impatient-expert) which were updated, thank you @docsy-devs

[code]

[2022-07-01 15:15] chalin opened #1080 "Create issue template, ask for docsy release ID"
... and mention that we don't _officially_ support Docsy `@HEAD`, though we can still welcome issues.

Also consider asking for Node version (related #1081) and mentioning that we only support the latest Node LTS.

[2022-07-01 15:18] mikeBoterf commented on #1075
trying to cover my bases

[code]

[2022-07-01 15:19] mikeBoterf commented on #1075
[code]

[2022-07-01 15:29] deining commented on #1075
@chalin asked:

Yes, they work for me 😄.

[2022-07-01 15:31] chalin commented on #1075
@mikeBoterf - Thanks for all that, but I still can reproduce it, and it's working for @deining too.

One thing comes to mind: ensure that you're **using the latest LTS version of Node**. I recall a project having problems when they were using an earlier version of Node. Can you update and give it another try?

[2022-07-01 15:32] mikeBoterf commented on #1075
I'll post what I have and what it upgraded to. That is probably an issue.

[2022-07-01 15:33] chalin opened #1081 "Document prerequisite of the latest Node LTS"
I thought that we had documented this, but apparently we don't.

[2022-07-01 15:46] mikeBoterf commented on #1075
I believe I for some reason installed npm.. which installed an ancient 10.x version of nodejs

I upgraded to 18 which pushed npm to 8.. I believe my npm was at a 6 or so. BUMMER

[2022-07-01 15:46] mikeBoterf commented on #1075
thanks for being patient @chalin

[2022-07-01 15:47] #1075 closed

[2022-07-01 15:47] chalin opened #1083 "Use a variable / param for the Docsy version"
- [x] We currently have the docsy version hard-coded in the docs. We should use a config parameter instead.
  - [x] #1105
  - [x] #1145
- [ ] Add docsy version to Getting starting instructions
- [ ] Something needs to be done with the README instructions that direct users to just clone the repo (w/o specifying a tag or release). Related to this is:
    - #1085

[2022-07-01 16:05] chalin commented on #1075
I'm glad that this got sorted out.

(FYI, I'll be following through with #1081.)

[2022-07-01 16:15] chalin opened #1085 "README prerequisites are outdated: direct reader to UG Installation options instead"
The prerequisites listed in the README are outdated, and no longer reflect the available options. We should direct users to [Installation options].

[Installation options]: https://www.docsy.dev/docs/get-started/#installation-options

[2022-07-01 17:22] mikeBoterf commented on #1081
@chalin do we want this under installation-requirements.md under userguide/?

[2022-07-01 17:50] mikeBoterf commented on #1081
@chalin FYI
https://github.com/google/docsy/pull/1086

[2022-07-01 17:53] mikeBoterf commented on #1075
The documentation should be updated on the site. Hopefully nobody should have to review this issue in the future.

[2022-07-01 18:51] #1081 closed

[2022-07-01 23:53] emily-potyraj commented on #890
+1. Thanks for sharing the diff @at055612. Worked like a charm.

[2022-07-02 05:58] polarweasel commented on #853
It's weird indeed, and really breaking a bunch of our pages, but it's coded into Docsy's TOC generation... If the generated HTML for that TOC is less than 200 characters, the TOC doesn't get output into the page.

What is the reasoning behind the 200-character minimum?

https://github.com/google/docsy/blob/main/layouts/partials/toc.html#L3

[2022-07-03 23:38] snunez1 commented on #1063
@LisaFC, yes that is correct, multiple top-levels.

[2022-07-04 04:50] snunez1 commented on #1063
I suppose I should also ask about the use case.  This is my solution to a set of projects that has grown enough to require better organisation, and I wonder if perhaps the technical documentation experts here have any better suggestions.

The situation is 4 projects, all useful independently, but normally working together that have gotten larger and better documented.  I've generally followed the

[2022-07-04 06:26] fekete-robert commented on #1063
@snunez1 You might want to check the Istio documentation (https://istio.io/latest/docs/concepts/traffic-management/), I think that's the style you are looking for. They are using Hugo, but I haven't had the time yet to dig into their layout to see how it's getting done. Here is their repo: https://github.com/istio/istio.io/

[2022-07-04 07:09] snunez1 commented on #1063
Thanks. That's a very nice side bar / TOC indeed, and something like what I had in mind.  If Docsy had a side bar like that, I imagine just about every use case could be catered for. I especially like the Istio font & spacing; they fit quite a bit of navigation information into that sidebar.

[2022-07-04 10:53] LisaFC commented on #1063
The Istio docs are lovely but a lot of the presentation/navigation was hand-written specifically for that site by one of the SWEs and I don't *think* the sidebar is fully autogenerated (I used to work on Istio and in fact wrote most of the original version of the article Robert linked to :) ) - let me dig into a bit.

You can easily change the font and other text styling (size etc.) on your Docsy

[2022-07-04 11:28] LisaFC commented on #1063
Ok, had a look and the Istio sidebar menu *is* autogenerated and it's basically just multiple generated submenus, each in their own div with a header. I don't *think* you'd need to completely refactor your left nav code to get a similar effect with the existing Docsy code but I'm going to play around with styles a bit to see what you could do. @chalin or @narrenfrei might have ideas too.

For your

[2022-07-04 15:45] LisaFC commented on #1085
I can take this one.

[2022-07-04 15:47] chalin opened #1089 "Check links in the user guide"

[2022-07-04 19:45] polarweasel commented on #853
Should have added: I've fixed this locally by overriding the `toc.html` shortcode, but this behaviour should get fixed in Docsy. I lowered the minimum to 100 for now.

[2022-07-05 14:56] raum51 commented on #1063
In a specific case, the desired appearance should be easily implemented using CSS (or SCSS). For such a case I introduced the CSS classes ul-0, ul-1, ul-2, ... - which count the nesting depth of the menu (70bf4bc580ce984c042dcfd9eeb0637cfe63cc59 by my old handler @narrenfrei).

For a general solution - in other words: activating such an appearance using a parameter, it unfortunately looks a bit mo

[2022-07-06 05:18] snunez1 commented on #1063
That sounds like some of the features in our systems.  We glommed on a bunch of functionality in the interests of time, and now we're paying the price and fixing them 'properly' because it's not going to get easier in the future.

[2022-07-06 18:11] deining commented on #1089
Please note, that this [issue](https://github.com/google/docsy-example/issues/161) which was raised in the example site already, they suggest [hyperlink](https://github.com/untitaker/hyperlink) as link checking tool.
Another approach is to use the netflify's checklinks plugin. I experimented with this plugin in this [branch](https://github.com/deining/docsy/tree/link-check) a while ago. Results we

[2022-07-06 18:25] amirootyet commented on #805
For everyone's awareness, while I initially thought the fix for this seemingly random Mac issue is an OS upgrade, that is not the case. This error creeps up randomly after a few weeks on my machine and then a system restart fixes it.

The reason it worked before was because I did a system restart as part of the OS upgrade process. Not familiar enough with Hugo to guess why this error creeps up now

[2022-07-06 20:55] polarweasel commented on #853
@raum51 I wonder what the logic behind the character count is, rather than a word count (or better, heading count)?

At Yugabyte, we're doing a variety of overrides with the TOC, but I'll ask the developer who's working on our site to take a look at this issue.

[2022-07-06 21:58] amirootyet commented on #1041
Thank you. I tried adding it to the `page-meta-lastmod.html` and it shows up on the page but not in the "print" version ("Print entire section"). Is there a way that it also shows up on the exported PDF?

Within the [content](https://github.com/google/docsy/blob/main/layouts/_default/content.html), is there a way to add the string to this `.Content` variable? Perhaps then it will show up under "pr

[2022-07-07 10:26] chalin commented on #1089
Thanks for the background info @deining. I'll look into that as soon as I can.

[2022-07-07 10:48] #1085 closed

[2022-07-08 14:09] domingosbarreto commented on #805
Did you find a solution for this? I'm using Windows and restart doesn't fix. Since the error appeared the first time, I'm unable to do anything. And running a new Hugo site that does not uses Docsy works.

[2022-07-08 16:04] kimberleybrown commented on #1058
A hamburger menu with dropdown would be a great addition I think for the mobile version. Is there a possibility that we could make this a config toggle in case some folks prefer what's originally there for mobile?

[2022-07-08 23:01] prepstarr opened #1091 "FreeBSD installation instructions"
We need to include FreeBSD into the documentation. There is likely more people that will use BSD to install it then there are people using Mac and it would be nice if they were included in the documentation. Further google supports BSD.

[2022-07-09 13:50] chalin commented on #968
When I first created this issue, I had suggested (via the title) that the page auto-description feature should be opt-in. Investigating this a bit more I've come to realized that Hugo's [internal templates] (such as for Twitter and Open Graph) consistently set meta-description elements using the same code, namely:

[code]

We should consider doing the same.

For internal template files, see https:

[2022-07-10 04:00] prepstarr commented on #968
My opinion if the opt in feature is obvious that could work but if for example someone see that page and the opt in feature was not obvious then they will be like well I want my meta headers as such... and they will look into ways of changing them so that it's what fits there needs but if they have this empty version it could serve as an empty template for them as well...

[2022-07-10 21:45] mnordhaus commented on #853
Let me link my Idea here it is not similar, but related: https://github.com/google/docsy/discussions/1093 IMHO it should be possible that the reader can navigate to the contents of the righthand sidebar even on a small screen like an iPhone. I am happy to hear your thoughts on that discussion item. I am currently experimenting with that Idea.

[2022-07-11 03:19] ivan3bx commented on #805
I've only been using docsy a few weeks, but encountered this same error.  I found reference to "failed to resolve output format" elsewhere ([external link](https://wowchemy.com/docs/hugo-tutorials/troubleshooting/#error-failed-to-resolve-output-format)), and I was able to fix with the following (Mac Mini, i7 MacOS 12.4, uptime 18+ days):

1. Removed `$TMPDIR/hugo_cache/` (per the troubleshooting a

[2022-07-11 04:53] liyanlong1 opened #1094 "从1.0升级到2.0后指标映射无任何信息，也没办法添加"
如标题：从1.0升级到2.0后指标映射无任何信息，也没办法添加

[2022-07-12 16:28] ajfriesen commented on #1032
Okay, after some testing I discovered my error.
I added this in the middle in the [params] section.

[code]

Not used to writing `toml` I guess.
After moving it to its own section everything works as expected!

Will close this one then :)

[2022-07-12 16:28] #1032 closed

[2022-07-12 20:23] chalin opened #1096 "Support Google Analytics 4 (GA4) and migration to GA4"
**Universal Analytics (UA) is [officially deprecated]**:

- Data collection will stop on July 1st, 2023
- Six months after that, historical data will be gone too

The sooner projects migrate to Google Analytics 4 (GA4), the better.

A number of downstream projects have started migrating to GA4, including CNCF projects (https://github.com/cncf/techdocs/issues/108).

We should do what we can to help

[2022-07-12 20:24] chalin opened #1097 "Setup Google Analytics for User Guide and Example"
The user guide config currently uses the bogus ID `UA-00000000-0`. We need a (real) analytics ID for the Docsy website. @LisaFC, @emckean can we create one?

### Tasks

- [x] Create a community GA4 property - [G-VMZY37B6T8]
- [x] Configure the new GA4 property through [Netlify snippet injection] for:
  - [x] User guide
  - [x] Docsy example

[G-VMZY37B6T8]: https://analytics.google.com/analytics/w

[2022-07-12 20:37] chalin opened #1099 "User guide: reenable page Feedback"
PR  #1098 removed (what I believe to be) the bogus analytics ID that was being used. As a consequence, the page feedback widget will no longer appear. Once #1097 is resolved, this issue should automatically be resolved too, but I'm creating a separate issue in case folks notice that the feedback form is gone and scan the issue list for "feedback" :).

[2022-07-12 21:50] chalin commented on #1099
After some thought I decided to re-introduce the bogus GA ID via the now recommended top-level config param. So, closing this issue.

[2022-07-12 21:50] #1099 closed

[2022-07-12 21:53] chalin opened #1100 "[CI] Add smoke tests of building a Docsy site from scratch"
Consider adding a smoke test along the lines of what was proposed in https://github.com/google/docsy/issues/1075#issuecomment-1172432277:

[code]

Related:

- #726

[2022-07-12 22:08] emckean commented on #1100
I really need to come back to this! Hopefully soon ...

[2022-07-13 13:34] deitch commented on #204
Is this somewhat out of date? I had been trying using docsy as a git submodule, so:

[code]

but I still get the errors, no submodules cloned, same missing `../vendor/...` error. So I looked at the docsy source, and I see no `.gitmodules` file at all.

Is submodules no longer supported?

[2022-07-13 13:49] deitch commented on #204
Eh, never mind. I switched to hugo modules. Still cannot get dependencies working, but I will find a relevant issue or open a new one.

[2022-07-13 15:17] #1094 closed

[2022-07-14 01:21] snunez1 commented on #1063
https://lisp-stat.dev/

That's on an early version of Docsy; I've since upgraded locally to 0.3.  I'm hoping to push a new version as soon as I work out navigation.

[2022-07-14 06:19] lyjqklxtc opened #1101 "我"

[2022-07-15 17:43] chalin opened #1104 "More than one tab shown at a time"
To reproduce:

1. Visit https://www.docsy.dev/docs/get-started/docsy-as-module/start-from-scratch/#add-theme-module-configuration-settings
2. Click on **config.yaml**

We then see _both_ the YAML and JSON formats:

[2022-07-17 21:08] huehnerlady commented on #311
I am also missing this functionality for grouping different items in a drop-down menu. as you have that funtionality for versions should it not be possible to implement this for custom items?

[2022-07-18 15:11] #1104 closed

[2022-07-18 15:37] verticadocs commented on #1024
That's what it is doing now. The index is built when Hugo builds the site. The delay isn't caused by re-indexing. It's caused by parsing and loading the index's JSON data. Because the index is loaded on every page, the browser has to re-parse all 10MB of JSON on each page load. That's what is causing the delay.

I've patched around this a bit by hacking the `assets/js/offline-search.js` file to no

[2022-07-18 23:57] wrex opened #1108 "Adding Content (images in different locale subdirs)"
This section caused me some confusion while playing with docsy again for the first time in ages:

I replaced the default background image in the example site, but only did it in the `en` subdirectory (I forgot there was another locale). Unfortunately (I think because `fa` sorts after `en`), this meant that changing the background image had no effect whatsoever. I was pulling my hair out refreshing

[2022-07-19 12:56] Sarahgold530 commented on #381
My images are also not showing on "print entire section" despite having tried the solutions @tshort provided. i updated my figure.html using above codes and yet no success. It only shows the images alt value

[2022-07-20 07:51] wtchangdm commented on #204
(Sorry for digging this old issue out again)

Hi @deitch, have you found any solutions? I switched to hugo module but can't get it work.

[2022-07-20 12:37] chalin commented on #470
Extra incentive to schedule migration to v5 before year's end:

- v4 critical support ends: 2022/11
- v4 EOL: 2023/01

Sources:

- https://blog.getbootstrap.com/2022/07/19/bootstrap-4-6-2/
- https://endoflife.date/bootstrap

/cc @geriom @emckean

[2022-07-25 06:26] shanmydell commented on #285
@deining : Is this issue resolved, we are seeing this issue in our repository as well

[2022-07-25 13:09] shanmydell opened #1111 "Lunr search is broken in latest docsy release"
https://github.com/dell/csm-docs

Please refer to the code above.

Locally also it is broken with GH pages also it is broken

Note: With 0.2.0 release only GH page is broken , as this is a major blocked , please look into this as soon as possible

[2022-07-25 13:12] shanmydell commented on #1111
@chalin @Marzal @arnaudlevy : Could you please look into this isseu

[2022-07-25 17:24] coulof commented on #1111
When doing a search the JS console errors:
[code]

[2022-07-25 18:36] chalin commented on #1111
I confirm that I'm seeing the same error. @shanmydell - thanks for the link to the website that you're seeing the problem with. I'll take a closer look shortly.

/cc @nate-double-u @thisisobate since we have a sit that is being switched over to Lunr

[2022-07-25 21:59] #1111 closed

[2022-07-25 21:59] Marzal commented on #1111
With Gitlab Pages and docsy@v0.4.0 I see no error using Lunr

https://gitlab.com/Marzal/mundolibre

[2022-07-25 22:09] chalin commented on #1111
- Fixed via #1112
- Docsy project fixed via https://github.com/dell/csm-docs/pull/297

[2022-07-25 22:13] chalin commented on #1111
Thanks for the feedback @Marzal. Hopefully the fix in #1112 will leave your site fully functional -- I think it will, but in case it affects the styling of the close-search-results button, please let me know.

[2022-07-25 22:27] #1101 closed

[2022-07-25 22:30] chalin opened #1113 "Update user guide following #1092 - new meta description"
- Code change: #1092
- Revert all/part of #662

[2022-07-25 23:20] Marzal opened #1114 "Broken URLs since Hugo 101 due to leading slash and relURL"
Since [Hugo 101](https://github.com/gohugoio/hugo/commit/a5a4422aaeffe0e9df713cf09c73a9cc423a2e1e), if you use a leading slash in a path with relURL, Hugo will not prepend the baseURL directory as documented in this issue https://github.com/gohugoio/hugo/issues/10049

For context, see:

- Commit https://github.com/gohugoio/hugo/pull/10002
-  Bug https://github.com/gohugoio/hugo/issues/9994

I only

[2022-07-26 08:03] shanmydell commented on #1111
@chalin : thanks for the quick turnaround

[2022-07-26 14:45] chalin commented on #1111
Post-merge comments are still welcome @geriom.

[2022-07-26 15:27] E-G-C opened #1115 "nil pointer evaluating page.Page.IsHome on blog only site"
Similar to #804, when a site is set to "blog only" we get the error:

[code]
steps to reproduce:

- create a [new docsy site from scratch](https://www.docsy.dev/docs/get-started/docsy-as-module/start-from-scratch/#tldr-setup-for-the-impatient-expert)
- create an  `_index.md` into the `content` directory:
[code]
- launch  `hugo server` if you have not
- open `localhost:1313` in your browser
- check

[2022-07-26 15:51] LisaFC commented on #1058
(sorry, was on holidays so just catching up on messages)

I'll have a look!

[2022-07-26 15:53] LisaFC commented on #1108
Hmm, let me take a look at the code/URL that's pulling that image - it seems like it *should* be possible to single source it, but the ways of Hugo are sometimes mysterious....

[2022-07-26 15:56] LisaFC commented on #853
What do we think of @samiahmedsiddiqui's solution in #1110 (thanks for that!)? We'd need to document it as well obviously.

[2022-07-26 16:17] richvdh opened #1116 "Problem with scroll-anchoring"
Using Firefox 102.0.1, and Google Chrome 103.0.5060.134:

The `height: 100vh` property on `.td-outer` ([link](https://github.com/google/docsy/blob/main/assets/scss/_main-container.scss#L5)) seems to break scroll-anchoring, so that resizing the window causes the content to scroll to a completely different location. Removing that property restores scroll-anchoring (and doesn't seem to have any other

[2022-07-26 18:51] chalin opened #1120 "Offer Docsy as a single Hugo Module"
The intent would be to **streamline use of Docsy for Hugo Module users**, something which (IMHO) makes sense to do now that [Git submodules]() were removed in [0.4.0](https://github.com/google/docsy/blob/main/CHANGELOG.md#040), and NPM-package support is available (#949).

@deining - I can't find the thread, but at some point we discussed the possibility of eliminating the `dependencies` module, w

[2022-07-26 19:06] chalin commented on #1115
Thanks for the clean and simple repro @E-G-C!

[2022-07-26 19:10] chalin commented on #1115
Fixed. Can you give it a try @E-G-C?

[2022-07-26 23:28] E-G-C commented on #1115
yes, the error is  gone, got some warnings thought
[code]

[2022-07-27 01:20] jasonday opened #1122 "How to create custom script commands?"
I have docsy set up as a hugo module.

I'd like to add a custom command when I run a build process, but there's no `package.json` in my site directory, only in the the `themes/docsy` directory. However, if I add a custom script there such as: `"test":"npm -v"` and attempt to run `hugo test` I get an error that no such command exists.

Is there a way to add custom scripts to site generation?

[2022-07-27 10:12] #949 closed

[2022-07-27 11:33] LisaFC commented on #1122
@chalin @geriom @deining any ideas? This might also be a good question for the general Hugo discussion board: https://discourse.gohugo.io/

[2022-07-27 11:34] LisaFC commented on #1116
Huh, well spotted. Do you want to create a PR to change that setting for Docsy and we can see how/if it does anything unwanted on our docs site?

[2022-07-27 11:36] LisaFC commented on #1114
Thanks for spotting that, does it look like this is a permanent breaking change in Hugo that we'll need to work around/update or something that's likely to go away in a future version?

[2022-07-27 12:03] LisaFC commented on #1108
So it is indeed Hugo weirdness, the cover block is looking for the image as a [page resource](https://gohugo.io/content-management/page-resources/) which means it has to be in the same "bundle" (directory with an index file at the root) as the page. Going to poke around some more and see if there's a nice way of having common resources across different language dirs other than just sticking them a

[2022-07-27 13:12] chalin commented on #1122
Hi. Hugo modules are unrelated to NPM. I don't know if Hugo supports such custom scripting. Your best bet would be to ask on the Hugo discourse at the link that Lisa gave. If you do so, could you post the link here? Thanks!

[2022-07-27 13:15] chalin commented on #1115
@E-G-C, thanks for the feedback. Do you have a repro, or can you share a link to your repo?

[2022-07-27 13:24] BradHolmes opened #1123 "PrismJS is outdated and prone to DOM XSS"
A checkmarx scan of our docsy-themed documentation turned up a reported Client DOM XSS vulnerability in `static/js/prims.js`.  It reports:

The problematic 'o' method:

[code]

I see that `static/js/prism.js` appears to be a hard-coded copy of approximately v1.21.0 of primsjs.  But it isn't clear where exactly it came from.  Should it be pulled in dynamically as an npm dependency?  Or alternativel

[2022-07-27 14:36] Marzal commented on #1114
As far as I understand from the conversation in the links above, the old behavior (Hugo <101) was an unwanted behavior now fixed.

Here is a good summary of how things are now implemented:
https://github.com/gohugoio/hugo/issues/9994#issuecomment-1153588586

[2022-07-27 14:50] LisaFC commented on #1108
Though also, hmm ....https://gohugo.io/content-management/multilingual/#page-bundles, so it should just work. Let me look at the rules more closely.

Our example site has a Norwegian version that has [no specific background cover image of its own](https://github.com/google/docsy-example/tree/master/content/no) and it serves up just fine: https://example.docsy.dev/no/

[2022-07-27 14:53] LisaFC commented on #1108
Did you actually remove the image from the `fa` directory? It looks like the behaviour is to pull the image from the top-weighted language directory *if there's nothing matching in the current language-specific directory*. So if you just have a cover image in one directory, that becomes your single source of truth.

[2022-07-27 15:00] LisaFC commented on #1108
Also I hadn't realized there was an actual image in the `fa` directory in the example site - I think because the community member who added it as a RTL example just copied everything across. I'll add a PR to remove it. Do you think we should also add something to the docs for multilanguage, even just adding a link to the Hugo doc above?

[2022-07-27 15:31] LisaFC commented on #805
Should we add this as a known issue in the docs, as it seems to crop up fairly frequently?

[2022-07-27 15:44] chalin commented on #1114
Thanks for the detailed report @Marzal! I'm investigating.

[2022-07-27 16:05] LisaFC commented on #1123
@chalin what do you think?

[2022-07-27 16:37] wrex commented on #1108
I'm still pre-coffee, but after re-cloning the example site into a new directory:

[code]

(edit `config.toml` to remove `"print"` from the section array)

[code]

Am I missing something obvious?

[2022-07-27 16:43] LisaFC commented on #1108
I wonder are you running into #805, could be some kind of caching issue? What version of Hugo are you using?

[2022-07-27 16:50] wrex commented on #1108
[code]

Let me get some coffee and see if there's something weird with my enironment. Brand new git clone, though, so it seems odd.

[2022-07-27 16:54] LisaFC commented on #1108
That is odd. It's building fine straight from the repo with Netlify, think we're Hugo v0.100.1 there (should update).

[2022-07-27 17:09] richvdh commented on #1116
I'm very happy to (#1128), though I have to say, I'm far from a CSS expert. I suspect that setting must be there for a reason, and its removal is likely to cause breakage...

[2022-07-27 17:30] chalin commented on #968
Closed by #1092

[2022-07-27 17:30] #968 closed

[2022-07-27 18:10] LisaFC commented on #1123
No objections here!

[2022-07-27 18:19] LisaFC commented on #1116
@chalin do you want to take a look? I'm playing around with the window size in preview and it doesn't seem to have done anything weird, but I'm not a CSS expert either.

[2022-07-27 18:52] wrex commented on #1108
Aaaaand two hours later my iMac is up on 12.5, hugo was persuaded to re-download modules, and everything is working normally. (In my professional life, "oh well, that fixed it" would never suffice, I'd insist on figuring out the root cause to ensure it doesn't happen again. Since this is a personal project, however, I've zero interest in exploring further. :grin:)

Anyway, I'm happy to report #181

[2022-07-27 18:58] wrex commented on #805
I'm biased from having just run into this, but I'd say it's worthy of a mention somewhere in the docs.

My bad for not reading the entire thread: I missed @ivan3bx's explanation in  https://github.com/google/docsy/issues/805#issuecomment-1179919662

This does indeed appear to be the precise issue.

[2022-07-27 19:42] lschierer opened #1130 "mermaid graphs not working with gitGraph type"
The following document works as expected:
[code]

this alternate document displays just the title and an otherwise blank page.

[code]

as best I can tell, this implementation of mermaid does not support the gitGraph graph type.  If this is a true statement, consider that a feature request.  If it is something I am doing wrong, please consider it a bug against the documentation (please give an exa

[2022-07-27 20:31] chalin commented on #1114
From https://github.com/google/docsy/pull/1127#issuecomment-1197313702, @Marzal wrote:

From the tests that I've run, surprisingly "/" seems to still work, but that seems odd. Thanks for the reference, I'll give `""` a try.

[2022-07-27 21:26] emckean commented on #1123
+1 for CDN

[2022-07-28 00:31] chalin opened #1133 "404 layout generates invalid HTML"
The current 404 layout causes nested `<main>` elements to be generated:

[code]

This is an instance of #907.

[2022-07-28 02:12] MadhuSaini22 commented on #1047
@LisaFC @yuanying please assign this tasks to me, wanted to work on it.

[2022-07-28 10:25] chalin commented on #1116
@thisisobate - could you take a look? Thanks. /cc @nate-double-u

[2022-07-28 11:30] LisaFC commented on #1130
@gwatts you did the Mermaid integration if I remember correctly, do you have time to take a look at this?

[2022-07-28 14:09] thisisobate commented on #1116
I tried toggling off the `height` attribute via the chrome developer console but resizing the window still causes the content to scroll to a different location. Case in point, [docsy.dev](https://www.docsy.dev/).

I think [scroll-anchoring behaviors](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor/Guide_to_scroll_anchoring) are meant to occur when a user scrolls to read content; I

[2022-07-28 16:33] LisaFC commented on #1108
No problem, happy to help.

[2022-07-28 16:33] #1108 closed

[2022-07-28 16:35] #1113 closed

[2022-07-28 18:54] #1114 closed

[2022-07-28 18:55] chalin commented on #1114
I don't believe that there are any further changes necessary to address this issue. So I consider it closed by #1134.

[2022-07-28 20:13] chalin opened #1136 "A number of layouts generate nested <main> elements"
- `<main>` elements cannot be nested -- it isn't valid HTML
- Also, the main role is unnecessary for element main -- according to the w3.org validator
- For a concrete example, see #1133

[2022-07-28 21:19] chalin commented on #1116
The height is there to force the footer to be positioned at the bottom of the page (in wide views), so we can't remove it. Visit the [Community page](https://www.docsy.dev/community/) and toggle the height, you'll see what I mean.

I agree that there _might_ be something to be addressed here, but just removing `height: 100vh` isn't it. I'll need to investigate further. Comment and ideas are welcom

[2022-07-28 21:21] chalin commented on #1116
Interesting hits from this query for me (FYI): https://www.google.com/search?q=why+use+a+css+height+of+100vh

[2022-07-29 04:57] gwatts commented on #1130
Opened PR  #1138 to upgrade Mermaid to the latest version; seems to fix the issue based on some quick local tests

[2022-07-29 10:24] LisaFC commented on #1130
Thanks Gareth!

[2022-07-29 10:24] #1130 closed

[2022-07-29 11:53] richvdh commented on #1116
Yes, that makes sense. Unfortunately this is now out of the range of my limited CSS knowledge, so I'm going to close my PR and let people who know what they are doing find a better solution here :)

[2022-07-29 17:53] chalin commented on #1116
@richvdh - I tried out https://github.com/matrix-org/matrix-spec/pull/1183, and it doesn't seem to fix the problem. We can keep this issue open, but I won't have time to investigate for a while. @thisisobate if you have more ideas, let us know.

[2022-07-29 20:01] emckean commented on #1097
looking into it! :)

[2022-07-31 15:16] dorifr opened #1139 "Extending Prism to new language is not working"
Extending Prism to a new language is not working.
I followed the documentation instructions:
1. I updated prism_syntax_highlighting = true in the config.toml file.
2. I downloaded prism 1.28 with a new language.
3. I copied the new prism.js and prism.css to static/js and static/css respectively.
4. I ran the command hugo server
and nothing happens. The old prism 1.21 version was not replaced by th

[2022-08-01 10:11] richvdh commented on #1116
I can imagine that on other sites, there might be other problems, but empirically, https://github.com/matrix-org/matrix-spec/pull/1183 seems to work fine for me on our particular site! Did you try it on our site (https://pr1183--matrix-spec-previews.netlify.app/), or another?

[2022-08-01 10:18] ricken07 opened #1140 "Error while customizing the theme"
Hello, I get this error when I customize the default theme
`Exception in thread "AWT-EventQueue-0" java.lang.NullPointerException: Cannot invoke "java.awt.Color.getRed()" because "this.from" is null
	at mdlaf.animation.MaterialUITimer.<init>(MaterialUITimer.java:79)
	at mdlaf.animation.MaterialUIMovement.getMovement(MaterialUIMovement.java:54)
	at mdlaf.animation.MaterialUIMovement.getMovement(Mat

[2022-08-01 19:34] emckean commented on #285
this issue seems related: https://github.com/google/docsy-example/issues/182

[2022-08-01 21:31] heinrich-ulbricht opened #1141 "Good practice/sample for adding social bar (e.g. share on Twitter) to blog posts?"
Searching the documentation I did not find guidance on adding the usual social features found on many blogs. You know, the button bar motivating the user to share on Twitter, LinkedIn, via email etc.

Is that out of scope of the core functionality? Did I not find it? Is this something one has to build? (Is it so easy to enable/build it's not worth documenting it?) Are there samples you'd recommend

[2022-08-02 14:47] #1133 closed

[2022-08-02 15:15] BradHolmes commented on #1123
Is there anything I can do to help make this switch to CDN?

[2022-08-03 10:47] LisaFC commented on #1141
Do you have any good examples of this? I haven't seen this feature on any of our Docsy examples, and it's not something that had occurred to me before but I can see how it might be useful.

Something like the share icons on this blog? https://developers.googleblog.com/2022/07/how-to-use-app-engine-blobstore-Module15.html. The share URLs don't seem complicated if you want to build something yoursel

[2022-08-03 10:48] LisaFC commented on #1139
@alexearnshaw do you want to take a look at this? Anyone else done much with Prism? I can take a look myself as well.

[2022-08-03 12:15] ajfriesen opened #1144 "Is it possible to adjust the height of a rendered markmap?"
When using MarkMaps they are always a fixed size.
We have huge whitespace below the created mindmap svg.
Especially when you create markmaps with a lot of horizontal content which could easily be shown on the page. But the whitespace is not allowing that.

Is it somehow possible to increase the height of the rendered markmap?

[2022-08-03 19:01] heinrich-ulbricht commented on #1141
I had something like the Google blog in mind, good example! A "copy permalink" button as generic fallback plus chosen specific platforms to share with.

No clue though where and how to integrate this (yet).

[2022-08-06 09:57] chalin opened #1146 "User guide: drop/rework comment about GA params"
_Originally posted by @chalin in https://github.com/google/docsy/issues/1098#issuecomment-1185659042_

[2022-08-06 09:59] #921 closed

[2022-08-07 02:01] heinrich-ulbricht commented on #1141
Note: came across the hugo-clarity theme, which has a "Share Bar" on top of blog posts, visible e.g. here https://neonmirrors.net/post/2022-07/attesting-image-scans-kyverno/

[2022-08-09 14:44] chalin commented on #853
Related:

- #326
- https://github.com/open-telemetry/opentelemetry.io/issues/712

Some thoughts on the subject:

- Character count of the TOC is not a sensible metric, so we shouldn't parameterize on that.
- In fact, I don't think that we should add any parameters at all. The default behavior should be the following (IMHO): if the TOC is non-empty, then show it, otherwise don't. If projects want t

[2022-08-09 15:15] chalin commented on #853
- Proposed solution: #1147

[2022-08-09 17:18] chalin commented on #1123
Looking into this a bit more, and reading about how Docsy provides Prism support I'd like to suggest that we simply update the Prism JS and CSS files to the current version (1.28.0 atm).

[2022-08-09 17:49] chalin commented on #1141
This seems like a great feature to have.

IMHO our current nav is too busy -- something I've been wanting to address for a while. The text labels could be replaced by icons (pushing the text into the button title). Here's mockup of what I have in mind:

[2022-08-09 17:49] LisaFC commented on #853
Agreed! The only situation I can think of where you *might* not want to display the TOC would be if you had a page with only one heading or something and it looked a bit odd - but in that case we have a parameter to switch off the TOC, don't we?

[2022-08-09 17:55] chalin commented on #853
Right it sometimes looks odd, but I've seen cases (where the pages are particularly long), where it makes sense to keep the solo TOC entry.

Yes, the `notoc` page parameter. Though that doesn't seem to be documented. I'll create an issue for that.

[2022-08-09 17:56] chalin opened #1150 "Document the `notoc` page parameter"
For context, see https://github.com/google/docsy/issues/853#issuecomment-1209695986.

[2022-08-09 18:35] kolos26 commented on #1141
TBH, it still looks a bit overcrowded to me, I'd suggest making it possible to set its location from the config, or maybe separately enable/disable the block in the right-hand toc and maybe at the bottom of the pages.

[2022-08-09 19:37] chalin commented on #729
@LisaFC - any updates?

[2022-08-09 19:42] chalin opened #1151 "Improve version_menu_pagelinks feature to avoid 404s"
For context, see:

- #1054

Linking to pages that exist between versions is the easy part. Avoiding 404s is essential for most projects I work with.

[2022-08-10 01:26] roberthbailey opened #1152 "Issues created from the website should use a template and link to the page they were created from"
**Is your feature request related to a problem? Please describe.**
Right now if you click on the "Create documentation issue" link from a page on the website, it opens a new issue with the issue title set to the name of the page and nothing in the body.

**Describe the solution you'd like**
I would like for documentation issues created from the website to use a template (like [this one that is use

[2022-08-10 02:54] tyjin opened #1153 "zbxtable2.0 首页Linux任何资产都没显示,求解决"
你好，目前安装了最新版zbxtable2.0.登陆进去看，看不到linux主机，日志报错如下：

2022/08/10 10:46:01.769 [C] [panic.go:1038]  the request url is  /v1/host/10
2022/08/10 10:46:01.769 [C] [panic.go:1038]  Handler crashed with error runtime error: index out of range [0] with length 0
2022/08/10 10:46:01.769 [C] [panic.go:1038]  /usr/local/go/src/runtime/panic.go:1038
2022/08/10 10:46:01.769 [C] [panic.go:1038]  /usr/local/go/src/ru

[2022-08-10 07:03] heinrich-ulbricht commented on #605
As heads-up: this topic currently gets some traction in Germany. People are getting fined for pulling in fonts from Google servers because this gives their IP address (which seems to be [PII](https://en.wikipedia.org/wiki/Personal_data)) to Google, without user consent. -> https://www.golem.de/news/google-fonts-abmahnungen-an-webseitenbetreiber-mit-google-schriftarten-2208-167472.html

[2022-08-10 13:52] markmandel commented on #1152
Just doing some research - you can prefill an issue from Github URL parameters!

https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue#creating-an-issue-from-a-url-query

[2022-08-11 12:02] #853 closed

[2022-08-11 12:02] #326 closed

[2022-08-11 12:27] LisaFC commented on #1152
So that should be doable, as in the docs Mark linked to, you can add body text to an issue as well as just a title (as we do) using the link URL. Though a full template would involve building an *enormous* issue URL, and would probably be difficult to create template text that worked for all Docsy users. You could maybe pull it from a file.... Would even just the full URL of the page in the body b

[2022-08-11 17:34] LisaFC commented on #729
Thanks for the reminder, looks like it should now be possible to disable Prism in the autoloader so I'm going to give it a try...

[2022-08-11 17:58] LisaFC commented on #1144
Have just seen that the height is hardcoded here:
https://github.com/google/docsy/blob/main/layouts/partials/scripts.html#L16

I need to fix something else in that file, and then I'll see if I can make it more flexible.

[2022-08-12 00:08] chalin opened #1154 "cards-pane and tabbed-panes style import causes style overrides of Bootstrap card and Docsy highlight styles"
The following PR

- #1009

introduced an override of the Bootstrap styles for `.card-deck`, `.card`, etc. through `shortcodes/cards-pane.scss`. This style overrides is an undesirable **breaking change**.

My guess is that this problem was introduced way back via:

- #532

but that it wasn't as obviously manifested until `cards-pane.scss` got processed along with all other Bootstrap styles (as is d

[2022-08-12 11:53] LisaFC commented on #1153
It looks like this issue was created in the wrong repo!

[2022-08-12 11:53] #1153 closed

[2022-08-12 12:04] chalin opened #1156 "Google search console should be registered as an Open Source project"
Google search console account should be registered as ~nonprofit~ open source project so that we can turn off ads.

[2022-08-12 12:44] chalin opened #1158 "card-code has excess margin at bottom"
Visit https://www.docsy.dev/docs/adding-content/shortcodes/#shortcode-card-code-for-programming-code and you'll see:

There's an excess 32px margin at the bottom of the **C** card-code example.

/cc @deining

[2022-08-12 13:13] LisaFC commented on #1156
@emckean do you know how we can do this?

[2022-08-12 14:04] chalin commented on #1158
While working on this issue it might make sense to cleanup the excess generated whitespace.

[2022-08-12 14:35] chalin commented on #1097
@LisaFC - @emckean and I were discussing this during the last PSC meeting. @emckean thought that maybe the best route would be for a non-Googler to create a new GA account, which would then become the main Docsy GA account (correct me if I'm wrong @emckean). WDYT?

[2022-08-15 08:23] chalin opened #1162 "tabbed-pane content is narrower than tab-bar on narrow displays"
The following issue seems to have been introduced by #1037, so I'll refer to its preview. Visit: https://deploy-preview-1037--docsydocs.netlify.app/docs/adding-content/shortcodes/#tabbed-panes and you'll see this:

Notice how the C code code-block doesn't fill the full width of the page content.

[2022-08-15 08:48] chalin commented on #1115
@E-G-C - feel free to reopen this issue if you'd like the warning addressed.

[2022-08-15 09:42] chalin commented on #872
FYI, the following PR proposed that we drop the webfonts. WDYT?

- #1164

Also related is:

- #1102

[2022-08-15 15:31] #872 closed

[2022-08-15 15:41] chalin opened #1165 "Ensure Docsy via Hugo module still works after Font Awesome upgrade"
Task of:

- #1171

[2022-08-15 15:44] chalin commented on #404
Closed by

- #412

[2022-08-15 15:45] #404 closed

[2022-08-15 15:46] chalin opened #1166 "Netlify build: select a newer build image"
Netlify build logs now contain the following notice:

[2022-08-15 15:52] #1123 closed

[2022-08-15 17:00] #1071 closed

[2022-08-15 17:13] chalin opened #1168 "tabbed-panes: drop deadcode highlight style override"
As I understand it, a code-block cannot appear in a `tab-content` outside of a `tab-pane`, but there is an override of `highlight` in `tab-pane` already, so I think that this style change is dead code and should be removed. WDYT @deining @LisaFC?

_Originally posted by @chalin in https://github.com/google/docsy/pull/1163#discussion_r945529251_

[2022-08-15 17:25] chalin opened #1169 "Search placeholder text font is in ALLCAPS"
This is now causing problems because it seems that the FA6 font contains regular character glyphs too:

As compared to:

The problem was there before this PR, so I'm ok merging this as is and fixing this problem after.

_Originally posted by @chalin in https://github.com/google/docsy/pull/1102#discussion_r945903662_

[2022-08-15 17:26] chalin opened #1170 "Use SCSS variable for FA font name"
We should define a variable for the FA font name and use it here and elsewhere. This can be done in this PR or a followup PR.

_Originally posted by @chalin in https://github.com/google/docsy/pull/1102#discussion_r945562824_

[2022-08-15 17:31] chalin opened #1171 "FontAwesome 6 upgrade: followup items"
Followup to:

- #1102

Tasks:

- [x] #1169
- [x] #1170
- [x] Mention the breaking change in the CHANGELOG
  - For a link to add, see https://github.com/google/docsy/pull/1102#issuecomment-1212520943.
  - #1186
- [x] #1165
- [x] #1256
- [x] https://github.com/google/docsy-example/pull/188

[2022-08-15 17:32] chalin commented on #1171
@samiahmedsiddiqui - let me know if you'd like to tackle some of these tasks.

[2022-08-15 17:37] 03amir commented on #1158
![Screenshot 2022-08-15 230537](https://user-images.githubusercontent.com/84488052/184686351-9c8b5e42-4f5a-466f-9c98-b3b6e4e161c7.png)

Is this is the desired design?

[2022-08-15 17:39] chalin commented on #1158
Yes, if by that you've removed the "excess 32px margin at the bottom" :).

[2022-08-15 18:56] #1089 closed

[2022-08-15 19:54] 03amir commented on #1158
yes! @chalin can I work on this issue?

[2022-08-15 20:07] 03amir commented on #1169
what should we have to do? change the font family or something else?

[2022-08-15 20:34] chalin commented on #1158
Sure. I'd like to give @deining some time to respond though, since this is his feature.

[2022-08-16 09:31] LisaFC commented on #729
Fixed in #1175

[2022-08-16 09:31] #729 closed

[2022-08-16 11:24] samiahmedsiddiqui commented on #1170
@chalin Please review [this](https://github.com/google/docsy/pull/1176) PR.

[2022-08-16 11:25] samiahmedsiddiqui commented on #1171
@chalin PR created for #1170, I will try to create a PR for #1169 tomorrow.

[2022-08-16 13:05] #1170 closed

[2022-08-16 13:06] chalin commented on #1171
Wonderful! I _think_ that for #1169, all we might need to do is change the order of the listed fonts (at least that was what I was going to try :).

[2022-08-16 13:53] theletterf commented on #1076
Hi there! Sorry, I was on paternity leave.

I guess you'd have to update the swagger-ui dependency, or add it as a dependency even.

[2022-08-17 20:25] chalin opened #1177 "Use the gtag.js analytics library by default"
**Universal Analytics (UA) is [officially deprecated]**:

- Data collection will stop on July 1st, 2023
- Six months after that, historical data will be gone too

The sooner projects migrate to Google Analytics 4 (GA4), the better.

As a first step in supporting projects' migration from UA to GA4, Docsy should, by default, use the [gtag.js] analytics library -- the only library supported by GA4 --

[2022-08-18 07:45] chalin commented on #1171
@samiahmedsiddiqui - FYI, I've submitted a fix for #1169 via #1179.

[2022-08-18 07:54] #1169 closed

[2022-08-18 08:02] chalin commented on #999
It seems like you might need to upgrade your version of Node. For details see,  [Install/Upgrade Node.js](https://www.docsy.dev/docs/get-started/docsy-as-module/installation-prerequisites/#installupgrade-nodejs). Can you give that a try and let us know if that resolved the issue for you?

[2022-08-18 08:32] chalin commented on #337
This has been open for a while. I'm going to assume that the [final problem]() that you report is a duplicate of #464, which you can resolve by upgrading Node. For details see,  [Install/Upgrade Node.js](https://www.docsy.dev/docs/get-started/docsy-as-module/installation-prerequisites/#installupgrade-nodejs). I'll close this for now, if you still have the problem, please create a new issue.

[2022-08-18 08:32] #337 closed

[2022-08-18 08:35] chalin commented on #279
This seems to be similar to #464, which you can resolve by upgrading Node. For details see,  [Install/Upgrade Node.js](https://www.docsy.dev/docs/get-started/docsy-as-module/installation-prerequisites/#installupgrade-nodejs). I'll close this for now, if you still have the problem, please create a new issue.

[2022-08-18 08:35] #279 closed

[2022-08-18 08:37] chalin commented on #999
Actually, I'm quite sure that this is a dup of #464 so I'll close this for now, if you still have the problem add a comment here and I'll reopen the issue.

[2022-08-18 08:37] #999 closed

[2022-08-18 08:43] chalin opened #1180 "User guide: consolidate prerequisites into a single section or page"
With the introduction of more than one [installation option](https://www.docsy.dev/docs/get-started/#installation-options), we now have duplicate explanations of how to setup prerequisites. For example, compare:

- https://www.docsy.dev/docs/get-started/docsy-as-module/installation-prerequisites/
- https://www.docsy.dev/docs/get-started/other-options/#prerequisites

For those parts that apply to a

[2022-08-18 09:07] chalin opened #1182 "Ensure that versions of dependencies remain in sync"
We need to ensure that versions of dependencies remain in sync across installation options, namely:

- Hugo modules
- NPM packages
- CDN

[2022-08-18 09:56] LisaFC commented on #1180
Yes, I think that's a great idea (in fact I literally did the same thing recently for the docs for something else).

We can add a quick intro with "These prerequisites apply to all installation options..." etc. etc. Then each installation option guide can have its own "Before you begin" with:
- Ensure you have all the prerequisites as described in...
- [any option-specific requirements]

[2022-08-18 10:28] chalin opened #1185 "drawio support should be opt-in not opt-out"
All of Docsy's other optional features are opt-in. The same should be true of draw.io.

- Support was added via #529

Tasks:

- [ ] Remove setting from Docsy config:
  https://github.com/google/docsy/blob/215f68033bbc7bddf8dbec2bbabf8749d1998a17/config.yaml#L9-L10
- [ ] Add setting to UG config
- [ ] Update the docs to let users know how to opt-in:
  https://docsy.dev/docs/adding-content/diagrams-

[2022-08-18 10:28] #951 closed

[2022-08-18 11:46] chalin opened #1188 "Move markmap script into markmap.js?"
_Originally posted by @chalin in https://github.com/google/docsy/pull/1175#discussion_r949028754_

[2022-08-18 12:52] chalin commented on #1120
@deining @geriom - is this something that you might have time to do this quarter, or coach me on how to do it?

[2022-08-18 15:03] LisaFC commented on #470
Name changed so we can use this to track actually making the necessary update.

[2022-08-18 15:07] chalin commented on #470
Thanks @LisaFC. FYI, I've set the milestone to Q3 :).

[2022-08-18 15:17] chalin commented on #605
Hi @fnetX! IMHO, this is a very reasonable request, and quite doable (since Hugo v0.90+). Sorry to see you go. Thanks for the link to [Material for MkDocs], the resulting sites look amazing! I'm hoping that we can get inspiration from them.

[Material for MkDocs]: https://squidfunk.github.io/mkdocs-material/

[2022-08-18 15:43] chalin commented on #1025
Sorry for being late to notice this issue until you (@gitautas) had already submitted a PR.

[2022-08-18 16:08] LisaFC commented on #1025
So is the idea that the user would add this custom styling to their site? We'd need to document it to make sure it's an obvious tweak that users-with-their-project-name-in-their-logo can do, as I can see this problem coming up again.

Agree we probably have too many config params....

[2022-08-18 17:16] emckean commented on #1166
New build image is Ubuntu Focal 20.04 (default), just selected it, 🤞 nothing breaks ...

[2022-08-18 17:29] emckean commented on #1156
I think this is not search console but programmable search?

Sounds like the 'no ads' option is only available for 501(c)3 orgs :(
https://support.google.com/programmable-search/thread/76528883?hl=en

[2022-08-18 17:37] emckean commented on #1156
Filed a bug :)

[2022-08-18 17:50] emckean commented on #1139
hi! did #1149 fix the problem for you?

this might also be a place where clearing the Hugo cache might help: https://gohugo.io/commands/hugo_mod_clean/

[2022-08-18 18:05] dorifr commented on #1139
Hi,
I fixed it, long ago, by copy pasting the extended language code to the current 1.21 version.
Thanks

[2022-08-18 18:25] chalin commented on #1166
If you force a rebuild of the latest production build you'll be able to know right away if something breaks. Have you tried that yet?

[2022-08-18 18:46] emckean commented on #1139
Thanks for the update!

[2022-08-18 18:46] #1139 closed

[2022-08-18 18:57] emckean commented on #1156
And we are now allowlisted for no ads :)

[2022-08-18 18:57] #1156 closed

[2022-08-18 18:58] emckean commented on #1166
I forced a new deploy of Goldydocs and things look ok? I'll do Docsy.dev now :)

[2022-08-18 20:00] emckean commented on #775
It looks like you don't need either of the defaultContent* settings according to this (https://discourse.gohugo.io/t/how-to-use-a-single-language-in-a-multilingual-theme/33622/3)

[2022-08-18 21:01] chalin commented on #1156
I confirm that there are no more ads! Thanks!

[2022-08-18 21:02] chalin commented on #1166
The warning is gone from recent preview-build logs, so I think that this issue has been resolved. Thanks! Closing.

[2022-08-18 21:02] #1166 closed

[2022-08-18 23:00] emckean commented on #1188
Not sure ... will take a look!

[2022-08-19 18:26] kimberleybrown opened #1194 "Code sample followed by heading causes scrolling issue"
Hello,

I've noticed a peculiar issue with the theme. If there is a code sample that has a horizontal bar appear on it and it is followed by a heading, the margin on that heading overlaps the element above and causes the horizontal scrolling bar to be dysfunctional.

See the attached image in the issue. You'll notice that the margins created by the heading covers the horizontal bar of the above co

[2022-08-20 21:01] samilotin opened #1195 "Let's try"

[2022-08-22 06:04] hcientist commented on #311
I made [this tiny change to try to add a single level of nested menus](https://github.com/google/docsy/commit/d12aebc19f78384c9dca1bbc799542887bb1c59d), but now I need to learn hugo modules so I can build and test.. anyone have any pointers on how I can get past this issue?
[code]

I found https://discourse.gohugo.io/t/resources-concat-with-js-slice-interface-not-supported-in-concat/26558/4 and so

[2022-08-22 16:42] #1195 closed

[2022-08-23 21:02] chalin opened #1196 "Blog pages should contain `page-meta-lastmod.html` too"
@LisaFC et all: are you aware of any reason why blog pages don't contain "last mod" info like regular doc pages do?

Some context:

- `_default`: https://github.com/google/docsy/blob/519930cf0d642c37941b74a25361e743165f94bc/layouts/_default/content.html#L19
- The blog [`content.html`](https://github.com/google/docsy/blob/main/layouts/blog/content.html) override omits `page-meta-lastmod.html`

If t

[2022-08-23 21:05] chalin commented on #1196
I've quickly experimented with this and it looks best if we end the `<div>` in https://github.com/google/docsy/blob/main/layouts/blog/content.html with `page-meta-lastmod.html` last:

[code]

For example:

[2022-08-24 18:30] chalin commented on #1100
This also works:

[code]

[2022-08-24 18:35] chalin opened #1197 "Blog posts order differs in side-nav vs list"
To reproduce, create a new project:

[code]

Then create two posts with the same date, such as:

- **blog/post-1.md**:
[code]
- **blog/post-2.md**:
[code]

Build and/or serve the site and visit `/blog`. This is what you'll see:

Notice how the order of the posts differs.

[2022-08-25 11:24] Arhell opened #1198 "docs navigation arrow on hover UX"
example
![Screenshot_1](https://user-images.githubusercontent.com/26163841/186651177-3c8e586f-15f1-47a2-bf59-1ece9cfb48c3.png)

On hover, it should either be turned down or not, because on hover there is a color change and this shows that the item can be clicked.

And at the moment it rotates 30 degrees and looks like it is not behaving correctly.

I propose to remove this effect or change it to a

[2022-08-26 06:00] roberthbailey commented on #1152
If we can customize that link, we can create new issues from an [issue template](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates) (or possibly even an [issue form](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms)). What I haven't been

[2022-08-28 17:30] LukeTimeWalker commented on #1197
It seems that the entries in the side-navigation are sorted alphabetically, whereas the entries in the list are sorted in reverse alphabetical order. Maybe it's helpful...
![grafik](https://user-images.githubusercontent.com/45610865/187086964-d0fd60d6-8b26-40e3-b7ed-95cdbf935a15.png)

[2022-08-29 11:35] LisaFC commented on #1198
Oh yes, just enabled it myself in a site and it sort of wobbles on hover. That does look a bit odd. @raum51 @chalin thoughts?

[2022-08-30 15:09] deining opened #1210 "Hugo v0.102.2: rendering of userguide fails"
With the latest release Hugo v0.102.1, rendering of userguide fails. The error message `Illegal shortcode state` is displayed. The offending shortcode is `card`. The error is caused by the use of escaped quotes in shortcode arguments.

[2022-08-31 14:46] deining commented on #1210
There is now an according [issue](https://github.com/gohugoio/hugo/issues/10236) raised in hugo's repo on GitHub. Fortunately, we can avoid this error easily by using single quotes instead of escaped double quotes. PR #1211 will resolve this issue.

[2022-08-31 16:40] geriom commented on #1177
PR reverted after seeing some errors. https://github.com/google/docsy/pull/1212

I'll take a closer look and try to figure out what went wrong.

[2022-08-31 22:35] ajfriesen commented on #1144
Any update on this?

[2022-09-01 11:01] deining commented on #1210
Rendering of user guide failed due to a regression introduced in hugo v0.102.0, fixed with recently released version hugo v0.102.3.
Issue can be closed.

[2022-09-01 11:01] #1210 closed

[2022-09-01 15:27] deining opened #1214 "Module installation broken with tip of main"
As of revision 10fae88de482d836f0c81437afad5674418a888d, installing docsy [as module from scratch](https://www.docsy.dev/docs/get-started/docsy-as-module/start-from-scratch/) fails.

**Reason**:

As of this revision, `scripts.html`, now defines a resource `$jsBs`:

https://github.com/google/docsy/blob/4a41d9b2de37caecb9532df89c4f867feb0432b3/layouts/partials/scripts.html#L53

This resource does **

[2022-09-01 16:42] dend commented on #138
@LisaFC was there ever a solution to this? In a newly-deployed site ([see example](https://wiki.openspartan.com/halo-infinite/game/builds/6.10022.18207)) seems like the edit links are still expecting the `/en` suffix for content, even though the content directory in the configuration file is different.

[2022-09-02 06:29] Aravinda93 opened #1215 "Is there a default way to add Cookie conscent message when the website loads up for the first time?"
Hello,

I am using the `Hugo` with `Docsy` theme to develop a simple website consisting of multiple pages. I would like to add a `Coockie Conscent` message which shows some message with button `ok`. The website does not use any coockie so I would like to show the message `website does not use any coockie` and a button `ok`.

I would like to show it only once when user opens the website and should

[2022-09-02 07:57] deining commented on #1214
This issue can be fixed easily by adding a mount so that `bootstrap.js` becomes available (see #1216) with module installations.

[2022-09-02 09:39] deining commented on #1120
I agree.

Great. that makes things a lot easier.

I worked on this issue (see PR #1217) and ended up with a consolidation of the two modules into one single `docsy` module, as proposed. With this PR applied, I can successfully run docsy from one single consolidated module. As expected, this single module isn't compatible and breaks existing installations based on npm or git submodules (see [log](h

[2022-09-02 12:30] deining commented on #1182
I agree.

Just created PR #1218 in order to achieve that for now.

[2022-09-02 14:22] qmhu opened #1219 "Create new site failed"
I run this commends by following doc:https://www.docsy.dev/docs/get-started/docsy-as-module/example-site-as-template/
[code]

but it failed

[code]

Meanwhile my other sites also start failed , the error is like
[code]

[2022-09-02 17:21] emckean commented on #1215
There isn't a cookie-consent feature in Docsy, but there are some add-ons for Hugo -- check out https://discourse.gohugo.io/t/here-is-an-easy-to-install-cookie-consent-banner-for-gdpr-compliance/34411 which you may be able to modify for your needs.

Also check out the "customizing templates" section of the docs: https://www.docsy.dev/docs/adding-content/lookandfeel/#customizing-templates

Good luc

[2022-09-02 17:21] #1215 closed

[2022-09-02 19:37] emckean commented on #1144
ugh, sorry, I took over the fix but didn't see this issue. The other fix is in https://github.com/google/docsy/pull/1175, but I'm also checking on something else so I'll keep this in mind now!

Short-term, I think you could change that height in the /layouts/partials/scripts.html file

[2022-09-05 02:00] denalon commented on #978
old: In the 'layouts' directory, create a new directory named for the template you want to create

new: add `type: doc` in _index.md

[2022-09-05 11:49] Aravinda93 opened #1223 "Cookie info banner is not displaying as intended when using Hugo with Docsy theme"
I am developing a sample website using [Hugo][1] static website generator by using the [Docsy][2] theme.

The website includes the `Cookie Banner` so I have added the same to my static website by referencing the approach mentioned from here: https://hugocodex.org/add-ons/cookie-consent/.

Ideally, I would like the banner to be visible something like this:

[![enter image description here][3]][3]

[2022-09-05 12:08] Aravinda93 commented on #1215
@emckean Thanks a lot for the response. I tried the approach you have mentioned above and followed the steps mentioned in the [Cookie consent | Hugo Codex](https://hugocodex.org/add-ons/cookie-consent/). I am facing some styling issues with `Cookie Consent Banner`.

Ideally, I would like the banner to be visible something like this:

[![enter image description here][3]][3]

But currently its looki

[2022-09-05 12:25] Aravinda93 commented on #1219
I tried the same steps and everything seems to be running fine. Please ensure following things:

1. Hugo has been installed correctly and Extended version has been installed. Run `hugo version` and should see something like this `hugo v0.101.0+extended darwin/amd64 BuildDate=unknown`.

2. Ensure you do not have any other application running in port 1313 which is default for the hugo server, if occ

[2022-09-05 12:56] tq2021 opened #1224 "How to customizing the swagger ui properties"
Hi docsy team,

This is a consulting issue about how to customize the swagger ui properties within docsy. I read the documentation [swagger ui part](https://www.docsy.dev/docs/adding-content/shortcodes/#swaggerui). It only mentions that the Swagger’s CSS could be overridden. However, my question is if the swagger ui html could be overridden. I saw the code https://github.com/google/docsy/blob/a917

[2022-09-05 13:49] LisaFC commented on #1224
From looking at the [Swagger UI docs](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/), that approach (overriding that shortcode file in your own project and adding the parameter) should work.

Unfortunately I don't know enough about the different places where you can customize Swagger UI to recommend any other/better approach - @theletterf, any suggestions?

[2022-09-05 14:10] LisaFC commented on #1223
Hi there - it's a little hard to tell what styles are being applied without being able to see the page, can you use something like Chrome developer tools to see which styles are being applied to the element?

In general for adding your own CSS styles we recommend adding them in a special _styles_project.scss file in your project's own assets/scss/.. directory rather than editing files under /theme

[2022-09-05 15:13] Aravinda93 commented on #1223
@LisaFC Thanks a lot for the response and the guidance.

I tried the approach of creating my own SCSS and Layouts for Cookie page but still for some reason its not displaying as expected.

I tried to look into the styles using the Chrome -> Developer console but unable to figure out which style is overriding the provided style as there are quite a few styles coming from the Docsy environment.

I h

[2022-09-05 17:18] #1214 closed

[2022-09-06 08:12] theletterf commented on #1224
The way I did it years ago was to download the `swagger-ui` repo, alter the CSS, build, and then use the built distribution in Docsy by replacing the newly built files. Clunky, but worked.

https://github.com/swagger-api/swagger-ui/blob/master/docs/development/setting-up.md

[2022-09-07 02:44] qmhu commented on #1219
retry the same steps in next day, it works...

[2022-09-07 02:44] #1219 closed

[2022-09-07 19:26] johnhansarickWallaroo commented on #1224
Here's my question - and showing my ignorance:  when Docsy is installed as a module, there's no more `themes/docsy/static/css/swagger-ui.css` to modify.

So where should our modified `swagger-ui.css` file go: `layouts/css`? `assets/css`?

[2022-09-08 08:28] Nino-Bock opened #1230 "How to remove that semi transparent layer above blocks/cover and make the image sharp and clean?"
In the landing page, specifically the `blocks/cover` block, there is an image in the background.
That image is behind some semi transparent layer which makes the colors less vibrant.

Is there a way to remove that layer and display the image like it is in its original form?

Sure, that blurry and less vibrant colors are a design choice to drive attention to the actual content.
However I'd like to

[2022-09-08 08:41] Nino-Bock opened #1231 "Top navbar changes appearence in wide and narrow view. How can I control that behavior?"
I observed how the navbar background is not consistent in the landing and about-page when the width of the browser windows shrinks.

Once the logo starts to move above the menu entries, the navbar background changes to the color specified for it.
So as soon as the navbar becomes two lines, it sets itself apart from the background image and is above `td-cover-block-0`.

My question is, how can I se

[2022-09-08 13:12] Nino-Bock commented on #1231
I have found out, that setting '.td-navbar-cover' to some color instead of 'transparent' it makes it not transparent in wide view mode.

Is that the correct way to do it?

[2022-09-09 06:48] deining opened #1232 "Tab pane, persistence of langauge: js error"
As mentioned and discused in #1202, a regression was introduced with 10fae88de482d836f0c81437afad5674418a888d:
When persisting the language of a tab pane, the following error is now thrown in the browser's javascript console:

[code]

[2022-09-09 20:02] Nino-Bock opened #1234 "layouts/partials/scripts.html fetches external scripts. Proposal to fetch those when doing npm install to allow offline builds"
First of all, I am not a web development expert at all, just trying to understand what is going on.
There is something I encountered which is pretty awkward to me.

I was experimenting with the non-module approach, so I cloned the docsy theme into the example site.
I did the `npm install` and it all worked well.

Rebooting my machine, cutting off the internet gave me a bunch of errors.
I tracked t

[2022-09-10 20:07] deining commented on #1234
Thanks for your request. Please note that this topic was discussed already: support of offline environments was raised in #873, and #605 deals with support of non-CDN resources. There is even a pull request (#1006) which makes asset urls configurable. Maybe this is of help for you.
In any case, we have to keep in mind that we have both npm install and hugo module installation (possibly without npm

[2022-09-11 06:36] Nino-Bock commented on #1234
Thanks for your reply. I did not see those other requests.

Like others mentioned any tracking or external pulls are a problem as I live in Germany and we have strict laws here now.

I invested quite a bit of time customizing the Docsy theme to my needs just to find out that I probably can not use it because of privacy concerns.

I am looking for a privacy, non-tracking website and I am disappoint

[2022-09-11 08:13] Arhell opened #1235 "unclosed tag li"
https://github.com/google/docsy/blob/main/layouts/partials/pager.html#L4

[2022-09-12 14:03] #1235 closed

[2022-09-12 14:27] LisaFC commented on #1234
You would need local copies of both jquery and unpkg and update the references to them in Docsy files to point to your local versions - jquery is used for multiple features (including offline search) and unpkg for offline search.

[2022-09-12 14:46] LisaFC commented on #1231
Yes, the narrowest version of the site (for mobile/small devices) has a slightly different navbar layout because otherwise all the text generally doesn't fit in it. The background isn't translucent because, if I remember correctly, it doesn't look great/is hard to read on a small screen with a transparent header. We have considered adding an alternative option where the entire menu for mobile is a

[2022-09-12 14:57] Nino-Bock commented on #1234
I have tried that today and went through the changes described in #1006.
It did not work well for me because local search does not work.

I downloaded the scripts to `/assets/js/extern/SCRIPTNAME`.
After that I defined the variables like described in the pull request mentioned above and defined a variable in the `config.toml` of my website.

`lunr = { src = "/js/extern/lunr.min.js", integrity = "s

[2022-09-12 14:58] Nino-Bock commented on #1231
Thanks a lot for the answer

[2022-09-12 14:58] #1231 closed

[2022-09-12 15:52] LisaFC commented on #1234
So the absolute simplest thing to do is to put your .js in your /static/ directory, in which case it will be served at

[code]

The other more powerful way is to use Hugo Pipes, which will pull from the /assets/ directory and can do things like minify your js for faster loading as well as other asset processing - here's the docs:
https://gohugo.io/hugo-pipes/introduction/

and here's an example of

[2022-09-12 17:35] Nino-Bock commented on #1230
I have attached an image.
The left side is part of the website, the right side is the original image.
It's both the same image, but the right one has much more vibrant colors than the left one.

Once in the inspector I have found an element which had `zinden =1`. When setting it to `0` it also transitioned behind that white layer. Unfortunately I can not find that element any more.

![Hugo backgro

[2022-09-12 17:39] LisaFC commented on #1230
I'll have a look.

[2022-09-12 18:00] LisaFC commented on #1230
So I've had a further dig around, and I've found it!(I didn't spot it at first because I didn't write this file and it doesn't just affect the image) - there's a dark overlay styling the background block by default to help ensure text visibility:
https://github.com/google/docsy/blob/main/layouts/shortcodes/blocks/cover.html#L27

Look for `td-overlay--dark` in the styles for the section.

The overl

[2022-09-12 18:10] jonTrent commented on #311
@hcientist I ran into the same issue with Hugo Extended 0.102.3, and narrowed the issue to a missing resource.  That is, preceding the "resource.Concat" function, the "resources.GetRemote" and "resources.Get" are fetching (in my case) 8 files to concatenate.  Eg, one of the Get's is...
[code]
To determine which of the 8 was failing, I injected 8 debug statements along the following lines...
[code]

[2022-09-12 18:48] Nino-Bock commented on #1230
Oh, nice. Thanks.
Blurry was maybe not the right expression for it.
It just makes the colors less vibrant it seems.

Thanks for finding it.

[2022-09-12 21:34] jmichelgarcia commented on #349
So sad this hasn't been implemented yet, what is holding us back?

[2022-09-13 09:03] LisaFC commented on #1230
Happy to help! Ok to close this?

[2022-09-13 09:07] Nino-Bock commented on #1230
Can I remove the `td-overlay--dark` class via `_project-styles.css`, or do I need to edit `cover.html` directly?

[2022-09-13 09:37] LisaFC commented on #1234
Hurrah, glad that helped!

1: No legal reason, but in general getting resources (esp jQuery) from a CDN rather than serving them yourself can result in better performance for site users. (Also there's the maintenance overhead of downloading/uploading/updating entire third-party files in our own repo rather than just updating version numbers)
2 and 3: There's work in progress in #1187 and elsewhere

[2022-09-13 10:24] LisaFC commented on #1230
Yes, you can override it in your site CSS - this is the style you need to override, not sure if you need to take the background colour out (it's a very translucent grey) or just make it completely translucent. You may also need to make it `important!`.

[code]

[2022-09-13 10:32] LisaFC commented on #349
There's a PR in progress in #1049 that I *think* will meet everyone's requirements....

[2022-09-13 11:03] LisaFC commented on #1196
Happy to add it if you think it's useful - I think the main reason we didn't was that blog posts tend not to be updated (unless someone discovers an error post-publication) and have a publication date already. If they're being regularly updated they probably have content that should be in regular user docs. :)

Can't remember the issue/PR I commented on but I also think we should probably have a d

[2022-09-13 11:04] LisaFC commented on #1194
Huh, that's weird. Let me take a look.

[2022-09-13 11:53] #1230 closed

[2022-09-13 11:54] Nino-Bock commented on #1234
Thanks a lot for the clarification.

[2022-09-13 11:54] #1234 closed

[2022-09-13 19:05] raum51 commented on #1194
It's not only, when there is a scrolling bar before the headline. All h2 - h5 have an empty content before the headline text as offset for the anchor links:

[code]

But this shouldn't effect the functionality of the scrolling bar.

[2022-09-13 19:23] kimberleybrown commented on #1194
Thanks for the comments! I see in the above taxonomy_terms_could that the scrollbar is working properly above a heading.

Here is a link to a page in our documentation where we see the issue occurring on our end: [Doc](https://delightful-sky-04247a60f.1.azurestaticapps.net/mix/apis/asr-grpc/v1/samples/client-samples-training-h/#edit-input-files)

![image](https://user-images.githubusercontent.com/

[2022-09-13 19:44] kimberleybrown commented on #1194
I'm on Windows, just tried Chrome, Firefox, and Edge. Only Edge was able to move the scrollbar properly.

Updated Chrome to version 105.0.5195.127, now it works.

Firefox is on version 104.0.2 with no updates pending but it still doesn't work.

Unsure what a proper longterm solution to this is as I can't guarantee what browser versions users are running and it compromises a functional user experie

[2022-09-13 19:48] kimberleybrown commented on #1194
I should add, it's more the action of physically clicking and dragging the scrollbar if you were to be using a mouse, as opposed to sliding on a mousepad which seems to cause no issue.

[2022-09-13 20:31] raum51 commented on #1194
I was able to reproduce it on Firefox on Win and should have found a bugfix using z-index. I will test it tomorrow.

[2022-09-13 20:49] kimberleybrown commented on #1194
Interesting that the issue could be something related to the z-index. Thank you!

[2022-09-14 06:23] raum51 commented on #1194
It's not really related to the z-index, but hopefully the bug can get fixed with z-index.

To scroll to the correct position when using anchor links the headlines get an vertical intercept by adding an empty content displayed as block before the original headline text by CSS. And it looks like this empty block is above the scoll bar on Windows-Firefox. So I try switch position by using z-index.

[2022-09-15 13:53] #1198 closed

[2022-09-16 08:28] Aravinda93 commented on #1223
I was able to make it work using the following solution: [Hugo Community](https://discourse.gohugo.io/t/cookie-banner-is-not-displaying-as-intended-when-using-hugo-with-docsy-theme/40332/9?u=arvind)

[2022-09-16 08:28] #1223 closed

[2022-09-20 14:33] Aravinda93 opened #1238 "Why Docsy hides the title at the beginning of the page in marked down?"
I wanted to add some information regarding the Privacy statement to the static website that I am developing using the `Hugo` with `Docsy` theme. I have added a folder `content\en\privacy\_index.md` and written the content something like this:

[code]

But for some reason the title `##  Privacy Policy of Test Website` is hidden under the `navbar` label. I did not make any changes to styles or `_bas

[2022-09-24 12:29] heinrich-ulbricht opened #1241 "Proposal: Make the blocks/feature url also link from icon and headline"
When adding a [feature block](https://www.docsy.dev/docs/adding-content/shortcodes/#blocksfeature) one can specify a URL to link to. This will generate a "Read more..." link at the bottom of the feature the user can click.

My proposal is to also link the feature's icon and title to the same destination URL. Personally I often just immediately click the icon to learn more. And this often does not

[2022-09-24 14:02] heinrich-ulbricht opened #1242 "Feature request: add "lightbox" for images"
So far I was not able to find information that the following is possible:

- a page contains an image
- the image should be displayed with width 600px
- when the user selects the image it is shown at its original size (e.g. 1200px)

Some sites do this as lightbox, some sites open the image in a new tab. Both would be fine with me. But the user should initially see the smaller image and optionally

[2022-09-26 15:13] geriom opened #1243 "Several javascript errors on Shortcodes page."
Several errors show up on the console.

![Screenshot from 2022-09-26 11-10-41](https://user-images.githubusercontent.com/22261639/192314009-4500d741-6043-40b7-830b-fe1be3b622eb.png)

This is a general issue to track the problems. We can open new individual issues once we identify the root causes.

[2022-09-26 15:45] chalin commented on #1177
In https://github.com/google/docsy/pull/1178#issuecomment-1258157495, @geriom wrote:

Ok, will do as soon as I can.

[2022-09-27 08:03] Alex97schmid-zeiss opened #1244 "Error: Could not create the task | Azure Blob Storage"
I'**m currently configuring a cvat project / task with an azure blob storage.**

So far, I was able to add the cloud storage. It already shows me the images in the cloud storage preview. But unfortunately, when I'm creating a new task, it return me an error: _Could not create the task_. Opening the browser console gives me more details: _Could not create the task on the server. TypeError: join() a

[2022-09-27 09:34] LisaFC commented on #1238
It looks like you haven't actually specified a layout for your new "privacy" section - it's not under "docs" so it won't use the docs layout, so you're just getting the base template which has a navbar and a footer but nothing specified for formatting the actual content (it's only usually used on its own for site cover/landing pages):
https://www.docsy.dev/docs/adding-content/content/#working-with

[2022-09-27 09:39] #1244 closed

[2022-09-27 09:39] Alex97schmid-zeiss commented on #1244
closed, wrong website

[2022-09-27 21:37] kimberleybrown commented on #1194
Any updates on this?

[2022-09-28 00:08] jmichelgarcia commented on #1242
I currently use Lightbox in a hacky JS way, so it would be nice to have official support for this feature.

[2022-09-29 02:44] richardsuematsu commented on #1007
I had the same issue on Node v8.  Upgraded to Node v16 and it worked.

[2022-09-30 14:36] jmichelgarcia opened #1250 "Docsy + Algolia v3"
## Info
Source code: https://github.com/jmichelgarcia/docsy-algolia
Url: https://sensational-chebakia-db2125.netlify.app/

## Details
When using Algolia, the search result displays as a popup, as opposed to what is mentioned in the docs. Is this the expected behavior?

<img width="1478" alt="Screenshot 2022-09-30 at 15 23 52" src="https://user-images.githubusercontent.com/2745523/193291303-e4e09df

[2022-10-03 18:18] JamesHaskell commented on #805
Deleting the cache as per rachfop worked for me, and I did not have to change the config or any of the other suggestions. Thanks Patrick!

[2022-10-04 22:40] #1154 closed

[2022-10-05 00:27] Arhell opened #1253 "Accessibility add alt to image"
https://github.com/google/docsy/blob/main/layouts/shortcodes/imgproc.html#L15

[2022-10-05 08:11] heinrich-ulbricht opened #1254 "Question: "index.xml" files and Google indexing issue"
When looking in the Google search console for a docsy site dozens of entries in the category **Page Index** -> **Crawled - not indexed** appear. The all end with **index.xml** which in my understanding is there for RSS support.

Is there a recommendation on how to deal with that? Should all "index.xml" be excluded from the search index? I'd like to get rid of those errors and wonder if there is so

[2022-10-05 08:36] deining commented on #1253
Looking at the shortcode, I realize that the `<img>` element is embedded into a `<figure>` element with a nested `<figcaption>` element. As stated [here](https://www.tpgi.com/short-note-alt/), it is valid to omit the `<alt>` tag in that case. Would be a nice addition to add the `<alt>` tag, though. Are you able to provide a PR for that?

*Additional note:* when looking at the shortcode source, I w

[2022-10-05 13:07] #1177 closed

[2022-10-06 06:54] sophokles73 opened #1256 "Search icon (magnifying glass) is not rendered properly in FF"
The search input field's magnifying glass is not rendered as the magnifying glass icon but as the literal text `fl` in my browser. See attached screenshot

![image](https://user-images.githubusercontent.com/5682135/194233797-30ef321c-f388-49b6-97ac-b9995cd6e767.png)

This seems to be due to the order in which the font-family is defined for the `.td-search-input` class in `_search.scss`
[code]

whe

[2022-10-06 06:56] sophokles73 commented on #1256
BTW, this occurs when I open the Docsy user guide at https://www.docsy.dev/docs/

My browser is Firefox 105.0.2 on Ubuntu 22.04

[2022-10-06 12:24] LisaFC commented on #1250
1. Yes, the new Algolia default search results box is a pop-up rather than a drop-down, we should update the docs. I'm not even sure if you *can* easily configure it as a drop-down but I'll look into it.
2. Let me take a look at that, I believe we didn't support sidebar/narrow site search for Algolia because it was a drop-down and didn't really work with the navbar, but if it's a pop-up we *should

[2022-10-06 12:33] LisaFC commented on #1256
Huh, that's weird. It's showing up as the magnifying glass icon for me (Chrome on Mac). Any other users with other browsers/OS seeing it?  @chalin any ideas?

[2022-10-06 13:13] sophokles73 commented on #1256
It also displays properly on my Android 11 based smart phone running Firefox ...

[2022-10-06 23:47] chalin commented on #1256
Thanks @sophokles73.

Which version of Docsy are you using?

[2022-10-06 23:55] chalin commented on #1256
Ah, I'm seeing that problem in FF 105.0.2 under macOS. No issue under Chrome or Safari.

[2022-10-07 00:34] chalin commented on #1256
Helvetica Neue is the culprit under FF. The search box will need to be reworked to fix this. I'll give it a try tomorrow or this w/e. @geriom - do you want to wait for this fix?

[2022-10-07 06:19] sophokles73 commented on #1256
@chalin I am using the HEAD revision of the main branch.

[2022-10-07 15:32] chalin commented on #1097
Any updates on how to move forward with this @emckean?

[2022-10-07 19:42] emckean commented on #1097
I have a meeting w/someone in Analytics set for next week :)

[2022-10-07 20:26] chalin commented on #1256
Hey, all: there was a solution that pre-dated even this issue! :)

- #1247

[2022-10-08 13:34] chalin opened #1263 "Create partial for <script> tags to handle dev vs production mode differences"
- Context: #1262,
  https://github.com/google/docsy/pull/1262/files#r990642799
- Factor out an equivalent of the following into a `script` partial:
[code]

/cc @geriom

[2022-10-08 14:06] chalin opened #1264 "Version of Popper isn't compatible with Bootstrap 4, so revert?"
In #1245, @geriom wrote:

Docsy is still using Bootstrap 4.x, which officially [requires Popper `^1.16.1`](https://getbootstrap.com/docs/4.6/getting-started/introduction/#separate), e.g., see:

I don't know if anything will break, but if the official BS docs require Popper v1, I'd stick with v1 for now --at least for the next release (0.5.0) of Docsy.

Once we upgrade to Bootstrap 5 (#470), we'll

[2022-10-08 14:12] chalin commented on #1264
In fact, I don't think that we should be fetching and including Popper separately, we should use the Bootstrap bundles (for JS and CSS), which includes Popper (and more).

[2022-10-08 14:14] chalin commented on #1264
I'd suggest that we leave the click-to-copy code and styles in, just unconditionally exclude the code for now. My 2 cents.

[2022-10-08 14:24] chalin commented on #470
Moved to [22Q4](https://github.com/google/docsy/milestone/5). Given the deadlines we're facing re. BS v4 EOL, we really should schedule this work to happen soon:

[2022-10-08 14:40] chalin commented on #1264
Ah, in fact, I confirm that Docsy's tooltips (which use Popper), no longer work. To reproduce:

- Visit https://www.docsy.dev, or the preview of #1245, https://deploy-preview-1245--docsydocs.netlify.app.
- Try hovering over one of the footer icons.

What happens? **No tooltip appears.**

Contrast this with the preview of the last PR (#1189) before #1245 was merged: https://deploy-preview-1189--doc

[2022-10-08 14:53] chalin commented on #1264
I'm going to revert #1245 now because I'm trying to upgrade Docsy on another project.

[2022-10-08 14:54] chalin opened #1265 "Get Popper from Bootstrap bundle"
_Originally posted by @chalin in https://github.com/google/docsy/issues/1264#issuecomment-1272329319_

[2022-10-08 15:02] #1264 closed

[2022-10-08 15:09] chalin opened #1267 "Reactivate code-block copy feature"
- #1245 introduced a click-to-copy button for code blocks
- Due to the issues reported in #1264, the feature had to be disabled
- Once we upgrade Bootstrap (#470), consider reactivating the click-to-copy feature.
- Other points to consider:
  - Make the feature inclusion configurable via a config param, since some projects might have and prefer to continue using their own code-copy button.
  - Add

[2022-10-08 15:18] #1265 closed

[2022-10-08 16:38] chalin commented on #1197
Reopening because this didn't fix the issue for me. (I'll post more details as soon as I can.)

[2022-10-08 19:24] chalin commented on #1197
This is what happens now: the main list of posts is in ascending order. It used to be in descending order (so that the most recent post was first).

So #1200 will need to be reverted.

[2022-10-08 19:31] chalin commented on #1197
I think that the order of the posts in the blog page listing is correct. It'll be tricky to fix in the navbar (that code is quite complicated already). Maybe it's a "bug" in the Hugo sort function? That would require some careful testing, and I don't have time for that atm.

[2022-10-10 14:00] LisaFC commented on #1250
1. Proposed update in #1270
2. It should be possible to get it working for mobile/smaller screens - I've tried and it's easy to put extra searchboxes on a page so the left nav searchbox would work for Algolia. One snag is that the Algolia code requires each searchbox div to have its own id - at the moment we reuse the searchbox code exactly between the two locations so that won't work without a bi

[2022-10-10 14:37] LisaFC commented on #1254
Yes, they're XML RSS feed files and they're generated by default by Hugo, with a default template (also presumably you don't want them to be indexed, so RSS feed URLs being crawled but not indexed is a bit noisy but better than XML duplicates of your content showing up in search results)

If you don't want RSS feeds generated at all, you can just switch them off:
https://www.docsy.dev/docs/adding-

[2022-10-10 16:25] chalin commented on #1254
Can this be closed?

[2022-10-10 16:32] chalin commented on #1250
Having investigated a possible solution, @LisaFC will be working on a fix for use of Algolia in the side-nav search. Thanks @LisaFC!

[2022-10-10 18:35] heinrich-ulbricht commented on #1254
If there is no further official advice on how to  avoid the Google crawl warnings, yes.

[2022-10-10 18:37] chalin opened #1271 "Tabpane shows multiple tabs at the same time"
If I insert the following `tabpane` in, for example, the User Guide

[code]

then it renders like this, when using Docsy `@HEAD` (currently 7489c354a3ca873182e4748ba7bb57cea2d7f468):

Things I've tried:

- If I remove the `lang` attribute, it gets better (no multiple tabs shown), but then the formatting still isn't right.
- If I move the `lang` attribute into the `tab` elements (while naming the `

[2022-10-10 18:58] chalin commented on #1254
Sorry, I hadn't read the details. I thought that @LisaFC had answered the question. Let me take a look ...

[2022-10-10 19:02] chalin commented on #1254
Which site is this for? (If you are able and willing to share.)

Looking at some of our sites, which are built with Hugo+Docsy and that have RSS feeds: I'm not seeing any error in the search console. As far as I know, we're not doing anything special w.r.t. the `robots.txt` file, for example.

[2022-10-11 08:24] froboy commented on #805
nope.

[code]

On Mon, May 16, 2022 at 5:08 PM Andreas Deininger ***@***.***>
wrote:

[2022-10-11 09:18] LisaFC commented on #1254
So if I dig down I do see those warnings for the Docsy site itself in the search console - look under Page Indexing > Crawled: currently not indexed and there are a few RSS feed URLs (not sure if you can see this: https://search.google.com/search-console/index/drilldown?resource_id=https%3A%2F%2Fwww.docsy.dev%2F&item_key=CAMYFyAC&hl=en)

I think one issue is that it's not strictly an error, the fe

[2022-10-11 13:24] deining commented on #1271
I investigated the issue and what you see here is caused by the `persistance of the language` feature.

**Quick fix:**

Disable persistance of language, use a language that is supported by Prism and everything will be o.k.:

[code]

**Analysis**

You are defining `lang="console"` globally for all tabs. With persistance of language enabled by default, a key `active_language´ is set in the local sto

[2022-10-11 15:39] heinrich-ulbricht commented on #1254
Yes, thank you. I'll probably use a robots.txt then.

[2022-10-11 15:39] #1254 closed

[2022-10-11 15:55] kimberleybrown opened #1273 "Docsy v0.5.0 - Build error after auto update"
Hello,

We have followed the instructions found on migrating Docsy to a module in our project. However, today when building our project, we see that Docsy is automatically upgrading from v0.04.0 => v0.5.0 which is causing our builds to fail. The changelog from Docsy's most recent commit explains that there are breaking changes, which causes our projects to fail when running `hugo server`. We get t

[2022-10-11 17:13] kimberleybrown commented on #1273
Update on issue findings:

It doesn't seem to stem from the Hugo version.

The error seems to appear when you have the `_vendor` directory active but do not vendor Docsy. The issue, for us locally, is when you have vendor common modules but do not include Docsy in it.

[2022-10-11 21:40] chalin commented on #1271
Thank you for the thorough investigation and detailed description.

Yes.

[2022-10-12 14:10] masgustavos opened #1274 "Local search not working with Netlify"
Hi folks! Thanks for the project.

Here's my issue: In local development (using docker-compose) I'm able to use the offline search feature, with this config snippet:

[code]

However, in Netlify's deployment I see the search bar and I'm able to write in it, but get no response from the search (after pressing "enter"). This behavior is true for both side and nav bars.

Here is it working locally:

[2022-10-12 19:36] kimberleybrown commented on #1267
Looking forward to this once it's been finalized! :)

[2022-10-12 23:08] adisagar2003 commented on #1158
Hello can I work on this issue?

[2022-10-13 05:45] deining commented on #1158
Yes, go ahead, your PR is welcome. Apprecating your efforts, good luck!

[2022-10-13 07:41] chalin commented on #1165
@geriom @deining - could either of you confirm?

[2022-10-13 07:43] chalin commented on #1256
I've confirmed that the fix (#1247) works in FF as well as Chrome and Safari.

[2022-10-13 10:31] chalin commented on #1256
Reopening since this needs to be fixed for offline search too!

[2022-10-13 20:15] #1256 closed

[2022-10-14 04:06] jlian commented on #1267
+1, would like to stick with Chroma

[2022-10-14 07:22] deining commented on #1271
This issue was addressed with PR #1280. With this PR in place, the offending code given in the initial post can now be used as-is and works out of the box. A warning is issued, though, indicating to the user that duplicate language assignment was detected. In the case of the shortcode snippet given above, the following warning is presented:

[code]
PR #1280 also addresses the styling issue mention

[2022-10-14 08:04] deining commented on #1165
I used HEAD of `docsy` repo, converted the `userguide`dir to module installation and could preview it without problems.

**Dependencies**:

[code]

Release 6.2.0 of FontAwesome translates to commit `d3a7818c253f``.

So coming back to four initial question: yes, modules still work with FontAweSome 6.2. 😄

[2022-10-14 08:40] deining commented on #1273
Were you able to overcome your problems? Hard to judge what is/was going on here. If there is any `vendor` directory present, the contents of this dir will take precedence over the downloaded files in the module cache.

_Just as a note to readers of this issue_: When using module installation of `docsy` theme, there is **no** auto-update of docsy theme! Update only happens if you actively opt for

[2022-10-14 08:43] roidelapluie commented on #1165
It does not work for me:

[code]

![off_000](https://user-images.githubusercontent.com/291750/195803423-87a8f3c6-69b9-4b9f-b0c0-9227de01d2bf.png)

[code]

[2022-10-14 08:49] deining commented on #805
I ran into the same issue today. This helped me to overcome the problem:

In your `config.yaml`, locate this section:

[code]

Remove the `print` output format:

[code]

The error should be gone, so you can continue with your installation. Once finished, you can add the `print` format again. This time, no error should occur any more.

[2022-10-14 09:06] roidelapluie opened #1281 "hugo serve does not serve font awesome anymore"
related to #1165

It does not work for me:

[code]

![off_000](https://user-images.githubusercontent.com/291750/195803423-87a8f3c6-69b9-4b9f-b0c0-9227de01d2bf.png)

[code]

[2022-10-14 09:17] deining commented on #1165
As stated in #1281, there are some issues I overlooked.
Reopening the issue and investigating ...

[2022-10-14 10:52] deining commented on #1165
I just submitted PR #1282. Once this PR is merged, module installation should work without any flaws.

[2022-10-14 10:55] deining commented on #1281
@roidelapluie: I just submitted PR #1282 which addressed the issue raised by you. Can you test this fix and report back, whether it cures the problem? Your input is appreciated.

[2022-10-14 20:06] kimberleybrown opened #1283 "Howto in Hugo/Docsy - Using FontAwesome Pro instead of free version?"
Hello!

Hoping this isn't too much of a basic question, but I was wondering how we could use a pro version of FA if we have access to one?

I've seen some information on the FA website indicating that you could use npm and call your personal token, but the commands don't do anything when I've used them in a project (unless I'm using it wrong?).

Has anyone here used a pro version instead of the fr

[2022-10-16 23:36] EspadaV8 opened #1285 "After migrating to Hugo module, can no longer load FontAwesome files"
I have followed the guide on the Docsy site (<https://www.docsy.dev/docs/updating/convert-site-to-module/>) to switch from a git submodule to a Hugo module, and most things seem to be working, but now I get a 404 when attempting to load any of the FontAwesome files. Checking the `mod graph` and it looks correct to me

[code]

The page is just a generic 404 page when attempting to view the file

![

[2022-10-16 23:52] EspadaV8 commented on #1285
Done some further testing, and it looks like it is an issue with the v0.5.0 release. Trying 0.2.0, 0.3.0, and 0.4.0 all load correctly, upgrading to 0.5.0 and the fontawesome files are no longer loading.

Checking the output of hugo it seems there are ~15 static files that are not correctly processed

## 0.4.0

[code]

## 0.5.0

[code]

[2022-10-17 06:02] deining commented on #1281
Reopening since this issued is not fully addressed with #1282. Follow-up ticket #1284 needs to be merged, to. After that merge, we can close this ticket.

[2022-10-17 06:03] deining commented on #1285
This is a know issue that was raised in #1281 already. It was addressed with PR #1282 (merged) and PR #1284 (not merged yet).

[2022-10-17 15:22] guettli opened #1287 "Highlight current heading of the page (if you scroll down)"
thank you docsy!

I think it would help the user if the current heading in the TOC of the page (right side) would
highlight the current heading.

![image](https://user-images.githubusercontent.com/414336/162515954-2d844d06-d410-45a9-88bb-25b7662476ae.png)

In this case it would be great if "Service account token Secrets" would be highlighted in the right column.

The highlighted heading should get

[2022-10-17 15:30] fekete-robert commented on #1287
Hi, I think your issue is a duplicate of https://github.com/google/docsy/issues/349

[2022-10-17 15:53] #1281 closed

[2022-10-17 16:18] geriom commented on #1165
Merging #1284 solved this issue for me. If no further problems are reported we can can close it.

[2022-10-18 01:58] chankruze opened #1288 "bug: unable to serve or build due to unclosed action in navbar partial"
[code]

[2022-10-18 06:27] deining commented on #1288
I'm unable to reproduce your error using your minimal repo (Windows 10, hugo 0.104.3, go 1.19.2). Everything is working out of the box for me. What is your platform, what are your versions of go and hugo?

These are the dependencies of my local clone, they are in line with the versions given in the ´go.mod` files of the test repo:

[code]

You wrote:

[code]

I don't understand why docsy v0.5.0 is

[2022-10-18 06:56] guettli commented on #1287
Yes, you are right. I close my issue, since it is a duplicate.

[2022-10-18 07:23] chankruze commented on #1288
[code]

[2022-10-18 07:42] deining commented on #1288
By using hugo version 0.68 your module dependencies were updated.

Can you try

[code]

Does this cure your problem?

[2022-10-18 08:01] chankruze commented on #1288
It is now showing below output:

[code]

[2022-10-18 15:37] #1165 closed

[2022-10-18 17:21] polarweasel opened #1289 "including tabpane content via readfile assigns duplicate HTML IDs"
If we include `tabpane` content from more than one file (in this case, using the `readfile` shortcode), every tab pane gets the same HTML ID, and the tabs don't work correctly. (Click a tab in one pane, and the _tab_ switches but not the _content_, but the content switches in another pane without switching its tab...)

Here's a [PR preview](https://deploy-preview-14425--infallible-bardeen-164bc9.n

[2022-10-18 20:11] deining commented on #1289
Thanks for the clear description of your issue.

Yes, I do have some ideas already, and I'm pretty confident I can provide a fix for this issue in one way or the other.

No, #1280 and the issue raised by you are quite different.

Stay tuned, I will have a look at this shortly.

[2022-10-18 20:27] deining commented on #1288
As stated in the message (and both mentioned in the [hugo docs](https://gohugo.io/troubleshooting/faq/#i-get--this-feature-is-not-available-in-your-current-hugo-version) and in the [docsy docs](https://www.docsy.dev/docs/get-started/docsy-as-module/installation-prerequisites/#on-linux)): you need the **extended** version of hugo in order to successfully preview your site.

Run

[code]

and make su

[2022-10-19 01:07] chankruze commented on #1288
Leave it, I'll use jekyll or maybe build my own using React.

[2022-10-19 09:06] kartikagarwal799 commented on #311
Im facing same issue.

[code]

[2022-10-21 14:05] LisaFC commented on #1274
Hi, so I think there's a problem with your JS - looks like you're serving main.js from Cloudfront but there's an issue with the integrity attribute so Chrome (at least, haven't checked with other browsers) is blocking it.

![Screen Shot 2022-10-21 at 14 58 14](https://user-images.githubusercontent.com/10744406/197213930-991e5934-afd8-43b9-b42d-e3a67a7117ab.png)

I've enabled Lunr on a test Docsy s

[2022-10-21 17:14] #1271 closed

[2022-10-21 17:14] #1289 closed

[2022-10-21 17:22] masgustavos commented on #1274
Hi @LisaFC, thank you for your response!

Yeah, simply redeploying in Netlify with the "Clear Cache" option wasn't enough.

After a few iterations I found out that the problem was the `Build & Deploy > Asset Opmitization > Bundle JS: Concatenate consecutive JS files together to reduce HTTP requests.` property that was causing my problem.

Deactivating it solved the issue!

[2022-10-21 17:22] #1274 closed

[2022-10-21 17:56] geriom opened #1290 "Release v0.5.1"
- [x] Prepare hugo modules
- [x] Update `package.json`
- [x] Update `config.yaml`
- [x] Update Changelog
- [x] Create and test new tags
- [x] Create and publish the new release 🎉
- [ ] https://github.com/google/docsy-example/pull/188

[2022-10-21 18:48] polarweasel commented on #1289
Thank you, @geriom and @deining! Looking forward to release 0.5.0, as it will solve several issues we're having. 👍

[2022-10-24 01:27] EspadaV8 commented on #1285
@deining Tried that, and it looks to be working. The number of static files is still lower than in 0.4.0, but higher than with 0.5.0

[code]

[2022-10-24 14:29] geriom commented on #1290
Docsy v0.5.1 released: https://github.com/google/docsy/releases/tag/v0.5.1

[2022-10-25 06:05] deining commented on #1290
@geriom: Can we please update the exampe site to the newly released version? A corresponding [PR](https://github.com/google/docsy-example/pull/188) exists already. Thanks.

[2022-10-25 10:01] ManuelRauber commented on #138
Running into the same issue

[2022-10-25 17:16] geriom commented on #1290
Thanks for opening that PR. Approved and merged.

[2022-10-25 17:16] #1290 closed

[2022-10-26 16:37] kimberleybrown commented on #1194
Want to bump this again as it is an ongoing issue with no suitable fix yet.

[2022-10-27 03:41] samdulam opened #1295 "tabbed content broken with recent changes"
With latest updates to `tab.html` and `tabpane.html` tabbed content looks like below
![image](https://user-images.githubusercontent.com/58716812/198185819-ef455ca3-e625-4bfa-ad54-6365cea359c6.png)

Manually creating those files in my project layouts/shortcodes using code from commit [1b10f6b](https://github.com/google/docsy/commit/1b10f6bebef9ad732e34a04f63ec7087d0ca1ee3) fixes the issue.

[2022-10-27 11:16] LisaFC commented on #1194
@raum51 did you find anything tweaking the z-index?

[2022-10-27 12:32] arnonzooz opened #1296 "POSTCSS error: `GLIBC_2.27' not found (required by node)"
Hi all,

I'm trying to deploy our docs to Amazon. I use the latest Node LTS. Getting this error as of today:

POSTCSS: failed to transform "scss/main.css" (text/css): node: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.27' not found (required by node)

Did anyone encounter this? Any ideas how to solve?

Thanks

Arnon

[2022-10-27 19:55] emckean commented on #1296
Hi! this seems like an AWS issue, does [this SO question](https://stackoverflow.com/questions/72022527/glibc-2-27-not-found-while-installing-node-on-amazon-ec2-instance) help?

[2022-10-27 20:24] kimberleybrown opened #1297 "`sidebar_search_disable` config option no longer working?"
Hello!

My team have been testing out the new Docsy V5 and we currently have the config option `sidebar_search_disable` set to `true`, however we noticed that in the responsive design that there is a search input field now appearing in that sidebar menu.

Is it possible that with the recent refactoring of some of the names that the config option is no longer being respected? Unless there's a poten

[2022-10-28 04:53] polarweasel commented on #1295
@deining @chalin this is a big regression on tabpanes, and is breaking what I was hoping to fix by upgrading to 0.5.1...

[2022-10-28 05:08] polarweasel commented on #1295
Further details:

When you render a tabpane **directly**, it looks like what @samdulam posted, and the tabs are functional.

When you include a tabpane **by reference** using `readfile`, the appearance is the same, but the tabs are non-functional.

I'm playing with this in yugabyte/yugabyte-db#14694 if you want a live example. (Can't do the upgrade until this is resolved anyway, so we may as well

[2022-10-28 07:47] deining commented on #1295
I just investigated your case, thanks for providing the repo!

With version 0.5.1, a breaking change in tabpanes was introduced: the parameter `code` was replaced by `text`.

@polarweasel: In your case this means, inside `managed-quick-start-include.md` you have to replace line 3:

[code]

with

[code]

Then have a look at your site preview, your tab should display correct again!

**ToDo**: This b

[2022-10-28 14:08] kimberleybrown commented on #1297
Nevermind! It was my fault - tired brain. Good work on v5!

[2022-10-28 14:08] #1297 closed

[2022-10-29 05:16] deining commented on #1295
Done with PR #1298.

[2022-10-31 04:15] polarweasel commented on #1295
Thanks so much, @deining!

[2022-10-31 09:29] jmichelgarcia commented on #1283
Hi, a better place for this question might be on https://github.com/google/docsy/discussions since this is not related to an issue with the theme. :

[2022-10-31 09:31] jmichelgarcia commented on #1250
I'm closing this since fixes are being handled in #1270. Thank you folks!

[2022-10-31 09:31] #1250 closed

[2022-10-31 17:24] chalin commented on #1295
Yes, thanks! Can this issue be closed?

[2022-10-31 21:14] polarweasel commented on #1289
(Update: we are now using 0.5.1 in production. Thanks!)

[2022-11-01 04:06] #1295 closed

[2022-11-01 22:24] chalin commented on #1273
Hi @kimberleybrown. I haven't read through all the details in this issue, but I thought that I'd drop a quick note: have you tried with 0.5.1, which is an official release. 0.5.0 was broken and never officially released. /cc @geriom

[2022-11-01 22:32] chalin commented on #48
I don't understand what the issue is here. Do you @LisaFC? Based on #49, I get the impression that the intent was to have Docsy support GA, which it clearly does now. I'm going to close this issue. Feel free to open a new one if something is still missing.

[2022-11-01 22:32] #48 closed

[2022-11-01 23:04] chalin commented on #263
Closing this in favor of #175.

[2022-11-01 23:04] #263 closed

[2022-11-01 23:26] chalin opened #1302 "Page feedback: support Google Analytics 4 (GA4)"
Universal Analytics (UA) is deprecated. For details, see #1096. Here's some of the code associated with the page feedback feature: https://github.com/google/docsy/blob/d9bf98b876d74772b850ef910c6f59b898f61ccf/layouts/partials/feedback.html#L37-L53

This still uses the `analytics.js` library's `ga()` function. Note that this code is **incompatible with GA4** because of the library that is used and

[2022-11-01 23:51] chalin commented on #1302
Note: the use of `click` as a custom event name _might not prevent_ projects from accessing page-feedback event data (I'm still exploring how to do this in GA4), but it does seem to make it unnecessarily harder when the same event name is also used by GA4 for another purpose.

[2022-11-02 12:26] chalin opened #1303 "Page feedback: weed out the bots"
- Context: the downstream issue https://github.com/kubernetes/website/issues/37201
- Ideas:
  - [[How to prevent robots from automatically filling up a form?](https://stackoverflow.com/questions/2387496/how-to-prevent-robots-from-automatically-filling-up-a-form)](https://stackoverflow.com/questions/2387496/how-to-prevent-robots-from-automatically-filling-up-a-form)
- Related:
  - #1302

[2022-11-02 13:41] kimberleybrown commented on #1273
Hi @chalin, thanks for checking in. We have been able to successfully upgrade to v0.5.1 and it is running smoothly so far.

[2022-11-02 16:40] chalin commented on #1273
I'm glad that it is working smoothly now. I'll close this issue then. Feel free to open another if something arises.

[2022-11-02 16:40] #1273 closed

[2022-11-03 01:36] chalin commented on #1302
In the interim, it seems that projects can define an event-modification rule through the analytics console interface, to change the event name of page-feedback events to `page_helpful` from `click`. For extra details, see https://github.com/kubernetes/website/issues/37657#issuecomment-1301548361.

Thanks for the pointer to the relevant GA4 doc pages @emckean! 🧡

[2022-11-03 02:36] jmichelgarcia opened #1304 "Regression in offline search popover on v0.5.1"
**v.0.5.1**
![search-hugo](https://user-images.githubusercontent.com/2745523/199637310-cdfae9e6-d669-404e-bb0f-b3123ace6d63.gif)

**v0.4.1-0.20220713143414-1b10f6bebef9**
![hugo-v0 4](https://user-images.githubusercontent.com/2745523/199637532-82670c96-0bbd-4be4-8db7-251b13a87e6f.gif)

**config.toml**
[code]

**Source**
https://github.com/jmichelgarcia/docsy-algolia

**To reproduce**
1. Go to http

[2022-11-03 02:37] jmichelgarcia commented on #1304
Between the two screenshots, there is no change beyond the below:

[code]

[2022-11-03 04:24] rkJun commented on #1296
Amazon Linux 2 or some os includes Glibc 2.26 or under.
To use a higher glib version,
need to consider other AMI.
for example) Amazon Linux 2022.

reference : https://repost.aws/questions/QUrXOioL46RcCnFGyELJWKLw/glibc-2-27-on-amazon-linux-2

[2022-11-03 12:31] tekezo commented on #1304
Thank you for feedback.

I guess this is an issue with the bootstrap update.
I've created a PR for the fix. #1305

@chalin @LisaFC Could you review the PR?

[2022-11-03 12:48] #1304 closed

[2022-11-03 12:49] chalin commented on #1304
Thanks for the detailed report @jmichelgarcia. Let us know if this fix worked for you. Thanks for the fix @tekezo.

[2022-11-03 13:03] tekezo commented on #1304
@chalin Thanks for reviewing!

@jmichelgarcia I've confirmed the fix with the following version specification:

[code]

[2022-11-03 17:26] jmichelgarcia commented on #1304
It's puuuurfect. Thank you folks

[2022-11-05 12:19] jmichelgarcia commented on #1302
_Thank you for the pointers here, I just spent one hour trying to figure out this_

[2022-11-09 13:18] arnonzooz commented on #1296
Hi,

Thanks for the replies!

For now I had to revert to using an older Node version. That did the job, though admittedly it still concerns me a bit. Would have preferred to stay on the latest Node version.

Closing this issue.

Thanks again.

Arnon

[2022-11-09 13:18] #1296 closed

[2022-11-11 23:42] chalin opened #1309 "Tabpane formatting issue in narrow views"
The **styling of tabpanes** in **narrow views** is off

This comes from https://github.com/open-telemetry/opentelemetry.io/pull/1993#issuecomment-1312267503.

I thought that this had been fixed. Maybe it's a regression?

[2022-11-11 23:44] chalin commented on #1309
More maybe it's a styling conflict with OTel's style, and what I'm remembering is that it was fixed in another CNCF project? I'm not sure, but if you have an idea of what might be wrong @deining, I'd appreciate your feedback. Otherwise I'll dig deep some time soon.

[2022-11-14 16:08] chalin opened #1311 "Page feedback shouldn't require that a Google Analytics ID be set as a config parameter"
Google Analytics isn't always enabled via Docsy config -- for example, see:

- https://github.com/open-policy-agent/opa/issues/5384 and
- https://github.com/prometheus/docs/issues/2181

For such projects, that want to use the [page-feedback feature], they should be able to `enable` page-feedback without having to supply a bogus analytics ID. WDYT @LisaFC @emckean @geriom?

[page-feedback feature]:

[2022-11-14 17:39] LisaFC commented on #1311
So at the moment the only way to track the results of the page feedback feature is using Analytics - presumably users could hook their own mechanism in there but we'd need to mention that explicitly.

[2022-11-14 18:29] emckean commented on #1311
Yeah, I agree that having a way to hook up page-feedback to something other
than Analytics would be a good idea.

What would people use instead? My naive implementation would be to use some
kind of webhook or Netlify function ...

On Mon, Nov 14, 2022 at 9:39 AM LisaFC ***@***.***> wrote:

--
Erin McKean | Docs Advocacy Program Manager, Open Source Programs Office |
***@***.*** | she/her

[2022-11-14 18:36] chalin commented on #1311
To clarify: the projects I referred to _are_ using Google Analytics  (GA). It's just that GA isn't set up via Docsy -- it's set up via Netlify snippet injection. So GA _is_ still active, but Docsy doesn't know about it. They way I've kept the page-feedback active is by supplying a bogus GA ID, but I'd rather avoid that if possible.

[2022-11-14 18:39] emckean commented on #1311
Oh, thank you! That's interesting, I wonder what the advantage is to using
Netlify snippets? But yes, if something could be configured I vote for
configuration 😂

On Mon, Nov 14, 2022 at 10:37 AM Patrice Chalin ***@***.***>
wrote:

--
Erin McKean | Docs Advocacy Program Manager, Open Source Programs Office |
***@***.*** | she/her

[2022-11-21 16:16] chalin commented on #1311
There are a number of advantages, which I hope to share here (or during the next PSC meeting I"m able to attend) soon.

[2022-11-23 15:09] norrissc commented on #704
If you only want to remove the taxonomy cloud but keep the taxonomies, I have found a workaround by commenting out one taxonomy in the config file and then adding a new one that is not used. Not the most elegant but it works.

[2022-11-23 15:47] fekete-robert commented on #704
You can probably hide it from your project css file by setting the `display: none;` for the taxonomy class.

[2022-11-24 15:56] tdcox opened #1319 "Menu items dropped at some window sizes"
Using Docsy 0.5.1 as Hugo module.

We have a top level menu, containing three items, Documentation, Community and Releases.

When the browser window is less than 960 pixels wide, the dynamically generated Releases submenu item stops being rendered. The font size is also reduced for the remaining two items and their position is offset slightly.

![Screenshot 2022-11-24 at 15 40 57](https://user-ima

[2022-11-25 22:44] multun opened #1321 "failed to transform mermaid.js at jsonify"
Hello there! While testing a patch, I found out that the website I'm working on (which only uses docsy) does not build anymore on the development branch. I use the latest [docker-hugo with ext-alpine](https://github.com/klakegg/docker-hugo) and a submodule workflow.

I ran a bisect and found out this error only happens since 90843e360b921ea8417995e0261a355f2f3aed7a (from #990, by @stephanlachnit)

[2022-11-26 11:25] deining commented on #1321
Most likely, this is due to a know bug addressed in (and hopefully fixed by) #1316.

**Workaround:**

Remove these two lines from your `config.toml`.

[code]
https://github.com/DGEXSolutions/osrd-website/blob/9e04989c0ebddd5d42bbbb7083db1362e3e5dc90/config.toml#L153-L154

And make sure you use a hugo version >= 0.93.0 (your `netlify.toml` specifies outdated hugo version 0.88.1).

Does this cure yo

[2022-11-26 16:23] multun commented on #1321
Yup, you're indeed correct, thanks!

[2022-11-26 16:23] #1321 closed