[2021-07-09 12:29] narrenfrei commented on #626
Have you tried to update the submodules recursive?
`git submodule update --init --recursive`

[2021-07-09 13:12] mjang-cobalt commented on #626
That command changes nothing in my (unfortunately private) repo.

I think I also should match the build pattern described in https://www.docsy.dev/docs/deployment/#deployment-with-netlify

[2021-07-09 13:28] mjang-cobalt commented on #626
Also... I can replicate the issue locally on the `justdocs` repo, using the following steps:

1. Open a branch
2. Navigate to themse/docsy
3. Check out a problematic commit (in this case, `git checkout 43a70b21d`)
4. `hugo mod clean`
5. `hugo server -D`

And here's the result:

![Screen Shot 2021-07-09 at 6 25 53 AM](https://user-images.githubusercontent.com/84352037/125084914-e2c51500-e07e-11eb-9

[2021-07-09 13:32] mjang-cobalt commented on #626
I'd share the branch, but it seems I don't have access rights:

[code]

[2021-07-10 09:37] thebe14 opened #629 "Add support for tabbed content"
Can be used e.g. for instructions on how to install something on multiple platforms, each platform having its own tab. Or for code in multiple language that does the same thing.

![linux](https://user-images.githubusercontent.com/25453173/125158716-30bb4500-e173-11eb-856b-de4558f3a758.png)
![windows](https://user-images.githubusercontent.com/25453173/125158718-32850880-e173-11eb-950f-6e2053594034.

[2021-07-11 11:01] honzik20 commented on #629
This might be what you're looking for: https://www.docsy.dev/docs/adding-content/shortcodes/#tabbed-panes

[2021-07-11 12:00] thebe14 commented on #629
That's a good start, yes. Except that will make the entire content of the tab a code snippet. If you want to use it for anything but code, it will not look good.

[2021-07-11 12:09] #629 closed

[2021-07-11 17:40] LisaFC commented on #625
It's here: https://github.com/google/docsy/blob/master/layouts/partials/search-input.html#L10

It's the HTML entity &#xf002; which is equivalent to fontawesome's fa-search.

[2021-07-12 19:34] LisaFC commented on #627
Hmm, that should be easy enough to fix. I'll take a look.

[2021-07-13 09:37] thebe14 commented on #627
See PR #628

[2021-07-13 11:51] #627 closed

[2021-07-13 14:06] arnonzooz commented on #625
Thank you. Found it. Closing the issue.

[2021-07-13 14:06] #625 closed

[2021-07-13 15:53] LisaFC commented on #626
Hmm, the justdocs repo hasn't had its Docsy submodule updated in some time, I'll fix that (it's also probably not the best example for a "just docs" deployment anymore now that we have Hugo improvements as described in: https://www.docsy.dev/docs/adding-content/content/#alternative-site-structure)

The "menu accidentally appearing in the wrong place" version of the theme was from a while back and

[2021-07-13 18:15] LisaFC commented on #622
Huh, that *is* odd - the versions params should literally just govern what goes in that drop-down, we don't use them anywhere else (I don't think). Let me take a look....

[2021-07-13 19:49] pschrey2 commented on #626
Could discussion #631 be the root cause?

[2021-07-13 21:00] mjang-cobalt commented on #626
Thanks for confirming at least part of this issue. I've been able to update the docsy submodule to the later commit, `fbe578e`. (`git submodule update --remote` and variations seem to lead to build failures in Netlify.

[2021-07-14 08:57] LisaFC commented on #626
So just to check what's happening when you're updating - the usual flow (if you're using Netlify) should be:
- Do `git submodule update --remote` in your local copy
- Add/commit the change:
[code]
- push it to your repository (so your repo version is now pointing to the latest version of Docsy)
- Netlify rebuilds and publishes from that version of your repository

Is that what you've been doing?

[2021-07-14 09:04] LisaFC commented on #626
Hmm, I don't think so - the menus in the current Docsy docs work fine and they're coming from the repo head  (which has the accidentally downgraded Bootstrap version).

[2021-07-14 09:54] pschrey2 opened #632 "Bootstrap git submodule v4.5.3, not in sync with partials/scripts.html (still v4.6.0)"
### Discussed in https://github.com/google/docsy/discussions/631

<div type='discussions-op-text'>

<sup>Originally posted by **pschrey2** July 13, 2021</sup>
Hi, bootstrap seems to be switched back to version 4.5.3 on May 29 with commit c5f1613fb1b163ad4ea18e603fc1915494f4bf49 (see git submodule bootstrap at https://github.com/google/docsy/tree/master/assets/vendor).
Any reason for that?
Regards,

[2021-07-14 10:02] LisaFC commented on #622
Ok, I see what's happened - you've put `[[params.versions]]` in the middle of the site `[params]`, so Hugo doesn't think anything below them is a site parameter any more, including the github repo, enabling offline search, etc.

If you put your version settings below the site params it all works fine, eg:

[code]

.toml syntax is confusing!

[2021-07-14 10:29] at055612 commented on #622
Apologies.  I thought it must have been some muppetry on my part.  That fixes it.  Not worked much with TOML.  The _Obvious_ in _TOML_ is debatable.

Thanks for looking into it.

[2021-07-14 10:29] #622 closed

[2021-07-14 10:44] LisaFC commented on #622
No problem, and glad you like the theme!

[2021-07-14 12:30] LisaFC commented on #632
Done! (also I hate updating git submodules, it always feels like bomb disposal)

[2021-07-14 12:30] #632 closed

[2021-07-14 12:45] at055612 opened #633 "Versions dropdown is missing right margin"
When the versions feature is enabled, the versions drop down is butted up against the search input.  It should probably have similar spacing to the top nav bar menu items.

![image](https://user-images.githubusercontent.com/22818309/125623721-17256cd6-bc7d-45dd-90c0-ed62a82660de.png)

A change along these lines is probably needed

[code]

![image](https://user-images.githubusercontent.com/22818309

[2021-07-14 13:15] mjang-cobalt commented on #626
Thanks for the followup, @LisaFC . I've included the additional steps that I take, inline.

[2021-07-14 13:52] LisaFC commented on #626
Couple of things (after which I *think* I might know what's going on)
- Is there a reason why you're trying to update to a specific commit rather than head? (and yes, we do need to start doing version tags)
- Is the submodule in your source repo (the one Netlify knows about) actually pointing to the version you want to use?
- You shouldn't need to update your netlify.toml to checkout the same vers

[2021-07-14 14:40] LisaFC commented on #626
So where is the repo that you're pointing Netlify to? What version of Docsy is *that* pointing to? I don't quite understand how Netlify is giving you different results (ie an outdated/broken theme version) to your local build unless you haven't pushed the theme update to the repo. I just tried updating a test project to a specific commit in Docsy and it worked fine both locally and in Netlify.

Th

[2021-07-14 14:53] LisaFC commented on #633
Ooh, that does look better. Let me see how it works in something with a language drop-down as well.

[2021-07-14 15:51] at055612 commented on #633
On a slightly related note I also made the following change to the search input border colour to make it stand out a little more.  This is dependent on the colour of the nav bar so I am not suggesting you use the same colour in the docsy theme.

Your docsy example site looks like this.  You can only just see the outline of the input field.

![image](https://user-images.githubusercontent.com/228183

[2021-07-14 17:17] pschrey2 commented on #626
I had this same issue when updating the Docsy git submodule to the latest version in my project for the swagger UI pages.
But I found the reason: the layouts/swagger/baseof.html file got changed between the two Docsy versions.

Because I initially used on local project level a changed version based on the older Docsy version, the TOC got swapped.
After bringing the local version in sync with the n

[2021-07-14 18:22] mjang-cobalt commented on #626
Unfortunately, I can't share that info at this time.

The theme updates break my build. For consistency, I have to make sure that what I push, and what Netlify does in their CI includes the same git hash for the docsy submodule.

In https://github.com/google/docsy/issues/626#issuecomment-877187958, I described what I did to confirm this bug in the `justdocs` repo.

[2021-07-14 20:01] LisaFC commented on #626
Oh sorry, I didn't mean I need to see the repo, I was just wondering if in the repo itself (versus your local copy, or what's happening on Netlify) the submodule is pointing to the correct commit.

I'm not entirely sure what you mean here - in my GitHub/Netlify workflow, whatever submodule info (ie which commit hash I want to use Docsy at) I use locally and push to my source repo is what Netlify u

[2021-07-15 13:28] LisaFC commented on #626
Ok, managed to reproduce "menus go weird with latest submodule" with Just Docs (which has not been updated in ages) but not with a more recently updated site.

Let me see what the difference is....

[2021-07-15 13:38] LisaFC commented on #626
Right, so Just Docs is wrong because it has its own override version of baseof.html, like @pschrey2's project upthread, which won't work with the latest theme without some edits  - https://github.com/LisaFC/justdocs/blob/master/layouts/_default/baseof.html

Can you check if you have any overridden layout files that need to be updated?

[2021-07-15 13:46] mjang-cobalt commented on #626
Thanks @LisaFC . To answer your 4 option question, my "wants" are:

I understand that the solutions for both "wants" may be the same. As for the other data you requested:

- MacOS 11.4 (Big Sur) (though I'd love an argument to use Linux)
- Hugo 0.83.1 (though I've since upgraded to 0.85)
- I've done a lot of copy/paste, as I'm learning Hugo as I go. So maybe I've copied some of the "override versi

[2021-07-15 14:01] LisaFC commented on #626
Great, thanks! Can you check if your own project (in the project root, not the "themes" directory) has a "layouts" directory, and is there anything in it?

[2021-07-15 14:10] mjang-cobalt commented on #626
I do have a `<project root>/layouts` directory, and have started to "build it out" as I want some custom layouts (such as shortcodes and partials).

Next step: check on the impact of a different (latest?) baseof.html.

[2021-07-15 14:24] mjang-cobalt commented on #626
Bummer. I tried with:

- this later docsy commit: 07ac748 (which appears after I run `git submodule update --remote`
- overrode all my layouts/_default files with the corresponding files in themes/docsy/layouts/_default

No change that I could see (though I didn't test the corresponding Netlify build)

[2021-07-15 14:58] LisaFC commented on #626
Can you try the Netlify build just to check, as that might show if there's some local/OS-specific issue? I haven't been able to reproduce the behaviour with any sites that don't have an overridden baseof somewhere. Also do check if you have any other baseof files overridden eg layouts/docs/baseof.html, layouts/blog/baseof.html.

(you also shouldn't need to override/change your project layouts/_def

[2021-07-15 16:23] LisaFC commented on #633
This looks better with the language drop-down too. Can you do a PR with your update?

[2021-07-16 07:56] at055612 commented on #633
yep, will do

[2021-07-16 14:40] #633 closed

[2021-07-18 19:34] pschrey2 opened #637 "huge whitespace in sidebar menus"
Hi,

I saw by accident very big page files on Kubernetes documentation.
For example https://kubernetes.io/docs/tasks/ is 21850 lines long and the lines 286-20056 are taken for the sidebar menu containing a lot of whitespace (do right-mouse and "view page source").

The root cause are the partials https://github.com/google/docsy/blob/master/layouts/partials/sidebar-tree.html and https://github.com/

[2021-07-20 10:39] danibranch commented on #265
I ran into this issue after ejecting an expo project and even if i run it with node version greater than 10, i still get the error.

[2021-07-20 14:39] callagg1 opened #639 "Adding a fabform.io contact form to the template"
Adding a fabform.io contact form to the template

Hello
Since this a static hugo template and has no contact form or database hooked up.
I was wondering if you could add a contact form to the template to use with https://fabform.io the [google forms alternative](https://fabform.io)

It's just a few lines of code

I can update your template or you can if you like and push the changes to your reposi

[2021-07-20 16:13] LisaFC commented on #637
Thanks for that!

[2021-07-22 06:14] pschrey2 commented on #637
And thank you @LisaFC  for merging. Can this issue be closed?

[2021-07-23 01:10] Symbolics opened #641 "sidebar_menu_foldable: checkboxes instead of triangles ?"
I've just enabled the foldable sidebar with `sidebar_menu_foldable = true`, but instead of collapsing triangles, I get checkboxes:

![check-boxes](https://user-images.githubusercontent.com/1607499/126726896-29577cdc-d6e4-4bed-8d98-e1f9746eba1f.png)

Anyone have any ideas why this might be so? This is with the most recent Docsy update (as of yesterday).

[2021-07-23 05:03] narrenfrei commented on #641
Can you provide a link?

Do you have project specific Stylesheets? The markup from the foldable menu are checkboxes, which get removed by CSS.

[2021-07-23 05:32] Symbolics commented on #641
Here is the [repo ](https://github.com/Lisp-Stat/documentation) and live [site](https://lisp-stat.dev/). I can reliably reproduce this by toggling `sidebar_menu_foldable`. I don't think I'm using any project specific stylesheets; we're not too skilled on the HTML side of things here and wouldn't change CSS unless it was required for some other reason.

[2021-07-23 06:28] narrenfrei commented on #641
You have project specific stylesheets in your repo ;-)
look here: https://github.com/Lisp-Stat/documentation/tree/master/assets/scss

Your https://github.com/Lisp-Stat/documentation/blob/a01515a2be206412d6b48c5071f82ef7c77efd46/assets/scss/_nav.scss overwrites the `_nav.scss` from Docsy (including the style infos for the foldable menu - beginning at: https://github.com/google/docsy/blob/0070ccffae

[2021-07-23 06:45] Symbolics commented on #641
Problem fixed after removing `_nav.css`, thank you.

[2021-07-23 06:45] #641 closed

[2021-07-25 11:12] huehnerlady commented on #311
@pauladambrookes would be interested in your modification as well, could you please post your adaption here?

[2021-07-26 18:30] mjang-cobalt commented on #626
Hi @LisaFC , sorry for the delay. Was on holiday.

You're right -- the key file is baseof.html. I'm still having problems when I use the latest default [baseof.html](https://github.com/google/docsy/blob/62cc3edbea013465179e1ea641d0d0da4fdba6f0/layouts/_default/baseof.html)

What's working for me: here's the content of my layouts/_default/baseof.html file:

[code]

[2021-07-26 18:35] mjang-cobalt commented on #626
Here's an example of what I see with the default baseof.html:
<img width="1382" alt="Screen Shot 2021-07-26 at 11 34 44 AM" src="https://user-images.githubusercontent.com/84352037/127040662-2613acc2-8b1a-4689-88f6-300ce3131f02.png">

[2021-07-27 07:39] narrenfrei commented on #626
Without a possibility to have a look into your repository it's really difficult to give you a advise.
Maybe you could make a minimal version (only with useless test content) of your website?

[2021-07-27 14:22] dholbach commented on #616
#618 fixed this.

[2021-07-27 14:22] #616 closed

[2021-07-27 18:10] pschrey2 commented on #626
try this one as your layouts/_default/baseof.html

[code]

* You need to use `<aside>` tags instead of `<div>` tags around the partials sidebar.html and toc.html.
* You need the `td-sidebar-toc` class instead of the `td-toc` class for partial toc.html. The `td-toc` class does not exist anymore in Docsy css.

[2021-07-28 19:25] disrael commented on #261
I don't see what submitting a sitemap is going to fix. The problem is not that Google is not indexing the pages but getting too much. I can see in my results directly from Google index (from [my documentation](https://documentation.uclusion.com) it's not even hitting search.html but that must be something else) that they include not only the sidebar on every page but also the print links.

[2021-07-28 19:43] LisaFC commented on #637
Sure thing!

[2021-07-28 19:43] #637 closed

[2021-07-28 20:28] disrael commented on #261
Actually same problem and also lots of other problems for https://www.docsy.dev/search/?q=shortcode

[2021-07-29 15:32] LisaFC commented on #626
Hrmm, something funny going on here - the _default/baseof file *should* be just used for things like landing pages , so it isn't used for any of the page types that have sidebar menus (that's docs/baseof and blog/baseof instead)

Can you see what your docs/baseof and/or blog/baseof look like?

[2021-07-30 17:44] theseanodell opened #645 "Docsy Search Not Working"
I have tried multiple options for search but I continue to fail! I have followed the documentation too. I am sure this is any easy fix that I somehow keep overlooking. Any suggestions are appreciated.

[Website](https://runterrascan.io/)
[Repository(https://github.com/accurics/runterrascan.io)

Notice the video. I type in the search window and nothing happens.
https://user-images.githubusercontent

[2021-08-02 18:15] aimeeu opened #647 "Section index: Page with "toc_hide: true" still appears in section index page list"
If you include `toc_hide: true` in the front matter, the page is excluded from the left TOC menu, but that page still appears in the list of pages on the section landing page.  Ideally, if the page is hidden from the TOC, it should also be hidden on the section index page.

![image](https://user-images.githubusercontent.com/26799583/127905749-be64049b-d1ad-470e-9c0c-86dd953b2fe4.png)

[2021-08-02 20:41] johnharris85 opened #649 "Clicking a new tab in a tabbed pane jumps to top"
Recently started using tabbedpane and tabs and noticed that whenever I click a tab I get jumped to the top of the page every time. Think this is due to the `#tab-name` links for each tab. Is this desired? Anyway to circumvent / fix?

[2021-08-02 20:46] mjang-cobalt commented on #626
I just got permission to publicly release the repo that I'm using https://github.com/cobalthq/cobalt-product-public-docs. Now I can ask my questions on a more substantive basis (aka, you can now see the mistakes I've made ;) ).. Thanks for the suggestions that I haven't checked yet, and I'll let you know when I do (though I'm a little busy atm)

[2021-08-03 19:01] theseanodell commented on #645
Looks like we have made some progress! Google Custom Search is partially working but no local results.

Hopefully I can figure this out.

[2021-08-03 20:02] DFinn-Takeoff commented on #573
I was also able to get Mermaid to render, but not PlantUML. Any luck @TueDissingWork?

[2021-08-03 20:52] #649 closed

[2021-08-05 13:45] theseanodell commented on #645
Patience is a virtue! Along with a few changes. Closing this issues as search is working now.

[2021-08-05 13:45] #645 closed

[2021-08-05 19:53] mjang-cobalt commented on #626
Possibly related: https://github.com/LisaFC/justdocs/issues/8

[2021-08-07 19:14] aidan-wood-43 commented on #626
I managed to fix my issue at [LisaFC/justdocs#8 ](https://github.com/LisaFC/justdocs/issues/8) by using the layouts/_default/baseof.html suggested by @pschrey2.

[2021-08-09 15:50] chalin commented on #611
@LisaFC et al.: somehow #540 reverted #413. The latter introduced the use of `hugo.IsProduction`, in replacement of the environment-variable checking code. IMHO, use of `hugo.IsProduction` is the better (if not proper) way to determine the build environment, in particular since the build environment can be specified using the [-e flag][] command line flag.

[-e flag]: https://gohugo.io/commands/hu

[2021-08-09 15:55] chalin opened #652 "Changes introducing hugo.IsProduction were overwritten"
_Originally posted by @chalin in https://github.com/google/docsy/issues/611#issuecomment-895335837_

---

@LisaFC et al.: somehow #540 reverted #413. The latter introduced the use of `hugo.IsProduction`, in replacement of the environment-variable checking code. IMHO, use of `hugo.IsProduction` is the better (if not proper) way to determine the build environment, in particular since the build envir

[2021-08-09 15:56] chalin commented on #611
Moved my previous comment to a separate issue (rather than burying it inside this one).

[2021-08-09 20:40] abhi2810 opened #654 "Changing tabs in one tabpane should reflect across all tab panes"
Adding a feature to support persisting programming language selection in `tabpane` for documentation pages.
It can be made flexible to fit with different use cases.
Happy to take this up and submit a PR.

[2021-08-10 11:33] mhansen opened #656 "Upgrading docsy gives "error calling where: reflect: call of reflect.Value.Type on zero Value""
Hi there, on https://gitlab.com/graphviz/graphviz.gitlab.io/, I tried updating the Docsy theme, using
[code]
I now get this error (building on macOS):

[code]

it seems to be pointing at Docsy's `partials/section-index.html` line 5 which is: `{{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}`.

From https://stackoverflow.com/questions/41995110/panic-reflect-call-of-re

[2021-08-10 11:37] mhansen commented on #656
Looks like the low-level error comes from here: https://cs.opensource.google/go/go/+/refs/tags/go1.16.7:src/reflect/value.go;l=1908;drc=f0ff6d4a67ec9a956aa655d487543da034cf576b

[2021-08-10 11:38] mhansen commented on #656
Quite a few calls to `reflect.ValueOf(...).Type()` in here: https://github.com/gohugoio/hugo/blob/master/tpl/collections/where.go

[2021-08-10 17:19] emckean commented on #654
Thanks! Seems like a useful feature, feel free to start a PR!

[2021-08-11 01:59] Tiger-Ji opened #658 "Help!"
How to install ms-agent in ubuntu 18.04?

[2021-08-11 03:00] chrishas35 opened #659 "docs only failure"
A bit new to the stack, so haven't had a chance to dig in, but wanted to document findings thus far...

Have my own docs-only site, but have been able to replicate with [gwatts/mostlydocs](https://github.com/gwatts/mostlydocs/) referenced in the [docsy docs](https://github.com/google/docsy/blob/master/userguide/content/en/docs/Adding%20content/content.md#alternative-site-structure).

On latest the

[2021-08-11 03:09] chrishas35 commented on #656
Looks like this is the same I'm running into.  I'll close #659 as a dup and bring my details here...

@mhansen the latest you'll be able to upgrade to is f85c845226f30a4b2a55085d142e96def89e4c3f until resolved.

[2021-08-11 03:09] chrishas35 commented on #659
Closing as a dup of #656.

[2021-08-11 03:09] #659 closed

[2021-08-13 11:01] laszewsk opened #660 "Feature Request: "Cite" in right hand pane"
I noticed when working with over 100 contributors to a docsy site that there is a need by many to cite their own article/document/blog. I typically give the recommendation to install an extension to the browser. But in reality, that is just a bit too much effort. Instead it would be great to have under the "Edit this page" link another link that says "Cite" with outputin bibtex and text.

I think

[2021-08-13 11:03] laszewsk commented on #660
to bibtex you could even add

abstract = { THE DESCRIPTION FROM THE METADATA } ,

[2021-08-13 13:29] laszewsk opened #661 "Q: Issue with printing ... _print 404"
I thought I have done everything i need to use the new theme. However it turns out that my printing does not work. I configured my toml file with the options in the documentation (e.g. the default). Yet when I print any page I get an error that I do not know how to fix

Here is an example of a page I like to print:
https://cybertraining-dsc.github.io/report/su21-reu-361/project/

When I click on p

[2021-08-13 22:14] gwatts commented on #661
@laszewsk I think this is the same problem as https://github.com/google/docsy/issues/421#issuecomment-763670038 - Github pages don't appear to support the underscore in the URL

[2021-08-14 07:24] laszewsk commented on #661
works! thanks.

would it not be best if this is added by default to the default toml and do not _print but printpreview

[code]

[2021-08-16 16:15] emckean commented on #658
Sorry, this is out of scope for Docsy.

[2021-08-16 16:15] #658 closed

[2021-08-16 16:34] LisaFC commented on #652
Ahhh, thanks for spotting this. And yes, agreed that hugo.IsProduction is definitely the way to go.

I'll send a mail to the mailing list when we merge/fix this and update the docs, as this will be a breaking change for some users (ie their site will be indexed by default).

[2021-08-16 16:34] LisaFC commented on #652
(apologies for late reply, I was on vacation)

[2021-08-16 16:58] chalin commented on #652
No worries. I hope that you had a great vacation!

[2021-08-16 17:16] #647 closed

[2021-08-17 14:44] LisaFC commented on #660
Oh, interesting idea! Not sure if you'd put it in the Edit this page etc. section as it's already fairly populated/busy with text, but perhaps as an option that you can switch on to appear at the end of the page along with the "Last edited" info. Thoughts?

[2021-08-17 16:20] LisaFC commented on #656
Hmmm, didn't spot that one (as it builds fine with that commit and later for both the Docsy docs site and the example site).

@thebe14, can you revisit that code - I wonder do we need to do a further "does this exist" before using the value.

[2021-08-18 13:52] #654 closed

[2021-08-18 18:23] LisaFC commented on #626
Sorry for the late reply, I was on vacation - that's great that I can see the repo, hopefully I can find a fix!

[2021-08-19 11:02] LisaFC commented on #626
Also just FYI re the Just Docs site (which, apologies, I broke to validate this issue), here's what I commented on the other issue:

[2021-08-19 13:47] LisaFC commented on #661
@gwatts do you want to add this workaround to https://www.docsy.dev/docs/adding-content/print/ - I agree that _print works well as a default for a lot of sites because it's unlikely to clash with anything (eg docs about printing) but we should add a note saying that you might want to change the name if you're using Github Pages.

Or should we change the default?

[2021-08-19 13:49] gwatts commented on #661
yeah i wonder if a dash instead of an underscore would work better.. `/-print` perhaps.. will give it a try if I can find a few minutes - Been super busy with work lately unfortunately

[2021-08-19 14:39] mjang-cobalt commented on #626
Thanks for letting me know, @LisaFC . I appreciate the work you've done!

If I'm reading your links correctly, it's probably easiest if I move to https://github.com/gwatts/mostlydocs/.

[2021-08-19 14:45] LisaFC commented on #626
Yes, Gareth's mostlydocs site is a good example of that approach! It's got a lot less heavy customization than the original JustDocs so it means you're less likely to find yourself with project-specific files/features that go out of sync with or are broken by Docsy updates.

[2021-08-20 14:36] #652 closed

[2021-08-20 14:51] LisaFC commented on #611
Fixed in #653

[2021-08-20 14:51] #611 closed

[2021-08-20 21:21] juliettebombart opened #664 "Printing problem of the "card" option"
Hello,

I wrote an article using the "card" option. I want to print this article. The "card" part is truncated. I do not know why ? Is this normal? What setting should I change to make this part visible when printing?
Thanks in advance.
- capture of the page where "card" is visible "image article origin.png"
[
<img width="1059" alt="image article origine" src="https://user-images.githubusercontent

[2021-08-23 08:34] niheaven commented on #626
I've met the same problem, and I found that this may due to hugo's platform (Win or Linux)...

I have same source files and use `hugo` to generate production website `hugo --minify -d ../html -F --cleanDestinationDir`, and the one generated under Windows works fine but the one under Ubuntu got wrong TOC and old looks. Both site are served under same nginx server and both hugo version is v0.87.0-B0

[2021-08-23 09:00] LisaFC commented on #664
@deining (as the person who added the card feature) and/or @gwatts (as the person who added the print feature) could you take a look?

[2021-08-23 15:50] juliettebombart opened #665 "Customize the print page on all the pages to be printed"
Hello,
I personalized the print page by adding a header and a footer but they are only present on the first page. How can I make this happen on all the pages to be printed without touching the pages present on the site?
Thanks in advance.

[2021-08-24 15:48] #656 closed

[2021-08-24 16:20] LisaFC commented on #610
Fixed in #612

[2021-08-24 16:20] #610 closed

[2021-08-24 17:34] spkane opened #668 "`create child page` should not include the "parent" filename in the GH repo path as it breaks github's preview tab"
## Problem

When you click `create child page` on a docsy site, you end up with a URL that starts like this:

https://github.com/google/docsy-example/new/master/content/en/docs/_index.md?filename=change-me.md

![CleanShot 2021-08-24 at 10 23 16](https://user-images.githubusercontent.com/129629/130661791-509ad239-2089-4eca-a6fa-a133189eec8b.png)

This works, unless you happen to actually look at th

[2021-08-24 17:38] gwatts commented on #668
funny you should open this issue as I hit the same thing just a couple of days ago and was going to open a PR!

[2021-08-24 22:19] uweschaefer opened #670 ""Create documentation issue" should add "label=documentation" to the URL ?"
**Context**

Github supports to pre-assign labels to a newly created issue (see https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue#creating-an-issue-from-a-url-query).

**Feature**

When composing a "Create documentation issue"-Link docsy currently adds the title parameter to set the title corresponding to the page name.
I was wondering, if it would be a good idea t

[2021-08-25 09:27] mhansen commented on #656
Thanks. Confirming graphviz docs build now.

[2021-08-26 01:02] amirootyet opened #671 "'markmap' feature is not working in 'docsy-example'"
This is a great feature, specially for a documentation platform. However, it is not working in my Docsy project. I cloned the Docsy-example repo and tried there with the same result. Here's how to reproduce the issue:

[code]
I then added the `markmap` [example shown](https://www.docsy.dev/docs/adding-content/lookandfeel/) in documentation to the end of `_index.md`page. Proceeded to save and quit

[2021-08-29 00:19] Symbolics opened #673 "Google reports 'mobility issues'"
After running our Doscy site for about six month now, I got the following this morning:
[code]

The site hasn't had any customisation for text size nor clickable elements.

Anyone else seen this? Is it anything to worry about?

[2021-08-29 21:05] sandman-battelle commented on #573
I had the same.  My docsy project was setup about a year ago so I think some of the original configs had drifted enough to break things.  Here is what I did to fix things but I can't exactly say which one did the trick :/

- removed all npm dev dependencies
- nuked ./node_modules and package-json.lock
    - had one called `hugo-bin` that is now not needed???
- added back only deps stated in README

[2021-08-29 22:31] emckean commented on #673
Are you using SwaggerUI with/in your Docsy site? I get this message for a (different, nonDocsy) site using SwaggerUI.

You should be able to see in the console which page is showing these issues.

[2021-08-30 00:34] Symbolics commented on #673
No swagger on the site. I can see the page and it looks 'normal' to me (that is, like all the other Doscy pages). Just wondering if this is a systemic issue with the default Docsy design, or a fault on Google's side.

[2021-08-30 15:06] LisaFC commented on #671
OK, it looks like Docsy-example wasn't updated to the latest version of the theme that had the Markmap script enabled.

I'll fix the example project - you can fix your own project by following the "update your theme" instructions here: https://www.docsy.dev/docs/updating/#update-a-docsy-submodule

Thanks for spotting this!

[2021-08-30 15:07] LisaFC commented on #670
Oh I like this idea!

[2021-08-30 15:29] #671 closed

[2021-08-30 16:30] emckean commented on #673
Can you share the page that's getting the error?

[2021-08-30 23:58] Symbolics commented on #673
https://lisp-stat.dev/docs/examples/plotting/

[2021-08-31 16:22] emckean commented on #673
If I had to guess, I'd bet that the plot images are what's triggering the alert.

[2021-08-31 22:00] Prachi-Srivastava-13 commented on #257
We are also facing this issue in our internal site based off of docsy. Its pain to navigate through the pages with scroller being reset to the top. Can we have a fix for this?

[2021-09-01 06:42] narrenfrei commented on #257
I had already made a working solution (mentioned in #348) for this issue in my pipeline, but I'm afraid that this tweak got lost by some code merging problems. The only fragment of my code I can find is here: https://github.com/narrenfrei/docsy/commit/09fb1433f2d25d149e014a1fc582febf12bb01ed

I can take once more a look on this issue, but I'm afraid I won't find time in the next 2 weeks. But if an

[2021-09-01 13:19] oasys opened #676 "how to optimize for large sites"
I'm exploring migrating an existing site to use docsy.  The blog portion of the site has about 7800 short entries, grouped by year.   Hugo run is slow, but more importantly the generated content is huge.  Generated index pages for each of the (16) years are around 500KB each, with a total content over 3GB.   What options can I change to reduce the page sizes and generation time?

From looking at t

[2021-09-02 15:06] LisaFC commented on #676
Eep, that is a *lot* of sidebar entries (and yes, building a big sidebar is slow because it recurses through everything). You could just have a manual navbar for the blog - swap in your own version of the navbar file for the blog section with your per-year links. Or you could set `toc_hide: true` in the section index pages of everything but the top-level "year" section.

@narrenfrei, you are our n

[2021-09-02 20:02] juliettebombart commented on #664
Hello,

I come back to you to know where is my request? Is there a way to unblock the situation? Thanks in advance.

[2021-09-03 23:31] willtsai opened #679 "Feature Request: Allow customization of font+spacing in User Feedback widget"
In the [configuration for the User Feedback Widget](https://www.docsy.dev/docs/adding-content/feedback/#setup-1), I would like to have the ability to customize the font size and spacing of the text. Attached is a screenshot example where the ability to reduce the font size and add a larger top margin for the widget text would allow for some separation between the core content on the page and the U

[2021-09-03 23:48] willtsai commented on #679
PR to address this: https://github.com/dapr/docs/pull/1767

**Note:** on some pages there isn't sufficient space between the User Feedback widget and core website content, and I didn't find a way to configure the text size/spacing in the widget. I've created a [feature request](https://github.com/google/docsy/issues/679) to the Docsy team to allow us to fix this, but it might be something we have

[2021-09-04 17:20] narrenfrei commented on #679
I don't think, that a manually correction of the space is really the best way. In my opinion, we should try that the space between "real content" and the feedback widget is correct by default.

Could you share links to a correct space and also to a page with too small space?

[2021-09-06 09:05] narrenfrei commented on #676
There are some different aspects to think about:

- The time for generating the HTML files could be a bit reduced, by activating the caching option ```.ui.sidebar_cache_limit``` (https://www.docsy.dev/docs/adding-content/navigation/#section-menu-options). But with so many pages, it should be activated by default already.
- Speed for the visitor shouldn't be a problem, is it?
- I'm afraid, that the

[2021-09-06 09:13] narrenfrei commented on #679
I took a look on this page of your Dapr Docs:
https://docs.dapr.io/getting-started/

There is already too little space after the Button "First step: Install the Dapr CLI >>" now. So you have to increase the margin-bottom of this button and not the margin-top of the feedback widget. For example, by giving the button the class ```mb-4```.

[2021-09-06 09:17] narrenfrei commented on #676
One more thought:
What kind of navigation do you really need in a blogging section? I think, a complete sidebar navigation is really a overkill, isn't it? So as @LisaFC said, maybe you the best would be to disable the complete sidebar navigation?

[2021-09-06 10:57] LisaFC commented on #670
So I've just tried implementing this - one issue with this is that users [need permission to apply labels to issues](https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization#repository-access-for-each-permission-level), so it won't work for readers who just have basic "read" access to your site repo - they can stil

[2021-09-06 19:39] uweschaefer commented on #670
`So I've just tried implementing this - one major problem with this is that users need permission to apply labels to issues, so it won't work for readers who just have basic "read" access to your site repo - they can still create an issue but the label isn't applied.`

Oh crap, you're right. Sorry i should have checked that before.
This makes the feature much less useful - if it does not have any

[2021-09-07 23:00] willtsai commented on #679
The tight margins on the buttons is something I can look into for sure (might actually be the intentional shortcoded button design). However, I still feel that in a lot of pages, the spacing in between the page content and Feedback wizard is too small. I think this is especially pronounced for pages that end with a shorter paragraph, like the one below.

I don't think that going through page by pa

[2021-09-07 23:57] oasys commented on #676
Yes, disabling the full sidebar (by wrapping the recursive call to `section-tree-nav-section` in `sidebar-tree.html`) seems to make a big difference.   Site size went from over 3GB to less than 650MB, and index pages are now all under 100KB.    Build time is better but still slow, from 37 down to 25 seconds.

[code]

I had hoped there was a Params setting for this, but I don't see anything that wo

[2021-09-08 00:23] oasys commented on #676
After the last comment, I reread your suggestions.  I had originally dismissed @LisaFC 's `toc_hide` suggestion because adding it to a year's `_index.md` _also_ hid the year (in addition to the entries).   But, I found something like this works as desired:

[code]

This solution has the same size and similar performance numbers as the earlier custom partial solution, but is much cleaner.  Thanks a

[2021-09-08 06:08] narrenfrei commented on #679
If really a option for page individually more margin is needed, I'd prefer to add a parameter to add HTML classes to  the feedback widget or complete page. (If we don't have such an option already.) So styling can be done by CSS.

But before I add such an option, I would like to get the OK from @LisaFC (or someone else from the "Core-Team"), wether my suggestion is in the sense of the project.

[2021-09-08 18:02] ColdHeat opened #681 "Icons Flickering when devtools open"
I'm not sure what the cause of this is but it looks like whenever the Chrome Devtools are open the icons in docsy will grow and flicker making it really annoying to debug. Does anyone else experience this or have an idea where the issue might be?

https://user-images.githubusercontent.com/166333/132561009-1ec8c047-181f-44bf-a6ab-0a5f6bdfb5d5.mov

To be clear, I have devtools open in another window

[2021-09-09 15:38] LisaFC commented on #681
Waaaaaah, that's very weird. Let me see if I can reproduce it.

[2021-09-09 15:41] LisaFC commented on #681
So I opened Chrome Devtools with [docsy.dev]() (which has icons in the top nav) and it didn't do anything odd. Is it happening with any other Docsy sites (like our one, or anything on the Examples page), or just your own site.

[2021-09-09 15:49] ColdHeat commented on #681
I think this only happens locally if Hugo is reloading the page. Could you perhaps try with https://github.com/CTFd/docs or with a local checkout of docsy?

[2021-09-10 00:45] #676 closed

[2021-09-10 12:38] TOsmanov commented on #584
Looks like this problem is with the 4 spaces in line 9 and 16 `features.html` if you write:
[code]
In one line:
[code]
the problem does not occur

[2021-09-10 13:41] antoineozenne opened #685 "Impossible to include SVG image with imgproc"
It seems to be impossible to import a SVG image with imgproc. Here the error when trying:

[code]

Did I miss something?

[2021-09-10 13:42] markjschreiber opened #686 "Link in community_links.html partial should be relative"
I think the `href` on line 17 of should not be absolute but rather relative so that it still works when there is a base URL.

I suggest it should be:

`<p>You can find out how to contribute to these docs in our <a href="../docs/contribution-guidelines/">Contribution Guidelines</a>.`

Rather than:

`<p>You can find out how to contribute to these docs in our <a href="/docs/contribution-guidelines/">

[2021-09-10 16:14] LisaFC commented on #681
So I don't have `hugo` on a local machine right now but what I think is happening is that the svg images are being (briefly) rendered without any styling, which happens if the CSS for them hasn't loaded yet.

By default when you run `hugo server` you get a quick dev build of the site, and in our case that involves not having preloaded CSS: https://github.com/google/docsy/blob/master/layouts/partia

[2021-09-10 16:15] LisaFC commented on #686
Oh yes, I think you're right! Please do make a pull request.

[2021-09-10 17:01] LisaFC commented on #685
Unfortunately Hugo image processing (which that shortcode uses) doesn't support processing SVG files - supported types are jpg, png, tif, bmp, gif and webp.

If you want to use SVGs inline in your Markdown I think you need a shortcode using [Hugo's readFile function](https://gohugo.io/functions/readfile/).

Here is a sort of hacky version I put together based on something I found in the Hugo forum

[2021-09-10 17:08] LisaFC commented on #679
Hmm, interesting. I wonder is the default spacing between the main text and the Feedback Widget just too tight in general - I'm not sure if we thought about it that much when we added it - so might be something to just change as the default rather than make configurable (without making it so far down that users miss it without scrolling)? Or maybe add a line before it?

[2021-09-12 10:14] fahaddilib commented on #626
Hi, I also have the same issue mentioned here. It seems browser dependent for me. I also tried on the docsy example site and get the same result.
On Chrome, the TOC is in the wrong place (and the navbar colour is also incorrect)
![image](https://user-images.githubusercontent.com/34888303/132983319-9852a750-96fd-40b3-9b84-a178b8b0bf39.png)

But, on Safari it renders on the as expected on the right

[2021-09-12 10:20] fahaddilib commented on #626
When on incognito mode in Chrome it works perfectly! So must be some stale css being cached, and not refreshing correctly. 🤔

[2021-09-13 07:53] antoineozenne commented on #685
Thank you @LisaFC!

[2021-09-13 07:53] #685 closed

[2021-09-13 13:17] markjschreiber commented on #686
Hi There, I just submitted the PR https://github.com/google/docsy/pull/687

[2021-09-13 13:53] LisaFC commented on #686
Fixed in #687

[2021-09-13 13:53] #686 closed

[2021-09-14 00:46] willtsai commented on #679
I agree with changing it as the default rather than make it configurable. I would suggest adding **two** lines before it just to ensure that there is additional separation so as to not make the widget look like an additional paragraph and part of the core content.

[2021-09-14 19:33] tjdavis3 opened #688 "Print layout is leaving wide right margin"
When printing docs pages, whether from Ctrl-P or "Print entire section" the page looks fine when rendered, but when printed (print preview, saving as PDF, etc) there is always a wider right margin.  It appears as if the stylesheet might be leaving the space for the right-side navigation which isn't shown.

[2021-09-16 14:12] LisaFC commented on #688
@gwatts, any ideas?

[2021-09-17 01:23] debritto opened #692 "Different font types"
Hi,
Is it possible to use different font types for Headings and text body. I would like to use san serif fonts for headings and serif ones for body text. This will increase readbility a lot!

[2021-09-17 17:24] debritto commented on #692
I have found a solution and It was esier than I thought. I put this lines on ../assests/scss/_variable_project.scss:

[code]
Thanks folks.
Docsy template really rocks!

[2021-09-17 17:37] #692 closed

[2021-09-18 13:50] chalin opened #694 "Card- & tab-group styling is no longer included"
@LisaFC et al.: it seems that #540 may have reverted more changes than I originally pointed out in #652.

For example, it seems that card styles were removed -- see https://github.com/google/docsy/pull/540/files#diff-96dd75a968976edd5e03170268ed9085733f75c3fb24f992ae613c89e6de42dcL41:

[code]

As a consequence, the card and tabbed-pane styles aren't being included anymore. To see the difference, c

[2021-09-18 13:51] chalin commented on #664
Possibly related: #694

[2021-09-18 14:01] chalin opened #695 "[meta] Delete stale & obsolete branches"
Hi @LisaFC, could you delete all of the stale & obsolete branches?

[2021-09-19 19:58] narrenfrei commented on #679
I would add margin-top: 2rem to the div of the feedback.

But as this div has only the class d-print-none, I would also add an class to the div like td-feedback.

I've also recognized that thee feedback has inline CSS, which should packed into the global stylesheet.

@LisaFC OK?

[2021-09-20 08:56] LisaFC commented on #695
Done, thanks for spotting those!

[2021-09-20 08:56] #695 closed

[2021-09-20 08:56] LisaFC commented on #681
Did that fix the problem?

[2021-09-20 11:18] TueDissingWork commented on #573
Thanks guys, Got PlantUML working.
Our theme was rather outdated - seems to be working now :-)

[2021-09-20 11:18] #573 closed

[2021-09-20 18:52] ColdHeat commented on #681
I actually get a different error:

[code]

Whereas hugo server still works:

[code]

[2021-09-20 18:53] ColdHeat commented on #681
Ah I see this is a different error https://github.com/google/docsy/issues/235

[2021-09-20 18:57] ColdHeat commented on #681
Yes this seems to work much better. Thanks for the guidance!

[2021-09-20 18:57] #681 closed

[2021-09-21 02:58] gwatts commented on #688
Been a while since I've had time to keep up with Docsy, but running `git bisect` reveals that commit https://github.com/google/docsy/commit/bf5cde8cee4cbfaef7a983de3af0dc264b4e73f9 seems to have had some unfortunate side effects for the margins etc for the print view

Will take a closer look asap unless @narrenfrei can take a quick look as the author of that particular commit?

[2021-09-21 16:11] catherinepope opened #701 "Error building site: POSTCSS: failed to transform "scss/main.css""
Hello. Docsy is working fine and looking lovely on my local machine. However, when I deploy to Netlify, I keep getting the following error code. I looked at other issues and ran: _npm install -g postcss-cli_. That made no difference, though. Is there something I'm missing? Thanks so much for your time.

![netlify-error](https://user-images.githubusercontent.com/129828/134207191-dd112beb-9be6-4d90-

[2021-09-21 17:14] catherinepope commented on #701
Many thanks for your response, Erin. Yes, I followed the instructions on Netlify deployment. I've just tried reinstalling PostCSS, but am still getting the same error.

[2021-09-21 17:22] emckean commented on #701
It might be a problem with autoprefixer ... can you let me know what version of autoprefixer you're using?

[2021-09-21 17:41] catherinepope commented on #701
I can't see a version anywhere, Erin. Where do I find that information, please? I installed it via npm today.

[2021-09-21 17:43] catherinepope commented on #701
It's 10.3.4. Thank you!

[2021-09-21 18:59] emckean commented on #701
I think that might have been a red herring :(

Another random q: do you have a netlify.toml file? And if you can share your package.json file that might help too :)

[2021-09-22 06:42] catherinepope commented on #701
Well, happily, the problem has fixed itself overnight! I received a pull request from Dependabot, bumping the postcss-cli version from 7.1.2 to 10.3.4. Now everything builds and deploys properly. Thanks so much for your support, Erin.

[2021-09-22 06:42] #701 closed

[2021-09-23 10:36] MarkvanMents commented on #349
Hi there,
I prefer the implementation in #506 to the one using IntersectionObserver.
If you use IntersectionObserver the highlight is only triggered when a heading intersects with the selected box. This works OK for scrolling downwards, but when you scroll upwards the indication doesn't change back until you reach the heading at the top of the section. So for sections which are longer than a scree

[2021-09-23 14:59] chalin opened #703 "Document new `navbar_translucent_over_cover_disable` option"
Context: https://github.com/google/docsy/pull/702#issuecomment-925085197.

/assign @chalin

Note: I have an improvement in mind relative to this features that I might implement a PR for before adding the docs.

[2021-09-27 10:41] sanketsudake opened #704 "taxonomyCloud getting displayed even if taxonomyCloud is empty"
I have set few taxonomies as mentioned below and taxonomyCloud is set to empty. Still, I am seeing taxonomy cloud on my docs and blogs pages.

Also, I wanted to see if there is any way, I can show taxonomy for the blog but not for docs. In this case, I assume I have to edit make a copy of the existing template and edit.

[code]

Essentially it goes in else block here and shows all taxonomies.
http

[2021-09-28 16:27] LisaFC commented on #704
@narrenfrei, any ideas?

[2021-09-28 19:13] narrenfrei commented on #704
Hi, I'll take a look. But at the moment I only can't find much time for Docsy.

We have also another issue with taxonomies I'm working on: https://github.com/google/docsy/discussions/698#discussioncomment-1374038

[2021-09-29 15:32] marians opened #705 "Rendering with offlineSearch fails: offline-search-index.json:750: comment ends before closing delimiter"
With hugo 0.88.1 and the latest Docsy from master I get the following error when rendering a site with `offlineSearch = true`:

[code]

The file mentioned is https://github.com/google/docsy/blob/ea64eddd6be4c754cb207e79ebd6a6ca05ea4f08/assets/json/offline-search-index.json

By trial and error I have narrowed down the problem to the rendering of the "body" attribute. When I remove the ` "body" (.Pl

[2021-09-30 11:11] LukeTimeWalker commented on #705
We get a similar error when we try to build our hugo project using the latest docsy theme.
[code]
As far as I know, the problem is because our offline-search-index.json contains two curly braces. Through the resources.ExecuteAsTemplate pipe, hugo tries to render the JSON file with templates (which are also indicated by two curly braces in hugo).

https://github.com/google/docsy/blob/170cdd9cd31794

[2021-09-30 15:43] LisaFC commented on #705
@tekezo do you want to take a look? I can take a look as well tomorrow.

[2021-10-04 00:27] tekezo commented on #705
I have confirmed the issue in my environment.
(This issue only happens when `{{` is included in contents.)

It seems the problem is caused by Hugo side, Hugo evaluates the contents of variable as template at accessing variable by Scratch.Get, it should be fixed in Hugo.

I'll continue to investigate the right way to how to fix this.

[2021-10-04 14:40] tekezo commented on #705
I fixed docsy template to avoid this issue at https://github.com/google/docsy/pull/710 .

@LisaFC Could you review and merge the PR?

[2021-10-04 14:43] LisaFC commented on #705
Fixed in #710

[2021-10-04 14:43] #705 closed

[2021-10-04 16:29] amirootyet commented on #331
sounds like for properly implementing the dark mode, Docsy would first need to be upgraded to Bootstrap 5? I'm interested in the dark mode and before I go spinning off my own, I wanted to see if this is already in the works!

[2021-10-05 07:50] marians commented on #705
After updating to version https://github.com/google/docsy/commit/e4bb26bafcc48fb72296e0cc584a2ff5bbf0610c im am now getting a slightly different error:

[code]

[2021-10-05 08:26] marians commented on #705
Please ignore the above comment. I can't reproduce that error any more in a fresh docker container.

[2021-10-06 19:31] chalin opened #713 "PR #710 reverted #691, so the latter needs to be reapplied"

[2021-10-07 07:43] honzik20 opened #716 "Taxonomies don't work for docs-only site"
### Discussed in https://github.com/google/docsy/discussions/698

<div type='discussions-op-text'>

<sup>Originally posted by **honzik20** September 20, 2021</sup>
The [mostly docs](https://www.docsy.dev/docs/adding-content/content/#alternative-site-structure) concept is great but it doesn't play nicely with taxonomies.

If my content is under en/, the terms pages don't list any topics - it seems

[2021-10-09 01:49] shizhaolei opened #717 "无法正常显示"
![image](https://user-images.githubusercontent.com/66465565/136639575-e77282db-9009-4ef6-baae-7d7b20fd430e.png)
资源管理->图形管理->选中主机后点击查询没有画面出现

[2021-10-11 10:05] mhansen opened #718 "lunr search: text field background fills in after you press enter, causing poor contrast"
To repro, set `offlineSearch = true` in your `config.toml` then try searching, and press enter after entering a search term.

Expected: text box has high contast (maybe staying with a white background?)
Actual: text box has a blue background with black text on it.

![image](https://user-images.githubusercontent.com/105529/136772318-1ee33470-efff-4347-b75a-b55ed25527df.png)

Here's a video:

https:

[2021-10-11 10:06] mhansen commented on #718
The background colour is set to `#fff` with `.form-control:focus`, and reverts back to `transparent` (set by `.td-search-input`) when it loses focus.

[2021-10-11 10:49] LisaFC commented on #718
Huh, that does not look right, thanks for letting us know. @tekezo, you know most about Lunr, can you see what's happening here? I'll play around with it myself as well.

[2021-10-11 11:01] LisaFC commented on #717
This seems to be an issue with a specific site, not Docsy itself

[2021-10-13 00:08] tekezo commented on #718
Thank you for feedback!

@LisaFC I fixed this issue at https://github.com/google/docsy/pull/719. Please review the PR.

[2021-10-14 14:24] geoffreymbrown opened #720 "print section doesn't work properly with relative paths to images"
I use an images directory in my various sections and use relative links to the image files.  The docsy mechanism for printing sections inserts `_print` at the end of the URL.  Unfortunately, for image files relative to the document section, this doesn't quite work properly because it inserts `_print` between the page url and the relative url for the image.  For example:

`userguides/fabrication/_p

[2021-10-14 22:38] amirootyet opened #721 "[Feature Request] Toggle for building a page without linking it in the left nav bar"
I read through Docsy's documentation to see if there's an option / parameter that can be set on the page that will satisfy the following conditions:

1.  page is built and is reachable by a URL
2. page is _not_ linked in the left nav bar

This would be like the `draft: true` parameter -- except that setting status to draft will prevent building of the page. For reasons, I would want the page built

[2021-10-14 22:44] #721 closed

[2021-10-15 20:32] chalin opened #724 "feature shortcode no longer works inside of markdown files"
I just upgraded docsy, and the feature title & text in https://opentelemetry.io/community/ now show up as code blocks:

There are a couple of things wrong with the blocks/feature shortcode. In particular, it shouldn't be testing the page file extension IMHO.

[2021-10-15 23:05] chalin opened #725 "Process change suggestion: squash-and-merge PRs"
Followup to https://github.com/google/docsy/pull/540#issuecomment-937842123.

@LisaFC - I'd like to suggest a process change: [squash-and-merge][sam] PRs from now on rather than doing a [default merge]. This will keep the repo history clean, and make it more obvious which changes any given PR is introducing. It will also be helpful to PR authors as it usually forces PR authors, who might be workin

[2021-10-15 23:15] chalin commented on #725
Related:

- https://github.com/google/docsy/discussions/722

[2021-10-15 23:17] chalin opened #726 "Add golden tests"
As a followup to https://github.com/google/docsy/pull/540#issuecomment-937842123, and in conjunction with #725, I believe that docsy could benefit from some CI testing. It would probably be easiest to add some [golden tests](https://softwareengineering.stackexchange.com/questions/358786/what-is-golden-files). That is, have test site(s) containing test pages, then generate the site files and compar

[2021-10-15 23:19] emckean commented on #726
Thanks Patrice! This is an excellent idea! I'm working on setting up screenshot tests w/Percy -- you can see my in-progress stuff here, I'd love feedback! https://github.com/emckean/docsy/actions

[2021-10-15 23:33] chalin commented on #726
Cool!

I was going to suggest that the golden files be HTML (generated test site files) rather than screenshots. That makes it much easier to review.

[2021-10-16 00:25] chalin commented on #724
The source of the issue is #526. While #526 did fix the invalid nesting of `<p>` elements, it still isn't quite right. Here's the HTML generated for the first feature of the userguide's homepage:

[code]

Notice the **empty paragraphs** `<p class="mb-0"></p>` and `<p></p>`. The first renders **useless** the `mb-0` class.

[2021-10-16 19:22] chalin opened #729 "Prism syntax highlighting is active even when prism_syntax_highlighting is false"
Visit the Docsy User Guide section [**Look and Feel** >> **Color palette and other styles**](https://www.docsy.dev/docs/adding-content/lookandfeel/#color-palette-and-other-styles). This is the first code block of that section, as syntax highlighted by Chroma:

You'll see that only briefly since Prism sweeps over, changing the highlighting to this:

The problem seems to be that MarkMap (#612) is lo

[2021-10-16 19:33] chalin commented on #729
Actually, if you refresh a few times you might see this syntax highlighting:

This seems to correspond to when there are 404 errors in the console, like these:

[code]

[2021-10-18 15:50] amirootyet opened #730 "Feature Request - Web Sequence Diagrams support on Docsy"
Web Sequence Diagrams would be a nice to have feature in Docsy: https://www.websequencediagrams.com/

It would be great if we could have support for these along with Mermaid, PlantUML, and Markmap.

[2021-10-18 15:55] #730 closed, assigned to nobody

[2021-10-19 15:03] #724 closed

[2021-10-19 15:04] LisaFC commented on #720
@gwatts, any suggestions?

[2021-10-19 15:10] jshaughn opened #731 "[enhancement] "Create documentation issue" should offer disable config"
Thanks for Docsy, it's great, we have recently migrated kiali.io to the theme.

For Kiali, we'd prefer to consolidate all issues as "Project" issues, and so we'd either like "Create documentation issue" to act just like "Create project issue", or to not show it at all.   If we disable it today we also lose the "Edit this page" and "Create child page" options, both of which we like.   We'd like to

[2021-10-20 12:42] Xu-Xihe opened #732 "i18n:Chinese translation"
For Chinese translation,there are two files,`zh.toml` and `zh-cn.toml`.
When I am using `zh.toml`, `hugo` will show me this:
[code]
This is only a part of all the logs.All for about 1000 llines.
But,if I removed the `zh-cn.toml` everything will be built correctly.
I don't know why.

[2021-10-21 15:41] chalin opened #736 "Support the full set of repository links referring to another repo"
This enhancement request is a generalization of #448 and #603, which added support for the "Edit this page" link (only) to refer to another repo. But such a feature is useful for all four [repository links](https://www.docsy.dev/docs/adding-content/repository-links/).

[2021-10-21 21:46] mhansen opened #738 "Algolia Search: DocSearch API v3 doesn't seem to have 'inputSelector' any more"
Hi there, I'm trying to add Algolia Docsearch to www.graphviz.org.

The Docsy docs at https://www.docsy.dev/docs/adding-content/navigation/#adding-algolia-docsearch say

I can't find an `inputSelector` option in the Docsearch API v3: https://docsearch.algolia.com/docs/api. It looks like this was a thing for Docsearch API v2: https://docsearch.algolia.com/docs/legacy/dropdown.

The DocSearch API v3

[2021-10-21 22:00] mhansen opened #739 "Algolia: Search integration only works on full-width searchbox, not on narrow pages"
Hi there, I just integrated Algolia DocSearch v2 on www.graphviz.org, but I'm having some trouble.

The search works for the full-width page, where search is at the top right (note there are search results):

![image](https://user-images.githubusercontent.com/105529/138362211-9084cd02-3122-464e-aa6f-cdee5321135d.png)

But it doesn't work if the page is a little narrower, and the searchbox moves to

[2021-10-21 22:14] mhansen commented on #739
I just realised maybe this is why you encourage setting

[code]

To avoid having multiple search elements.

I set that, and I'm still getting all the search elements in the screenshots above.

[2021-10-21 22:15] mhansen commented on #739
The algolia branch of Graphviz is up here: https://gitlab.com/markhnsn/graphviz.gitlab.io/-/commits/algolia if it would help to reproduce.

[2021-10-22 04:24] mhansen opened #740 "Getting Started: installing autoprefixer/postcss: sudo isn't needed"
Hi there, on https://www.docsy.dev/docs/getting-started/:

it instructs to do:

[code]

But these just install to a local directory `./node_modules` so they don't need `sudo`. Suggest removing `sudo` unless you have a command with `-g` for a global install? Installing these with `sudo` will make them hard to remove.

[2021-10-26 13:24] dominikh opened #744 "Consider using scroll-padding-top"
Currently, Docsy uses a `:before` on headers to offset the scroll position of anchors, to account for the fixed header. This works, but has some downsides. For example, giving headers a background color (e.g. for `:target`) will color the `:before` part, too.

Modern browsers have an alternative solution: scroll-padding and scroll-margin. scroll-padding can be set on the outer container to add pad

[2021-10-26 18:55] dominikh opened #745 "Submenus lack indentation on mobile"
Submenus aren't indented in the mobile version.

<img src="https://user-images.githubusercontent.com/39825/138942643-e80d9ef9-cbf5-4ec9-a859-4a370ca3fc40.png" width=250>

This is problematic with a mix of submenus and leaves, because it's impossible to tell which leaves belong to a menu:
![image](https://user-images.githubusercontent.com/39825/138942987-7beb979d-b166-4d4f-892b-92f53456b15e.png)
vs

[2021-10-26 19:51] chalin opened #747 "User guide: move features like TeX and diagram support to a separate section"
Latex, Katex, Mermaid, PlanUML and MindMap are currently documented under [**Look and Feel**](https://www.docsy.dev/docs/adding-content/lookandfeel/). There is much more to these extensive features than just **look and feel** customization.

So I'd propose that they be moved to another section, possibly a top-level **Features**. It might even make sense to have **Latex support** and **Support for

[2021-10-28 15:44] Xu-Xihe opened #748 "Bug: Markdown Rendering Error"
When I'm using Markdown to bulid my blogs, somethimes `**xxx**` can't be rendered.
I have found that it will happen when I use a LaTex block or a punctuation near it.
Just like this one:
[![5O6mVJ.jpg](https://z3.ax1x.com/2021/10/28/5O6mVJ.jpg)](https://imgtu.com/i/5O6mVJ)

[2021-10-29 21:36] emckean commented on #456
This blog post seemed helpful! https://chrisshort.net/from-git-submodule-to-hugo-modules-using-netlify/

[2021-10-29 21:56] emckean commented on #725
I like the idea of moving to squash-and-merge for PRs. It looks like if we remove the "allow merge commits" setting then this will become the default (but admins can still merge-commit): (see https://github.com/dotnet/runtime/issues/260). @chalin is that your understanding of the settings work?

[2021-10-29 22:05] emckean commented on #726
I've been poking around to see if there's a GitHub action for easily diffing the generated HTML—do you have a tool you recommend?

I agree that HTML makes it easier to see what changed in the markup, but I think the screenshots make it slightly easier to notice CSS weirdness?

[2021-10-30 07:15] abitrolly commented on #331
https://github.com/jenkins-x/jx-docs/pull/3053 is how it is done on https://jenkins-x.io/

[2021-10-30 07:36] abitrolly commented on #331
Based on `jx` experience, dark mode is not trivial, because it requires processing images to be compatible with the dark mode. I could not find a way to make them dark mode friendly with just plain CSS. Some guidelines would be nice. And I could not find a way of switching images with CSS, so it will probably require a different way of generating HTML.

---

So far it is the [most voted issue](htt

[2021-10-30 14:54] chalin commented on #725
@emckean - right: ensuring that "allow merge commits" is unchecked and that "allow squash merging" is checked seems to be the way to go.

[2021-11-02 09:54] #740 closed

[2021-11-02 14:05] chalin commented on #726
What I've done before is to use a simple script to regenerate the golden files and then use `git status` (during CI) to detect if anything has changed -- and fail the build if something has changed.

Right, both are useful.

[2021-11-02 14:28] chalin commented on #703
I'll wait for #750 to land.

[2021-11-02 16:12] #747 closed

[2021-11-02 16:17] chalin commented on #736
Yes, thanks. Closed by #737

[2021-11-02 16:17] #736 closed

[2021-11-02 17:20] LisaFC commented on #731
So a quick project-specific fix would be to create your own version of [/layouts/partials/page-meta-links.html](https://github.com/google/docsy/blob/master/layouts/partials/page-meta-links.html) with lines 39-45 changed to

[code]

That would give you both the docs and project links pointing to the same repo url (`$project_issueURL`).

It's not ideal in that you'll need to manually update the file

[2021-11-02 17:25] jshaughn commented on #731
@LisaFC , thanks so much for the detailed workaround.  We may consider it but to be honest, one major goal of migrating to Docsy was to minimize customization and focus on content.  We can probably live with our current workaround, which is to enable Github Issues on our website repo.   If there is a change in the future we would then point our doc issues to our main repo, to consolidate issues in

[2021-11-02 17:36] LisaFC commented on #731
No problem, if we come up with a better in-theme solution I'll update this issue!

[2021-11-02 17:41] chalin commented on #731
I've also come across a situation where I need a bit more control over which repo links are shown. I'll need to give this a bit more thought before I get back to you.

[2021-11-02 19:01] chalin commented on #731
@jshaughn, you can hide the create-doc-issue link by adding the following to your project's SCSS, such as `assets/scss/_styles_project.scss`:

[code]

This isn't a perfect solution, but it should allow you to achieve what you want without having to override any layout files. If you think that this will work for you, let us know.

(I'll still be giving thought to a cleaner, more flexible and less b

[2021-11-02 19:30] jshaughn commented on #731
@chalin  I will try this workaround and get back to you, thanks.

[2021-11-03 10:14] LisaFC commented on #729
So I have "fixed" this indirectly by moving the MarkMap diagram to a different page in #750 ...

This does not solve the fact that it seems to be loading the Prism files for some reason (does the code in a MarkMap use Prism by default, I wonder?), which will affect every other code snippet on the page. I'll poke at it some more.

[2021-11-03 10:22] LisaFC commented on #729
AHA. If I take the fenced code block out of our example MarkMap, the other code blocks on the page use Chroma, as specified. I now just need to figure out how to stop it loading Prism (or if it's possible...).

[2021-11-03 11:24] LisaFC commented on #729
Yep, Markmap uses/loads Prism by default - you can switch it off as an option if you're running it from the command line, but we're using an autoloader script that has no parameters. Might file an issue in their repo to see if it's configurable and put a warning/tip in our docs for now - does that make sense?

[2021-11-03 11:45] chalin commented on #729
Good job tracking that down! Sure that makes sense. If that sort of configuration isn't possible, then maybe we can simply document that hardcoded dependency in the user guide.

[2021-11-03 12:48] chalin opened #755 "Shallow clone submodules by default"
Context:

- #269
- https://github.com/google/docsy/pull/749#issuecomment-958990607

As I mentioned in https://github.com/google/docsy/pull/749#issuecomment-958990607, I'd vote to merge this change.

To do:

- [x] Add `shallow = true` via #269
- [ ] Update the User Guide, per https://github.com/google/docsy/pull/269#issuecomment-626995225, noting that the extra step is optional.
- [ ] Remove the `-

[2021-11-03 12:53] chalin commented on #755
From https://github.com/google/docsy/pull/749#issuecomment-958992545:

There's an option for ignoring the `shallow` config setting! See [--no-recommend-shallow](https://git-scm.com/docs/git-submodule#Documentation/git-submodule.txt---no-recommend-shallow).

[2021-11-04 12:53] LisaFC commented on #755
So I *think* from discussions on #269 and #749 we can merge the change before updating the docs.

Do you have a preference for which of the above PRs (which do the same thing) we merge? :)

[2021-11-04 13:07] chalin commented on #755
The general practice I've seen is to merge the earliest of two PRs when they are equivalent.

[2021-11-04 13:20] johnpaulett commented on #755
I'm happy to rebase if needed, but #749 effectively already did that.  I won't be offended if my PR isn't the one to get in, as long as I get a smaller checkout, I'm happy!

[2021-11-04 13:33] LisaFC commented on #755
Merged the earlier one!

[2021-11-04 14:20] gwatts commented on #755
For anyone following along curious about what shallow cloning is, and what other cloning choices there are, I found this Github blog post to be a great read: https://github.blog/2020-12-21-get-up-to-speed-with-partial-clone-and-shallow-clone/

To be clear, while the above post recommends caution against shallow clone in most circumstances, i don't think they intended that to be true for circumstan

[2021-11-04 18:07] chalin commented on #755
That looks like a great post! Thanks for sharing @gwatts!

[2021-11-04 18:47] chalin commented on #745
You can adjust the indentation for mobile (and make it a little more compact on desktop), by using the following SCSS:

[code]

If you only want this on mobile then wrap the above using an appropriate `@include media-breakpoint-* { ... }`.

[2021-11-04 18:52] chalin opened #756 "Add "View page source" repository link"
Context: [Repository Links](https://www.docsy.dev/docs/adding-content/repository-links/)

A common workflow that I've encountered is for folks to view a page's source before they decide whether they'd like to submit an edit.

A problem with **Edit this page** is that is forces the user to login _and_ have a fork of the repo before submitting an edit (admittedly, GH will fork the repo for you). IMH

[2021-11-04 19:01] chalin commented on #725
@emckean or @LisaFC: have you changed the settings? If so, note that the choice of merge is a "sticky", so on your next PR merge you'll need to manually select to **squash** the PR. For subsequent PRs, the setting will be **squash**.

[2021-11-04 20:57] chalin commented on #745
Of course, we could make the above style suggestion the docsy default. WDYT @LisaFC?

[2021-11-05 15:48] LisaFC commented on #756
Oh nice idea!

[2021-11-06 03:50] adrianovieira commented on #730
It also can be done by using PlantUML writing it on markdown or asciidoc formats.

[2021-11-06 04:15] adrianovieira opened #761 "Docsy vs Asciidoctor writing standards for PlantUML blocks"
Hi folks!

I'm using Docsy for a long time now, and I usually write the documents in *Asciidoc* format.

The issue is that *Asciidoc* standard to write PlantUML block is `[plantuml]`, e.g.:

[code]

But for Hugo+Docsy to work we need to write it in a slightly different standard `[source, plantuml]`, for example:

[code]

Is there a workaround that I can do here to get this working in the same stan

[2021-11-07 09:47] petr-stupka commented on #756
Hi, GitHub now have "Web Editor" functionality if you press `.` on the file so you can edit it in VS code web instead of the simple `edit this file` in GitHub UI. However for that the page can not be in edit mode. So another point why not to open edit directly. Thanks!

[2021-11-07 18:40] narrenfrei commented on #745
If I can remember right, the mobile navigation had also before my sidebar works no intention, but maybe I be wrong. I would also prefer a intention also on sidebar navigation.

@chalin's suggestion is right. At the moment we use 1.5em for padding-left on wide screens because we have so nice alignment also if someone uses the possibility of icons in the navigation. But in my opinion also 1em on all

[2021-11-09 15:09] chalin commented on #756
Oh, very cool! Thanks for sharing, I didn't know about the GH web editor @petr-stupka!

Note that users who know about the web editor will be able to use the View link to get to the page and, as you pointed out earlier, drop into the web editor if they so choose. I'd keep the Edit link as is for now (certainly in the scope of this issue).

[2021-11-09 23:40] mhansen commented on #756
I think this would be cool too, I'd enable it on the graphviz website.

[2021-11-09 23:43] mhansen opened #762 "Allow hooking rendering of .Content with a content-hook.html"
Hi there, this is an experience report, and an idea for how we might make Docsy updates more transparent.

For sites like this [ProfilerPedia](https://profilerpedia.markhansen.co.nz/) I have "175 Profilers, 140 Data Formats, 125 Converters, 116 Analysis UIs", I want to model them in Hugo with a different layout per-type: that is, I have `layouts/formats/`, `layouts/profilers/`, `layouts/converters

[2021-11-09 23:44] mhansen commented on #762
I'm happy to work on this, just wondering if other people think it's a good idea

[2021-11-10 21:24] amirootyet opened #764 ".-bg-<color> and .-text-<color> not working as expected in forked project"
I tried the following examples provided on this documentation [page](https://www.docsy.dev/docs/adding-content/lookandfeel/)

[code]

And

[code]

They don't work in my project. Nothing shows up -- it's as if those lines aren't there. They do, however, work in `docsy-example` project when I cloned it and tried it there. I don't know what the difference is since I have gone through all SCSS files I

[2021-11-11 15:58] chalin opened #765 "Rename `master` branch to `main`"
From https://github.com/google/docsy/discussions/722#discussion-3627833:

Any update on this?

Indirectly related: #439

[2021-11-11 16:14] gwatts commented on #688
@tjdavis3 / @LisaFC can you test the referenced PR when you have a moment?

[2021-11-11 16:43] #756 closed

[2021-11-11 16:50] LisaFC commented on #761
@akojimsg, any ideas (as you added the Plantuml support)?

[2021-11-11 17:08] chalin commented on #755
@johnpaulett - I just tested this and if I exclude the `--depth 1` argument, then I get deep clones of the submodules even with `shallow = true` set. Any idea what might be doing on?

[2021-11-12 00:01] prdsoftware commented on #348
Any update on this issue?  It looks like it's had some work done on it, but hasn't made it into a release?  Would love to see this bug fixed, as it really affects the usability.

[2021-11-12 17:41] LisaFC commented on #764
Can you have a look in dev tools in Chrome (if you're using it) - I have it working (but in a Docsy-example copy) and this is what I see when I have the element selected.
![Screen_Shot_2021-11-12_at_5_37_37_PM](https://user-images.githubusercontent.com/10744406/141510918-379baa74-cdba-4862-be06-64230d3e516a.png)

You can see the various Docsy scss files that the colour, padding, etc. comes from (_

[2021-11-12 17:55] amirootyet commented on #764
thank you for looking into this!

When I "inspect" around the area, it shows me "raw HTML omitted" under the `<h1>` header (where I've placed those divs)

![image](https://user-images.githubusercontent.com/46239148/141512050-5f8716a8-d595-40a1-9bdf-1b5b56c08d13.png)

Further, looking at Styles, I notice that your version is loading `_colors.scss` and `_type.scss` and mine is not:

![image](https:/

[2021-11-12 17:59] LisaFC commented on #764
AHA! Now I think I know what's going on.

By default , Goldmark (which is the current default Hugo Markdown parser) runs in "safe" mode, which strips any non-Markdown content (ie raw HTML like <div> elements) from your generated pages. If you update your config.toml you can use HTML elements.

[code]

[2021-11-12 18:09] amirootyet commented on #764
thank you @LisaFC! that worked, I was using this alternate structure in my `config.toml` which wasn't working

[code]

appreciate you taking the time to look at it!

[2021-11-12 18:14] jonesnc commented on #451
Thanks @laszewsk! I was getting this error as well. I think my issue was that I did a plain `git clone` of the `docsy-example`, rather than doing the `git clone --recurse-submodules --depth 1` version of the command you provided.

[2021-11-12 18:23] #764 closed

[2021-11-12 18:43] mhincapie commented on #716
We are also having this same issue. We wouldn't like to have a homepage to make it work.

[2021-11-12 19:01] gwatts commented on #716
I'm planning on updating the mostlydocs site in the near term.. hoping to get at least #759 merged down into docsy first and then i'll look into issues like these too

[2021-11-14 15:07] #688 closed

[2021-11-14 22:11] gwatts commented on #716
Ok so there's a couple of things going on here:

1. @honzik20 your `config.toml` for your example site is incorrect - you have the "taxonomyCloud" setting inside the "taxonomies" section which really confuses Hugo!  It should actually be inside `params.taxonomy` - Changing that alone will make things start to work
2. The top level cascade i have in `/_index.md` ends up applying the `docs` type to

[2021-11-15 00:28] gwatts commented on #421
@mountaindude finally getting around to this.. i did a deploy of a test site to github pages and it doesn't seem to have an issue with the underscore anymore - Can you confirm that `_print` works for you now too?  Wondering if they just "fixed" it on their end

[2021-11-15 11:22] LisaFC commented on #762
Ooh interesting. Any other community members who'd find this useful?

[2021-11-15 18:15] mhincapie commented on #716
@gwatts Looking forward to how taxonomies are supported. Thank you!

[2021-11-15 20:49] gwatts commented on #716
@mhincapie @honzik20 - Could you check out this PR and see if that helps you? https://github.com/gwatts/mostlydocs/pull/3

[2021-11-15 22:37] mhincapie commented on #716
@gwatts that pointed me in the right direction. Thank you so much 😄 . This is what worked for me in the `_index.md` file:

[code]

with the following config in the `config.toml` file:

[code]

[2021-11-16 20:37] chalin opened #770 "userguide/content/en/docs: rename mixed-case directory names and names containing spaces"
It's usually a good idea to avoid mixed-case directory names and names containing spaces for content sections (or just in general for code or doc related projecqts). All of the directories under https://github.com/google/docsy/tree/master/userguide/content/en/docs fall into this category.

I propose that we rename these to correspond to the section-path names used by the deployed site. For example

[2021-11-16 21:07] chalin commented on #731
You can now more easily do this as documented in [/docs/adding-content/lookandfeel/#styles](https://deploy-preview-771--docsydocs.netlify.app/docs/adding-content/repository-links/#disabling-links)

[2021-11-16 21:41] jshaughn commented on #731
Great!  Sorry that I have not yet found the time to test the original workaround.

[2021-11-16 21:54] chalin commented on #731
No worries. You now have a better solution to try when you're ready. Cheers!

[2021-11-17 17:33] gwatts commented on #716
Thanks @mhincapie  - I've merged down the mostlydocs PR now; tags are up and running there by default now - @honzik20 if all looks good would you like to close this ticket out?

[2021-11-17 18:18] #731 closed

[2021-11-17 22:52] chalin commented on #718
I can see this issue even with `offlineSearch = false`, such as for the Docsy user guide. To reproduce:

 1. Visit any page of https://www.docsy.dev/
 2. Add text to the site-search input
 3. Move focus outside of the input

Here's an example of what you'll see:

[2021-11-18 15:33] #718 closed

[2021-11-19 09:59] mhansen commented on #718
Thank you! Confirming this looks great and high-contrast now with the white-on-accent.

[2021-11-19 10:05] chalin commented on #718
Thanks for the feedback @mhansen!

[2021-11-19 20:45] j00bar opened #775 "Github repo links presume a language even when none present"
Howdy!

I have a Docsy-themed project that is not and never will be translated. Our site index is `/content/_index.md` and no subpath of `/content` has a language identifier.

With the "View page source", "Edit this page", etc. links in the upper right of each page, however, the link is sending users to `/content/en/_index.md`, which does not exist.

Docsy should link to the actual proper source w

[2021-11-19 20:50] emckean commented on #775
Hi, this is something you should be able to configure yourself. :) Check out this Hugo documentation: https://discourse.gohugo.io/t/how-to-use-a-single-language-in-a-multilingual-theme/33622/2

You probably want to look into changing these settings in your config.toml, try removing the 'en' and setting defaultContentLanguageInSubdir to false?
[code]

[2021-11-19 20:50] #775 closed

[2021-11-19 21:55] emckean commented on #770
SGTM!

[2021-11-21 05:01] mhansen opened #776 "Speed up generation: Default to caching sidebar generation"
Hi there, over at https://gitlab.com/graphviz/graphviz.gitlab.io/-/merge_requests/463, I was able to double the speed of building the Graphviz docs by reducing the default `sidebar_cache_limit` in `config.toml` from `1000` to something under the size of my site (I picked `100`, but that's arbitrary).

I had profiled building of the site and seen that about half the time spent building the site was

[2021-11-21 05:21] mhansen commented on #776
Here are the measurements for building Profilerpedia, which are even more extreme (this is what prompted me to profile the code in the first place, the build was taking over a minute). Here we see a 10x (!!) improvement from 65s to 6.5s by caching the sidebar generation.

Before:

[code]

After:

[code]

[2021-11-23 14:52] petrsx opened #777 "GitHub Web Edit option"
Hi, GitHub now have "Web Editor" functionality if you press `.` on the file so you can edit it in VS code web instead of the simple `edit this file` in GitHub UI.

The idea is to an have configuration option `where` to edit page? This can be just a different link selection:

GitHub Edit url:

[code]

VS Code web url:

[code]

Root url changed from `github.com` to `github.dev` and navigation from `

[2021-11-23 16:52] LisaFC commented on #777
Ooh, just tried that and it's really nice! @chalin what do you think?

[2021-11-23 21:00] petr-stupka commented on #777
I just copied my post from one of the chalin issue over, so it will not get forgotten since this is pretty cool feature from GitHub, agree

[2021-11-23 21:43] chalin commented on #777
I haven't had time to try this again, but from what I recall, after being thrown into the editor and making changes, it didn't seem obvious how to submit a PR. That use case should be well supported / documented since folks will be editing a file with the intention of submitting a PR. The old interface makes that easy.

Regardless, we can still consider adding such a repo link.

[2021-11-23 21:46] chalin opened #778 "Document body_class page param"
_Originally posted by @LisaFC in https://github.com/google/docsy/issues/774#issuecomment-976847539_

[2021-11-23 23:22] narrenfrei commented on #776
I know, that the current limit for activating cashing is quiet high, I would say it's more a switched off by default. But the value was already so high before my work on this topic and it can get changed easily.

I think there are two different kinds of interests: fast generating vs. usability without JS.

I prefer to avoid unnecessary JS if possible. But I have also no problem, if we change the d

[2021-11-23 23:54] mhansen commented on #776
There's many features in Docsy that require JS already (tabs, search, some
code highlighting). I suppose they're more opt-in than headings though.

Here's pseudocode, a crazy idea for how to do this without JS, in CSS:

li.left-navbar-class a[href="{{ current page URL }}"] {
  text-weight: bold;
}

But my hot take is I don't think we need to bold for non-JS here; this
gracefully degrades pretty we

[2021-11-24 07:11] narrenfrei commented on #776
JS make a little bit more then bolden the aktive menu icon ;-) Especially, when the foldable sidebar menu is activated.
https://github.com/google/docsy/blob/master/layouts/partials/sidebar.html

But as said, for me it would by OK, if we make the caching the default behavior. But then I wouldn't like to control it by a `sidebar_cache_limit`. I would prefer to make a boolean parameter, because it's

[2021-11-24 07:15] mhansen commented on #776
Thanks for the link, yeah that's a bit more than bolding! Your plan sounds
good to me -- agree a boolean is clearer and doesn't ask the user to set a
threshold which their site will be either or under (it's a boolean from the
user point of view).

On Wed, 24 Nov 2021 at 18:11, Franz Steininger ***@***.***>
wrote:

[2021-11-24 13:38] gwatts commented on #777
I agree with @chalin - you enter a far more complicated workflow if you land someone straight into vscode.  The current github editor makes things pretty straightforward if someone just wants to fix a typo, add a sentence, etc.

[2021-11-24 16:49] petr-stupka commented on #777
Thanks for your feedback.
May be optional i.e. `Edit this Page in Web Editor` button will be the best solution?

[2021-11-25 20:00] chalin opened #780 "Show breadcrumbs on mobile"
I'm not sure if there was a reason to hide breadcrumbs on narrow displays. I'd argue that the navigational benefits of breadcrumbs can be even more useful on mobile, and they don't have (IMHO) a negative impact on the page display. Here's an example of a deeply nested page:

This looks perfectly fine to me.

Thoughts @LisaFC @emckean?

[2021-11-25 20:05] chalin commented on #780
Related: https://github.com/etcd-io/website/issues/498

[2021-11-25 20:22] chalin opened #781 "Support hiding single/root-page breadcrumbs"
Breadcrumbs on the root page just use up page real estate without adding any benefits:

One might argue uniformity of page design, but not all site pages have breadcrumbs anyway.

[2021-11-25 20:39] chalin opened #782 "Clean up `layouts/partials/breadcrumb.html`"
- [ ] What is the `spb-1` class applied to the `<ol>` element in the following excerpt:
[code]
  @LisaFC @emckean @bep any idea?
  It isn't in the generated styles or in the JS (as an anchor) AFAICT, so I'd vote to drop it.
  FYI, this file hasn't changed since the original commit 4 years ago: https://github.com/google/docsy/blame/master/layouts/partials/breadcrumb.html
- [x] Drop unnecessary whit

[2021-11-25 21:15] chalin opened #783 "Cleanup: don't hard-code styling into layouts"
We should avoid using Bootstrap utility classes (or even raw CSS) to hard-code styling of elements inside of layouts. Instead define an appropriate `td-` prefixed class, and add the styling to the class. Otherwise, it becomes difficult for clients to customize element styles.

[2021-11-26 11:41] #716 closed

[2021-11-26 11:42] honzik20 commented on #716
Thanks for your work.

[2021-11-26 13:10] chalin commented on #781
At a minimum, this should be configurable, if only via styling. If/once #784 is merged, I'll show you what I have in mind.

[2021-11-26 16:26] LisaFC commented on #780
Hmm, I'm not sure why we didn't show them originally! Let me have a quick dig around in case there was some issue with it, but otherwise I think adding them in works well.

[2021-11-26 16:33] LisaFC commented on #780
No, no issue, and I agree with you that they're useful for context-setting when you can't see a nav. I wonder is it something people might like to be able to switch off for mobile for very deeply nested sites (or will just turning off breadcrumb navigation entirely be enough for that, which we already offer)?

[2021-11-26 16:39] LisaFC commented on #781
Yep, that makes sense to me.

[2021-11-29 16:21] chalin commented on #780
Great.

With #784, breadcrumbs can be turned off at any breakpoint, e.g.:

[code]

[2021-11-29 16:23] #780 closed

[2021-11-29 21:50] kimberleybrown opened #787 "Update to Mermaid 8.13.4"
Hello,

I'm having an issue implementing the use of 'actors' in the Mermaid sequence diagrams.

Generating their example code :

[code]

Results in the following error:

<img width="323" alt="mermaid" src="https://user-images.githubusercontent.com/25205867/143948227-358fde6d-91f4-431a-bc9d-1fd14b394089.png">

It appears from their releases in the 8.12.xx look at bug fixes for this, however Docsy i

[2021-11-30 16:06] chalin commented on #777
All buttons are now optional in that they can be disabled. For details see [Disabling links](https://www.docsy.dev/docs/adding-content/repository-links/#disabling-links). So in that sense I wouldn't be against the addition.

(We might debate whether the button should be shown by default or not.)

[2021-12-01 22:15] amirootyet opened #791 "Custom hex color codes for -bg-<color> banners"
According to [this documentation page](https://www.docsy.dev/docs/adding-content/lookandfeel/):

Is there a way to provide a custom hex value to specify the color? For example:

`<div class="-bg-#ffffff p-3 display-4">Background: Primary</div>
`

[2021-12-02 17:20] amirootyet commented on #791
Nevermind. I figured it out. Here's how to add custom hex color code:

`<div style="background-color: #000000;" class="-bg-green p-3 display-4">Background: Primary</div>`

New to CSS so wasn't immediately apparent to me, and perhaps there's a better way of doing this, but this works for now.

[2021-12-02 17:20] #791 closed

[2021-12-02 18:54] LisaFC commented on #787
That should be fixed by #790, can you check that it's resolved your problem?

[2021-12-03 16:59] #781 closed

[2021-12-03 16:59] #782 closed

[2021-12-06 07:17] deining opened #793 "Bootstrap: submodule and script are out of sync"
I just realized that with 498b85eb899c12 applied (#790), now the `bootstrap` submodule and https://github.com/google/docsy/blob/master/layouts/partials/scripts.html are not in sync any more (script: `v4.6.1`, repo: `v4.6.0`). This was an issue in the past (#632), and I want to avoid any confusion here. Therefore I prepared PR #795 which updates the `bootstrap` submodule to version `4.6.1`.

_Addit

[2021-12-06 10:21] di9383 opened #794 "Feature Request - add Azure Repos links support"
Hi!
As mentioned [here](https://www.docsy.dev/docs/adding-content/repository-links/) GitHub is the only repository that is supported by Repository Links.

Is it possible to add Azure Repos support or at least guide, which files/modules/etc. should be adjusted by one not mature enough with Go but ready to dive in and contribute?

[2021-12-06 15:05] LisaFC commented on #793
Well spotted, I'll take a look.

[2021-12-06 15:09] LisaFC commented on #794
Hi there,

Here's the file we use for the repository links, if you want to take a look - you can also override this file for just your own project if you don't want to have to deal yet with all the potential conditionals etc. you'd need to add to the main theme:
https://github.com/google/docsy/blob/master/layouts/partials/page-meta-links.html

@chalin did the most recent work on it so might be abl

[2021-12-07 02:50] glasnt commented on #470
I took a look, and after bumping bootstrap from `v4-dev` to `main`, I was able to replicate the issues others had found with errors, and found it was related to [`color-yiq` being renamed](https://getbootstrap.com/docs/5.0/migration/#sass)... which was already found in https://github.com/google/docsy/pull/517 :)

As they found, there are other small UX differences that are visible just in the user

[2021-12-07 20:47] deining commented on #793
Thanks for merging my PR!

[2021-12-07 20:47] #793 closed

[2021-12-08 18:13] #572 closed

[2021-12-10 17:17] deining opened #803 "Allow users to update scripts used as dependencies (Mermaid, PlantUML, KaTeX, ...)"
In #787, a community member requested the update to Mermaid 8.13.4. Script updates are quite frequent, and from a user's perspective, it might be cumbersome to have to wait for someone to update the script(s) in the sources. This made me think if can can do better here, and yes, I think we can:

Currently scripts are defined like

[code]

**Proposal for improvement:**

My proposal is to extract th

[2021-12-10 23:36] mhansen opened #804 "executing "partials/breadcrumb.html" at <.Parent.IsHome>: nil pointer evaluating page.Page.IsHome"
Hi there, on https://gitlab.com/graphviz/graphviz.gitlab.io/, updating to the latest Docsy, I get this error:

[code]

Looks like we're trying to read `Parent.IsHome` in `breadcrumb.html` but not every page has a `.Parent`.

https://github.com/google/docsy/blob/e7fd4d8c266182f28123364e0e40c882047ff4da/layouts/partials/breadcrumb.html#L2

In particular, looks like the `home` page doesn't have a par

[2021-12-10 23:41] mhansen commented on #804
I would guess the fix here would be to somehow check if `.Parent` is `nil` before reading its fields. I forgot how to do this in hugo, is it using `{{ with .Parent }}` and that section only executes if Parent is non-nil?

[2021-12-14 11:02] Edwardiv1 opened #805 "failed to resolve output format "print" from site config"
Following the getting started instructions, I get the following error:

[code]

[2021-12-14 14:45] gwatts commented on #805
@Edwardiv1 Have a look at #451 and see if that helps

[2021-12-14 15:25] di9383 commented on #804
I'm also getting this error when trying to render Docs only structure from here with the latest Docsy theme version
https://github.com/LisaFC/justdocs

[2021-12-14 15:43] chalin commented on #804
Thanks for reporting the issue and sorry for the NPE; I'll be looking into this by tomorrow at the latest.

[2021-12-14 17:27] LisaFC commented on #803
That is very interesting - I hadn't realized Hugo 0.90.0 let you do that! I agree it would be great for users who wanted to update these scripts independently of theme updates.

Thoughts from anyone else about this approach?

[2021-12-15 15:28] #787 closed

[2021-12-15 16:23] #120 closed

[2021-12-15 19:58] johansenha opened #808 "failed to transform json/offline-search-index.json (json/offline-search-index.json:5: unclosed action)"
In a wsl2 environment I cannot built hugo with docsy addon due to the following error

[code]
We are using exactly the version from docsy master branch.

Anybody around with the same issue?

[2021-12-16 12:50] LisaFC commented on #808
Huh, we had this problem before (#705) and it looked like it was fixed - can you check what version of Hugo you're using?

[2021-12-16 13:40] johansenha commented on #808
Exactly. Sorry for that

[2021-12-16 13:40] #808 closed

[2021-12-17 12:21] #804 closed

[2021-12-17 14:31] chalin commented on #794
Hi @di9383. Can you provide some examples of the kinds of repo links that you'd need and/or links to a public docs website and the associated Azure repo?

[2021-12-17 15:19] chalin commented on #804
@mhansen @di9383 - if you could confirm whether this works for you, that would be grand.

[2021-12-17 16:28] chalin opened #810 "Document options for breadcrumbs"
Related:

- https://github.com/search?q=repo%3Agoogle%2Fdocsy+breadcrumbs+is%3Aopen
- #786
- #807
- #784: document how to hide on mobile for backwards compatibility? (Not sure it's a good idea to do so, but I still wanted to make note of it.)

[2021-12-17 23:39] mhansen commented on #804
Thank you, I can confirm this works for me! Looks good

On Sat, 18 Dec 2021 at 02:19, Patrice Chalin ***@***.***>
wrote:

[2021-12-17 23:54] chalin commented on #804
Great, thanks!

[2021-12-18 13:05] di9383 commented on #794
Hi @chalin,
thank you for your support.
So basically, if we consider to edit `_index.md` landing page, this is how url will look like when azure git repo is used:

`https://dev.azure.com/<org_name>/<project_name>/_git/<repo_name>?path=/content/en/docs/_index.md`

while this is how the same page looks in github:

`https://github.com/<org_name>/<repo_name>/edit/master/content/en/docs/_index.md`

Als

[2021-12-19 12:07] di9383 commented on #804
Works for me too, thanks!

[2021-12-21 13:39] chalin commented on #794
Thanks for those examples. I have a couple of ideas that I'll explore as soon as I can.

[2021-12-29 08:13] spacefan opened #816 "Feature request"
Is there possible to let docsy support multilanguage local search function, such as CJK(Chinese, Japanese, Korean)?

[2021-12-29 08:14] spacefan opened #817 "Feature request: support gif as featured-background"
Is there possible to let docsy support gif format of `featured-background`?

[2021-12-29 09:33] spacefan commented on #816
May be [lunr-languages](https://github.com/MihaiValentin/lunr-languages) can solve this problem

[2022-01-01 01:07] iamrajiv opened #818 "Copy only necessary items from the code block"
## Description

When I use the copy button to copy the codes then unnecessary characters are also copied like I want to copy the below code but do not want the `$` character to be copied. I want to copy only `echo "Hello World"` after clicking the copy button.

[code]

[2022-01-05 11:17] LisaFC commented on #816
@tekezo are you familiar with multi-language support for Lunr?

[2022-01-05 11:44] LisaFC commented on #805
@Edwardiv1 did that solve your problem?

[2022-01-05 11:46] tekezo commented on #816
I'm not familiar with multi-language support for Lunr, unfortunately.
I can understand Japanese, so I'm sure I can handle it and confirm it well, but I can't take the time for a while...

[2022-01-05 11:53] LisaFC commented on #817
You should be able to use a .gif as your featured-background, yes - Hugo's image processor supports bmp, gif, jpeg, jpg, png, tif, tiff, and webp

Let me know if it doesn't work and I'll do some experimenting.

[2022-01-07 08:35] spacefan commented on #817
Yes, it doesn't work. When i use `featured-background.gif`, the animation cannot be played.

[2022-01-07 11:38] LisaFC commented on #817
Ah right - the image processor (which we use for resizing etc.) doesn't currently support animated gifs. There's an open issue for Hugo here: https://github.com/gohugoio/hugo/issues/5030

(one comment on the issue suggests that animated PNG files might work, if you convert your file?)

[2022-01-07 18:16] killermoehre opened #822 "Unable to check out submodules"
Hi,

after a fresh `clone` I hit following error for checking out the submodules

[code]

As we use `docsy` as submodule in our own Hugo repo, this is quite annoying as we can't build our site.

[2022-01-07 23:45] deining commented on #822
Why are you using the --remote option?

Simply omit this option and it will work:

[code]

[2022-01-08 09:23] spacefan commented on #817
APNG unfunctional

[2022-01-09 18:36] nauvane opened #825 "Search not activated"
I've been unable to activate search, having tried several options: no search box appears on the page. I've reinstalled the theme and updated, having had the same problem with a previous installation. Any enlightenment gratefully received.

**Code**
https://github.com/nauvane/babelish

**Site**
https://www.babelish.ie/

[2022-01-09 19:55] killermoehre commented on #822
I require the `--remote` option to actually update some other repository where `docsy` itself is a submodule of.

[2022-01-09 22:35] deining commented on #822
You can overwrite the branch in your `.git/config`, the settings there take precedence over the settings given in `.gitmodules`. (either use `branch = main` or `branch = HEAD`).

[code]

Be aware however, since docsy pulls in bootstrap version 4.6.1, your submodule will be out of sync.

[2022-01-10 11:17] killermoehre commented on #822
Well, `docsy` doesn't find the `v4-dev` branch it is pointing to. I don't even want `HEAD`, I just want docsy to pull from the current `v4-dev` branch as stated in the `.gitmodule`-

[2022-01-10 16:57] LisaFC commented on #825
Ok, I'll take a look - which search option are you trying to use (Google, Lunr, or Algolia)?

[2022-01-10 17:01] LisaFC commented on #817
Right, I wasn't sure if it would work. You may need to add a custom version of the cover shortcode to handle gifs differently, as suggested in that Hugo issue (or wait until it's fixed in Hugo).

[2022-01-10 20:37] nauvane commented on #825
Many thanks. Google. I've tried to follow the guidance here:

https://www.docsy.dev/docs/adding-content/navigation/#configure-search-with-a-google-custom-search-engine

Search page seems to be present:

https://www.babelish.ie/search/?q=unicode

[2022-01-11 03:34] spacefan commented on #817
Ok, i'll try to address this problem.

[2022-01-11 12:03] killermoehre commented on #822
The linked PR is closed. Therefore this issue can be closed.

[2022-01-11 12:23] killermoehre commented on #822
My bad, the PR #823 is not yet merged.

[2022-01-11 15:24] LisaFC commented on #825
Aha, found it! (I think)

You're missing/have moved a `[params]` in your config file - if you look at the config file for the Docsy user guide all the general site parameters are under `[params]` ([here](https://github.com/google/docsy/blob/master/userguide/config.toml#L96)), then more specific parameters are under `[params.ui]`, etc.  At the moment all your search settings aren't under anything a

[2022-01-11 16:18] #825 closed

[2022-01-11 17:09] deining commented on #822
Can you please try:

[code]

Does this resolve your problem?

[2022-01-12 12:38] at055612 opened #827 "Right hand TOC sidebar not using full screen height"
As you can see in this screen grab (of the bottom right corner of the screen) the right hand TOC sidebar is not using all the available screen when not scrolled to the bottom, so the vertical divider is short of the bottom.

![image](https://user-images.githubusercontent.com/22818309/149137480-e9b39181-40dd-4d0a-85e5-39887f29b22a.png)

If you scroll all the way down it is fine as the footer takes

[2022-01-12 13:59] killermoehre commented on #822
I'm switching to proper hugo modules with
[code]
So, if this works, I think this issue can be closed.

[2022-01-12 16:45] deining commented on #822
Please note that using docsy as hugo module is work in progress currently it will **not** work with HEAD of docsy repo.
In order to make it work, PR #801 needs to be merged into master.

I just reworked and rebased #801, IMHO it is ready to merge and won't break anything. Once #801 were merged, you could immediately test it and report your findings back to us.

Meanwhile, you may have a look at th

[2022-01-13 14:54] LisaFC commented on #827
Oh well spotted! Not sure how that happened...

[2022-01-13 15:09] LisaFC commented on #827
Actually I think I do know how it happened - we initially didn't have nearly as many additional repo and print options at the top, now that they're there they take up a lot of sidebar real estate.

One thing I have noticed in your preview is that using the full height does make it look quite different on long pages with a lot of headings (but maybe that's not a bad thing?)
https://deploy-preview-8

[2022-01-13 16:19] chen-shmilovich-sysdig opened #829 "Incorrect auto margins on RTL languages"
In assets/scss/rtl/_spacing.scss:
[code]
mr-auto should set an auto **left** margin on RTL languages.

and

[code]
ml-auto should set an auto **right** margin on RTL languages.

In the example site you can that it affects the navbar when switching to an RTL language:
![image](https://user-images.githubusercontent.com/66797177/149366931-2bf7c85e-4f76-427e-9a1f-fbcd3d5cf9fe.png)

The nav items shoul

[2022-01-13 16:36] LisaFC commented on #732
Weird, ok, I'll take a look at the file history and see if we can just remove one. I wonder how we ended up with two identical files?

[2022-01-13 16:40] h1z3y3 commented on #732
I found this PR: https://github.com/google/docsy/pull/712

It may works in the previous hugo version, my version is `hugo v0.89.4`

[2022-01-13 16:46] h1z3y3 commented on #732
@LisaFC  I update hugo to the latest version, and there is no problem.
Thanks!

https://github.com/gohugoio/hugo/releases/tag/v0.92.0

[2022-01-13 18:02] killermoehre commented on #822
So, #801 is merged. What do I need to use `docsy` as a module?

[2022-01-13 21:09] emckean opened #831 "Add CHANGELOG to track when features were added, dependencies updated, etc."

[2022-01-13 21:48] deining commented on #822
You need to convert your existing site to a Hugo module. Detailed [instructions](https://deploy-preview-802--docsydocs.netlify.app/docs/updating/convert-site-to-module/) are authored already. Good luck, please let me know if conversion worked for you!

[2022-01-14 08:53] di9383 commented on #794
Hi @chalin. Just for understanding, do you have any timelines for this?

[2022-01-14 10:07] chalin commented on #827
It does look different, but I feel that it now looks correct IMHO.

[2022-01-14 10:11] chalin commented on #827
@LisaFC - the fix LGTM. Shall I merge or do you want to do it?

[2022-01-14 10:26] chalin commented on #822
I'm going to close this issue since there isn't a problem with Docsy submodules (but rather the particular nature of the context in which you are using docsy) and, in any case, you've decided to give docsy-as-a-hugo-module a try. Thanks for doing that, and as @deining says, do give us feedback either by opening another issue or a discussion.

[2022-01-14 10:26] #822 closed

[2022-01-14 11:10] LisaFC commented on #827
Merge away!

[2022-01-14 11:19] #827 closed

[2022-01-14 17:59] ITblacksheep opened #833 "Error Generating site when using Docsy as a module"
Error: Error building site: TOCSS: failed to transform "scss/main.scss" (text/x-scss): SCSS processing failed: file "stdin", line 6, col 1: File to import not found or unreadable: ../vendor/bootstrap/scss/bootstrap.

[2022-01-14 21:21] deining commented on #833
To my dismay I realized that #801 is not valid, module dependencies were inadvertently disabled in the final version that was merged. Sorry for that, I will author a PR that fixes this shortly.

Fortunately, there is a way to work around this. In your `config.toml`, simply add:

[code]

This should get you up and running. Please let me know if this solves your problem.

[2022-01-14 21:39] kneyugn commented on #833
Hello! Thanks for working on this. I am also seeing this issue and the copying and pasting the above into the config did not resolve it. Do I need to run any command again? I followed this guide:

https://deploy-preview-802--docsydocs.netlify.app/docs/updating/convert-site-to-module/#work-around-a-known-bug-in-gos-module-management

[2022-01-14 21:45] amirootyet commented on #550
A toggle between markdown and code in tabbed panes would be really nice. I also have a use case where I would love this toggle. Currently, I can only write plaintext in the tabbed panes because any markdown in there is not rendered.

[2022-01-14 22:25] deining commented on #833
To be on the safe side, you can run:

[code]

Afterwards, for diagnostic purposes, you may run `hugo mod graph`, which should list 3 module dependencies:

[code]

If you don't see these 3 dependencies, you are in trouble and it won't work.

[2022-01-15 20:04] ivancheban opened #834 "Docker container error 255"
I follow the steps [here](https://www.docsy.dev/docs/getting-started/quickstart-docker/). I get 255 error when I run docker-compose up.

![image](https://user-images.githubusercontent.com/47241364/149636171-6b448716-29db-49de-8a29-6273a78db47b.png)

[2022-01-15 21:32] deining opened #835 "docsy userguide: warning message when building with hugo 0.92.0"
Excerpt from the netlify build log when building docsy userguide with latest hugo version 0.92.0

[code]

We should identify the offending source file and fix it so that the warning disappears.
Unfortunately, flag `--panicOnWarning` is broken which makes it harder to identify this file.

[2022-01-15 21:49] deining commented on #834
Inside your `config.toml, identify the following line:

[code]

Remove this line and replace it with the code block given below:

[code]

Does this make the error go away?

[2022-01-15 23:53] strattonbrazil opened #836 "Error: module "github.com/FortAwesome/Font-Awesome" not found;"
I'm very new to hugo. I'm running hugo 0.92.0 and installed docsy as a submodule in the themes directory. When running most hugo commands I get an error about _Font-Awesome_ that seems to prevent any progress. It looks like a missing dependency, but I don't see any additional requirements called out in the docs.

[code]

[2022-01-16 07:21] #732 closed

[2022-01-16 10:03] ivancheban commented on #834
Still got the error.

![image](https://user-images.githubusercontent.com/47241364/149655415-6c1ee6b5-a2b4-4c59-9dfa-980d047c2814.png)

[2022-01-16 16:58] iamrajiv commented on #818
@LisaFC

[2022-01-17 00:21] deining commented on #836
Most likely this is due to errors introduced in #801. I just submitted a PR that addresses these errors.

Meanwhile you can work around this. Inside your `config.toml`, identify the following line:

[code]

Remove this line and replace it with the settings given in the code box below:

[code]

Does this solve your issue?

[2022-01-17 01:26] strattonbrazil commented on #836
I'll give it a shot. Thanks.

On Sun, Jan 16, 2022 at 4:21 PM Andreas Deininger ***@***.***>
wrote:

[2022-01-17 10:31] LisaFC commented on #836
This should be fixed in #837

[2022-01-17 10:33] LisaFC commented on #835
I'll see if I can find it (also I bet if this is a new warning it's hit lots of other Hugo sites too so might get clues from other people's issues)

[2022-01-17 10:33] LisaFC commented on #833
This should be fixed in #837, right?

[2022-01-17 14:07] LisaFC commented on #835
It looks like it's the partial with the GitHub links: https://github.com/google/docsy/blob/master/layouts/partials/page-meta-links.html

Let me see if I can figure out what bep means in the release notes about how to rewrite it....

[2022-01-17 15:20] at055612 opened #838 "Change `blog/list.html` to use `.Title` instead of `.LinkTitle`"
Noticed that `blog/list.html` is using `.LinkTitle` for the blog entry links in the main page.
[code]

This is inconsistent with `docs/list.html` (`partials/section-index.html`)
[code]

I think `blog/list.html` should be changed to use `.Title` as the `.LinkTitle` will typically be shorter to fit in the left hand nav pane but in the main pane there is more space for the full title. i.e.

[code]

A

[2022-01-17 15:30] NaincyKumariKnoldus commented on #838
Hey @at055612 Can I raise a PR for this please?

[2022-01-17 15:33] at055612 commented on #838
@NaincyKumariKnoldus go for it.

[2022-01-17 15:40] NaincyKumariKnoldus commented on #838
Sure @at055612

[2022-01-17 15:53] NaincyKumariKnoldus commented on #838
Hey @at055612 I have raised a PR for this! Review this please.

[2022-01-17 15:59] kneyugn commented on #833
Hello @LisaFC, It isn't resolved for me.

hugo mod graph

<my-module> github.com/twbs/bootstrap@v5.1.3+incompatible
<my-module> github.com/FortAwesome/Font-Awesome@v4.7.0+incompatible
<my-module> github.com/google/docsy@v0.0.0-20220117100953-fbc516e8d1dd

[2022-01-17 16:11] at055612 commented on #838
PR #839 looks fine to me but it is not my decision to make.  The question is whether the community want to see the LinkTitle or the Title in the main pain.

By the way if you raise a PR against an issue, link back to the issue in the PR, e.g. by putting this in the PR description.
[code]

[2022-01-17 16:26] NaincyKumariKnoldus commented on #838
okay @at055612

[2022-01-17 16:53] deining commented on #833
This should be bootstrap@v4.6.1, not @v5.1.3. You pulled in the latest version, that's incorrect.

 < my-module > github.com/FortAwesome/Font-Awesome@v4.7.0+incompatible

This should translate to Font-Awesome@7d3d774145ac, which is 5.15.4. Font-Awesome@v4.7.0 is ways to old.

 < my-module > github.com/google/docsy@v0.0.0-20220117100953-fbc516e8d1dd

This one is correct.

Do you want to convert an

[2022-01-17 17:56] kneyugn commented on #833
Hey @deining, I am getting the same error as above. I am converting an existing project. How do I ensure that my installs have the latest Font-Awesome and Bootstrap. I am not familiar with how go or Hugo modules work.

[2022-01-17 19:11] killermoehre commented on #822
@deining @chalin `docsy` as module works. Instructions on how to convert the site to a module are well written as well.

[2022-01-17 20:06] ITblacksheep commented on #833
Ok i am passed the original error but now my site doesn't show anything. It is not understanding the language. I am going to flip back to non module and then see if it still happens.

[2022-01-17 20:18] chalin commented on #835
Yes, that's were it's coming from. I'll be fixing this for another project (https://github.com/open-telemetry/opentelemetry.io/issues/1047), and will be glad to port the solution here if you'd like @LisaFC.

[2022-01-17 21:24] ITblacksheep commented on #833
So when switching back to git submodule I am getting the same issues as #836. The fix for #836 did fix the font awesome issue, but now back to not rendering any content under a lang folder. If i move all the content under content it renders fine, but if i move it into content\en it renders a blank page.

[2022-01-17 22:48] iamsalmakolkari commented on #836
This resolved my issue. Thanks!!

[2022-01-17 23:28] strattonbrazil commented on #836
That resolved it for me as well. Thanks!

Is this placeholder code and eventually using the _theme_ attribute will work or is this the new format going forward?

[2022-01-18 09:34] #835 closed

[2022-01-18 10:11] huehnerlady commented on #833
With github submodules I have the same problem that I'll get problems with rendering, the sidebar shows a navbar from a different part of the website (blog?) that I am on, the main page is not rendering at all (apart from header)  and some other pages (eg. the blog) are also not rendering. I have the same setup with the language folder

[2022-01-18 14:54] ITblacksheep commented on #833
@deining Should we close this out as the original issue has been fixed and open a new one up for the rendering issue?

[2022-01-18 16:09] chalin commented on #794
Hi @di9383 - while I have ideas on how to generalize the repo-links layout, other docsy tasks seem to be more pressing. My hope is to get to this in the first half of the year. If you can get others to upvote this issue, maybe it will get some attention earlier.

[2022-01-18 16:18] deining commented on #833
Yes, please.

Again, yes. Can you provide as many details as possible please? Is your project available publicly (github, gitlab, or so) or can we get access to it? Ideally we could reproduce the faulty behaviour locally. That would make it much easier to track it down. Thanks.

[2022-01-18 16:27] chalin commented on #838
Thanks for catching that @at055612, and for the PR @NaincyKumariKnoldus. I agree with the proposed change, and have approved the PR.

[2022-01-18 16:50] NaincyKumariKnoldus commented on #838
Thanks @chalin

[2022-01-18 17:32] at055612 opened #843 "Feature request: Numbered headings"
I found that there is not enough difference in the styling of the headings to make it obvious where in the heading tree you are.  On my site I have added numbered headings (and numbered TOC links).  This makes it much clearer what level a heading is at and where you are in the document, in my opinion.

Also, when printing a section that has child sections this results in a `h1` for each section re

[2022-01-18 20:06] bruxisma opened #844 "Error building site: TOCSS: failed to transform "scss/main.scss" ... File to import not found or unreadable: vendor/rfs."
Hello,

Was excited to see that there were commits showing that docsy supported hugo modules now, however in practice it would seem this is not the case?

With a go.sum file of

[code]

I get the following error when running `hugo` under 0.92 extended

[code]

Having looked at the original PR, it seems the _rfs file was added, as it is generated as part of the bootstrap build process, but is not p

[2022-01-18 20:53] deining commented on #844
To me it seems like you are really close to have it your site up and running. Your setup seems correct and would result in a working site already, but unfortunately, you/we are bitten by a known bug in Go’s module management.
There is a workaround, however, which is documented [here](https://deploy-preview-802--docsydocs.netlify.app/docs/updating/convert-site-to-module/#work-around-a-known-bug-in-

[2022-01-18 20:54] prdsoftware opened #845 "New version of Algolia search breaks DOCSY search"
There is a new version of Algolia search that has a different interface that doesn't seem to work with Docsy.

The new Algolia DocSearch no longer uses the ".td-search-input" as an input parameter in the new javascript.
https://www.docsy.dev/docs/adding-content/navigation/#configure-algolia-docsearch

The new v3 Algolia JS doco is here and uses "container" instead
https://docsearch.algolia.com/doc

[2022-01-18 21:11] bruxisma commented on #844
Hi! I wasn't aware of the deploy preview site which had the workaround mentioned. Thanks for the link. That fixed the main issue and now I've just got to sort out content issues. 😄

[2022-01-18 21:11] #844 closed

[2022-01-18 21:31] amirootyet commented on #836
I too had this error after updating Docsy submodule:

[code]

I tried to fix it using the advice by @strattonbrazil. However, I now have an issue where running the server now doesn't default to the `/en` (English) at the homepage. My documents are stored under `content/en/` and the following setting in my `config.toml` used to ensure that it defaults to English:

[code]

Any solutions for this? I

[2022-01-19 09:52] chalin opened #846 "README should describe how to build and test docsy, not how to use it"
The target audience for the README and CONTRIBUTING should be docsy contributors, not end users. The content of these files should describe how to contribute to and maintain (build and (eventually) test) docsy and its user guide.

Docsy endusers should be directed to the user guide.

WDYT @LisaFC @emckean?

[2022-01-19 10:12] LisaFC commented on #846
Hmm, good point - a lot of what's in the README for Docsy users is duplicated in the user guide, though I think it's lightweight/short enough that we can leave it there for people who find the theme first in GitHub. It at least gives end-users a quick idea of what's involved in basic theme usage (and that we have an example project) and whether it's a good choice for them before they go off to the

[2022-01-19 10:17] LisaFC commented on #845
Yes, looks like we'd need to update if we wanted to use v3. @alexearnshaw added our Algolia integration but I don't know how free she is to look at it - does anyone else fancy taking a look?

Duplicate of #738

[2022-01-19 10:18] LisaFC commented on #845
Duplicate of #738

[2022-01-19 10:21] LisaFC commented on #843
I don't think it's something that all sites will want to use by default (and a lot of sites would only use numbered headings for ordered procedures), but if you want to add a toggleable version, go for it

[2022-01-19 10:29] chalin commented on #838
Closed by #839

[2022-01-19 10:29] #838 closed

[2022-01-19 10:31] LisaFC commented on #843
Sorry, just noticed you asked if it *could* be toggleable - I think the easiest thing to do would be to show users how to add the relevant styles for numbered headings to their `_styles_project.scss`?

[2022-01-19 10:40] LisaFC commented on #834
@geriom can you see any problems there (other than the module update related issues)?

[2022-01-19 10:47] at055612 commented on #843
No problem.  It is a bit of an opinionated change and not everyone's cup of tea.

For anyone that finds this issue and wants to know how then this is what you need to add to `assets/scss/_styles_project.scss`.
This was adapted from https://codingnconcepts.com/hugo/auto-number-headings-hugo/

[code]

To get the headings to work in the print view you need to override one of the docsy partials with y

[2022-01-19 10:47] chalin opened #847 "Tag as 0.1.0 the last commit before module support was introduced"
The commit to tag is 03eede2c51f62cd98e0bdf161d5a0ce24d83a5a3.

Any objections @LisaFC @emckean @deining?

This implies that module support will be in v0.2.0 (or later).

[2022-01-19 10:47] #843 closed

[2022-01-19 10:48] chalin opened #848 "Ensure a smooth transition for existing docsy-as-submodule users"
To give some initial context (excerpt from https://github.com/google/docsy/discussions/535#discussioncomment-1986956):

[2022-01-19 10:48] chalin opened #849 "Docsy as a Hugo module"
@deining et all, let's use this issue to track tasks that are needed to support use of Docsy as a Hugo module.

- [x] #871
  - [x] test with git as submodule (smooth transition for existing users) - #848
  - [x] test with docsy as hugo module
- [x] https://github.com/google/docsy-example/pull/162
- [x] #802
- [x] https://github.com/google/docsy-example/pull/164
- [x] https://github.com/google/docs

[2022-01-19 10:57] chalin commented on #848
I've actually now tried to migrate one of our sites, while seeking to continue using docsy via a submodule. As @deining mentions, the following command helps ensure that I can build locally by creating some empty directories:

[code]

By default, git won't commit (and in any case will prune) empty directories. So, the above solution **breaks my remote builds** (unless I include that command as par

[2022-01-19 11:09] chalin commented on #846
Users will soon have a couple more options when it comes to using Docsy. I'd vote to keep things [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) and only document usage scenarios (and migration instructions!) in the UG.

[2022-01-19 11:19] deining commented on #848
O.k. Then we have to expand our adaption routine a bit:

[code]

Does this solve your problem?

[2022-01-19 11:23] chalin commented on #848
Yes, it would likely solve the problem, but is starting to feel a little hackish. Earlier you wrote:

Would you mind sharing what this seamless update path would be?

[2022-01-19 12:59] deining commented on #848
Yes, I agree that this is not ideal.

This is the idea:

Currently the project pulls in docsy which pulls in transitive dependencies `bootstrap` and `font-awesome`.

Depedendency graph is like:

[code]

Dependencies are declared in `config.toml` as module, but these modules can be resolved only in module context, not in submodule context (by creating folder structure via my adaption routine, they

[2022-01-19 14:11] chalin commented on #848
Firstly, I'd suggest that we leave dependencies the way they are (that is, not suggest that projects pull up docsy subdependencies to the top level).

As you might know, Hugo supports multiple config files as well as config directories -- for details, see [Configure Hugo](https://gohugo.io/getting-started/configuration/). That, in my opinion, might offer a better solution. I'd move the `module` co

[2022-01-19 14:12] chalin opened #850 "User-guide build: revert changes so that it uses the docsy as a submodule"
This will ensure that we have at least one test case in support of using docsy as a submodule. This is in support of testing for #848.

For context, the UG build was changed in #801.

/cc @deining

[2022-01-19 14:13] chalin commented on #850
We might be able to setup the site test to build the user guide using both the submodule and the module versions of docsy, but I won't have the time to explore that today.

[2022-01-19 16:21] deining commented on #834
The error message is:

[code]

So that seem identical to what @nathlaroche reported [here](https://github.com/google/docsy/discussions/535#discussioncomment-1993300). We can't apply the workaround proposed by her since in this case we are dealing with an automated build.

[2022-01-19 17:31] LisaFC commented on #847
No objections here.

[2022-01-19 17:43] deining commented on #848
I know. I myself [proposed](https://github.com/google/docsy/pull/491#issue-840685784) to use them inside the docsy theme, this proposal was declined.

It certainly is.

**config directories**:

Yes, I thought of this already. As stated in this [forum thread](https://discourse.gohugo.io/t/hugo-theme-module-with-nested-module/28199/6), this doesn't work, however:

[code]

**Multiple config files**.

[2022-01-19 19:13] emckean commented on #847
fine by me! :)

On Wed, Jan 19, 2022 at 9:32 AM LisaFC ***@***.***> wrote:

--
Erin McKean | Docs Advocacy Program Manager, Open Source Programs Office |
***@***.*** | she/her

[2022-01-19 22:21] emckean commented on #846
Hmmm ... a lot of our links right now link to this repo, but the links are geared towards users, not contributors. What about keeping the Prereqs, then merging Example/Usage/Documentation into a How To Use and/or Quick Start (which would be useful for contributors as well) and then a strong push towards the expanded documentation?

Then the rest of the README can be contributor-focused. Thoughts?

[2022-01-20 00:22] deining commented on #848
I found it out meanwhile: As of version [0.84](https://gohugo.io/news/0.84.0-relnotes/#themes-now-support-the-config-directory) the use of the `config` directory inside themes is supported. This is the minimum version when using docsy theme as hugo module. Using docsy as submodule might work with earlier versions, too, which is good since the majority of sites will still run docsy as submodule.

[2022-01-20 01:02] juandiegopalomino opened #853 "Page TOC not showing up"
I'm trying to use docsy for my project's documentation, but the right-hand side menu is not appearing (the one with the table of contents and "Edit this page" etc...). This looks very ugly and I don't know why it's not working.
<img width="1792" alt="Screen Shot 2022-01-19 at 5 01 16 PM" src="https://user-images.githubusercontent.com/10430635/150243315-7424d0d3-1e1d-46a2-a795-5ff4c5899160.png">

[2022-01-20 05:58] narrenfrei commented on #853
If I remember correctly without a computer to check, the Repository links have to be enabled or the content of the page must have enough headlines, otherwise there is no right sidebar built.

So try to set more headlines in your content markdown file or/and check if the repository links are enabled.

[2022-01-20 08:15] SamFlexicAgency opened #854 "Issue connecting to hugo server."
when using the command to open the localhost, I keep getting this error: Error: module "github.com/FortAwesome/Font-Awesome" not found; either add it as a Hugo Module or store it in "/desktop/clearmatics/docsy-theme/themes".: module does not exist.
What is the best way to get around this?

[2022-01-20 10:41] deining commented on #854
This is most likely related to #848. I'm just at the moment preparing #852, which will resolve this issue.

[2022-01-20 15:54] LisaFC commented on #853
That is very weird. Agree with @narrenfrei, can you check that you're using regular Markdown/HTML headers for your section titles, as that's what the right nav is built from.

[2022-01-20 16:49] chalin commented on #847
FYI, I created the tag through the GitHub web i/f.

Closed by https://github.com/google/docsy/releases/tag/v0.1.0.

[2022-01-20 16:58] chalin commented on #818
This is only when Prism is used, correct?

I've been able to fix this in other projects by adding [`user-select: none`][us] to the prompt class(es). Might you be willing to give that a try?

[us]: https://developer.mozilla.org/en-US/docs/Web/CSS/user-select

[2022-01-21 05:58] deining opened #856 "Inconsistent and vague docu on minimum required hugo version"
I just skimmed through our sites, looking for minimum required hugo version. That's what I found:

`README.md`, section [prerequisites](https://github.com/google/docsy/#prerequisites): we recommend version 0.53 or later
[`theme.toml`](https://github.com/google/docsy/blob/master/theme.toml): min_version = 0.53

- Userguide:
  - section [deployment](https://www.docsy.dev/docs/deployment/): Specify H

[2022-01-21 10:57] chalin commented on #856
Thanks for the detailed analysis. We should definitely clean that up.

Given the limited development resources that Docsy has, I'd suggest that we **_officially_** support **only** the release of Hugo specified in `package.json` (which we'll be keeping up to date):

[Go gRPC](https://grpc.io/docs/languages/go/quickstart/#prerequisites), does something similar but with a version window of three:

T

[2022-01-21 11:47] at055612 opened #857 "Consider hiding the breadcrumb at the top level and changing its postion"
When you are at the top level of a section the breadcrumb shows a single link like so

![image](https://user-images.githubusercontent.com/22818309/150518960-f29511e2-f599-4ae7-9c58-a2dffbe862cc.png)![image](https://user-images.githubusercontent.com/22818309/150519886-7557728d-9efd-4189-98d0-7f97120b414b.png)

which looks a little odd as it is not obvious that is is a breadcrumb.  With >1 item it i

[2022-01-21 11:58] chalin commented on #857
You can hide single-element breadcrumbs using custom styling as mentioned in #786, that is:

[code]

FYI, There's already an issue open to ensure that that get's documented (#810).

[2022-01-21 12:00] chalin commented on #857
As for the relative order of the breadcrumbs & banner, that's ... subjective, as you put it :). I prefer the current design in that respect.

[2022-01-21 12:02] deining commented on #856
You are addressing the issue of the **_officially_ supported** version, while I was talking about **minimum required** version. Both are different concepts, IMHO, in that sense:

- **_officially_ supported** version: this is the only supported version, if you use any other version and run into trouble, you are at your own.

- **minimum _required_** version: we know for sure, that docsy breaks with

[2022-01-21 12:51] chalin commented on #848
@deining - I find interesting the solution you've proposed in https://github.com/google/docsy/pull/852#issuecomment-1018307394. Here are my thoughts ...

Given that the use of docsy as a Hugo module hasn't been fully vetted nor (in my opinion) sufficiently field tested, I believe that it is premature to force users (by breaking their builds) to choose between a solution that they're already conten

[2022-01-21 12:57] huehnerlady commented on #848
@chalin to me as a user of docsy that sounds like a good option. I use dependabot for the docsy theme as a submodule and currently all the updates of the theme are red as so far I could not find a good solution in how to make the current master work. my thought about that is to disable the update from dependabot for now and at some point update docsy again manually.

I would be super happy if the

[2022-01-21 13:10] chalin commented on #856
Right, I understand your concern, but any concept that the docsy team documents has a maintenance cost. If we document a min version of Hugo, we need to validate that claim and maintain it over time. IMHO, we have other more pressing concerns & features to spend our time on.

With Google's engineering budget for gRPC-Go their min version is only two steps away from the latest release of Go. With o

[2022-01-21 14:48] LisaFC commented on #856
@emckean, @geriom, what do you think?

I do think "minimum required" is potentially useful information, otherwise we're essentially telling all users to upgrade/downgrade to the same version of Hugo or unspecified wrongness could happen ranging from "this one small feature won't work" to "your site will not build". I don't know how onerous most users will find upgrading, or how much work it would

[2022-01-21 15:07] at055612 commented on #857
Thanks for the `.td-breadcrumbs__single` tip.  Understand you position about the banner/breadcrumb order.  Happy to close.

[2022-01-21 15:09] h1z3y3 commented on #848
@huehnerlady  +1
I'm waiting for the official document about using docsy in module.

[2022-01-21 15:14] chalin opened #858 "Fix the build for docsy-as-submodule"
_Originally posted by @LisaFC in https://github.com/google/docsy/discussions/535#discussioncomment-1963785_:

Based on the above comment, I believe that it wasn't @LisaFC's intention to merge #801 and introduce such a **serious breaking change**: #801 **broke the builds of most users**.

I believe that our first order of business is to (at least partially) **revert #801 so that all users can conti

[2022-01-21 15:34] LisaFC commented on #858
Yes, it might be a good idea to either revert or (if it's nearly ready) #852 looks like it might be a way to fix things for everyone while still including the modules option (ie do what we thought #801 would do) - though it would need to have the submodule config as the default rather than one of two "equal options" to not break people's continuous deployment.

[2022-01-21 15:48] chalin commented on #858
That works for me!

(We'll still need to refer the UG so that it builds from the local repo -- not a Hugo module.)

[2022-01-21 17:56] deining commented on #858
It wasn't my intention either, and I wasn't aware of the fact that it **would** break builds. Anyway, that's history now, let's look forwards.

I think finalizing #852 is the way to go, I just presented a [further idea](https://github.com/google/docsy/pull/852#issuecomment-1018728448) how to make it work in the desired way. Due to other private and job-related oblgaions, I couldn't work on this du

[2022-01-21 18:10] deining commented on #848
I see the point, but I'm not fully convinced yet, since this renaming removes the notion that this a a `config` dir.

What about `config-docsy-hugo-module` and `config-docsy-git-submodule`? That's more precise, but having to type `hugo serve --configDir config-docsy-git-submodule` is a kind of a hassle. I chose short directory names for a reason!

Feedback/opinions are appreciated here!

[2022-01-21 18:24] chalin commented on #858
Yes, of course, I believe you.

Great! Thanks for moving this forward.

[2022-01-21 18:31] deining commented on #858
Another idea came to my mind: what about reverting #801, then adding a new directory `hugo-module`, recreating all folders from  root level (except for `userguide`) and then turn this subfolder `hugo-module` into a module. Inside this folder, I could create my own custom `config.toml`without getting in conflict with the `config.toml` at site root. I'm not sure this does work, but it could. Then us

[2022-01-21 18:52] kneyugn commented on #858
Hello! We have migrated, have users that will be affected. Keeping the current state or reverting to the original would be ideal.

[2022-01-21 21:41] emckean commented on #856
I like 'officially supported' and, if we have time as we build out the tests, we can see which Hugo versions 'work' and make that info available?

[2022-01-22 16:22] deining opened #861 "Userguide: set and display current version, versioning"
Browsing the user guide sources, I just realized that the version parameter inside `config.toml` of the userguide is not set:

[code]

Since we no do have our first version `0.1.0` in place, I suggest we set this version number when releasing future versions. I think a release checklist would be helpful, one item to be checked should be increment of the version number so that this is not forgotten

[2022-01-22 16:22] #850 closed

[2022-01-22 16:30] chalin commented on #858
Done via #860. As I mention there, apologies to all for the churn. We'll get this working, hopefully soon!

[2022-01-24 10:54] LisaFC commented on #861
So there are a few Docsy sites that keep old versions published, eg https://kubernetes.io/ - in that case they just keep a static snapshot of the site up rather than eg deploying it from a repo branch, and the archived docs are not maintained. I think we could do that if we wanted - thoughts? Though we're unlikely to have as many per-version changes as K8s, so I'm not sure how useful it is to have

[2022-01-25 10:13] iamrajiv commented on #818
Yeah sure @chalin. Can you send me the link to the project where you have fixed this issue? also, what does prompt class(es) mean?

[2022-01-26 17:13] chalin commented on #818
This was fixed in the Flutter website. For example, see the code blocks on this page: https://docs.flutter.dev/get-started/install/macos#get-sdk

I mean the CSS classes uses to style prompts in code blocks, such as the `gp` class in the case of the Flutter pages:

[code]

[2022-01-26 18:23] chalin commented on #861
I'd vote to post only the current version, and direct folks to other services for older docs like https://web.archive.org.

Adding version info, or even the id of the last commit to the footer is really useful IMHO.

[2022-01-26 18:26] chalin commented on #818
For the record, the folks at Stripe use CSS `:before` to insert prompts. For example, see https://stripe.com/docs/api/authentication:

That probably works best when there's a single command though.

[2022-01-28 12:23] andreaslongo commented on #761
Asciidoctor has good support for diagrams with the `asciidoctor-diagram` plugin.
As a workaround, you could let Asciidoctor handle the diagrams instead of Docsy.

Have a look at my example repository to get an idea of how this works:

- https://github.com/andreaslongo/asciidoctor-diagram-hugo-docsy

TLDR: You need a working [Asciidoctor Diagram](https://docs.asciidoctor.org/diagram-extension/lates

[2022-01-28 16:05] at055612 commented on #818
Prism has a command-line plugin https://prismjs.com/plugins/command-line/ that adds a prompt for you which is not user selectable.  You just need to build a new pair of `prism.{css,js}` files with the command-line plugin added in, as described [here](https://www.docsy.dev/docs/adding-content/lookandfeel/#code-highlighting-with-prism)

I have made my own shortcode for it like so
[code]

e.g. in you

[2022-01-28 21:04] adrianovieira commented on #761
Hi, @andreaslongo !
thx

We are documenting systems using Asciidoc format for some time now, and publishing then on intranet sites using Hugo+Docsy.
I did it my way for a demo site as you all could notice the results in this link https://adrianovieira.gitlab.io/plantuml-demo

The trouble is that _Hugo+Docsy_ is working in a different standard (`[source, plantuml]`) when compared to _Asciidoctor_ s

[2022-01-31 15:54] geriom commented on #834
So this error was related to the Docsy-as-a-module changes. Is this working correctly now?

[2022-01-31 17:39] chalin opened #870 "Use NPM packages for Bootstrap and Font Awesome"
As discussed during the 2022-01-31 PSC meeting, we'l be exploring whether we can eliminate the git submodules to Bootstrap and  Font Awesome. @geriom has done this for another project. We believe the use of submodules is historical, and docsy use would be simplified if we switched to using NPM packages -- which we're already doing to get Hugo.

[2022-02-01 08:18] hugonijmek opened #872 "Font Awesome static files seem 3 years old?"
Good day to whoever reads this. I was trying to load the fab fa-discord icon from Font Awesome. However I was greeted with the old discord logo. I checked which logo they supplied and since the latest version it should be the new logo. So to be sure I updated the font awesome sub module but still got the old discord logo showing up. So I dug a bit deeper and at the moment I’m thinking it’s caused

[2022-02-01 15:30] at055612 opened #873 "Support deployment to environments with no internet access"
The documentation site I am developing with _docsy_ needs to support deployment into some environments that have no internet access.  Currently docsy pulls in various js libs and fonts from cdns.  It would be good if docsy could be changed to make the use of the cdn based libs optional instead getting them from `/static/js/`.  The use of the cdns would be the default.

I have made the following ch

[2022-02-01 15:42] at055612 commented on #861
Adding `params.version` and the commit to the footer would be really useful.  The site wide commit date would also be useful in the footer, as distinct from the commit date on each page.

[2022-02-01 19:13] eljessi opened #874 "Docker Quickstart"
Test!

[2022-02-02 16:01] chalin commented on #856
The decision made at the 2022/01/31 PSC meeting was to pull any mention of a minimum Hugo version from the docs. Of course, we'll support and encourage the community's best-effort input on what it believes the currently usable min Hugo version might be. (Note that some PSC members have followup action items related to this.) Does that sound about right @LisaFC @emckean @geriom?

[2022-02-02 17:29] LisaFC commented on #872
Huh, that's strange - I didn't set up the original FontAwesome integration so I'm not sure why that static directory is there. Let me investigate.

[2022-02-02 19:47] deining commented on #858
We now have #871 in place. Within is PR docsy is used as submodule. [Preview](https://deploy-preview-871--docsydocs.netlify.app/) on Netlify is fine.

With this PR, the current name of the module was kept: `github.com/google/docsy`.
What needs to be done: you have to add in a second module/theme, which pulls in a workaround for a bug in Go's module management + the dependencies `bootstrap` and `Fo

[2022-02-02 19:53] deining commented on #848
I took a bit longer than expected, but now we have #871 in place which ensures a smooth transition for users that use docsy traditionally (as git submodule).

[2022-02-02 19:59] chalin commented on #858
Thanks @deining, I'll have a look at #871 shortly.

Closing this issue now. It was closed by #860.

[2022-02-02 19:59] #858 closed

[2022-02-02 20:10] chalin commented on #849
@deining, you mention that this feature is ready on the [feature-hugo-module](https://github.com/google/docsy/tree/feature-hugo-module) branch. I'd like for our users (myself included) to test use of docsy from that branch. I'll test it out for projects using submodules, can someone else test it out via Hugo Modules?

[2022-02-02 21:16] chalin commented on #849
Ok, I've tested the [feature-hugo-module](https://github.com/google/docsy/tree/feature-hugo-module) branch on a project using docsy via submodules and I'm glad to confirm that nothing broke! 🎉

[2022-02-03 15:03] LisaFC commented on #870
Would it make sense to see how we get on with the Hugo modules initiative before prioritizing implementing this - it seems if the modules approach takes off we may not need it (I'm not sure how many people absolutely won't be able to use or migrate to modules). Unless it's absolutely trivial, of course.

We use npm for our own user guide Netlify build, but it's not actually our recommended procedu

[2022-02-03 15:57] chalin commented on #870
Use of **Hugo modules requires use of Go**. I don't want to force all of our docsy-dependent projects to use Go. For those projects, I also want the option to **continue using docsy via a git submodule** -- because that is part of our **workflow** for many projects.

We confirmed during the PSC meeting that docsy doesn't _need_ BS and FA to be included via submodules. Submodules are a **historical

[2022-02-03 16:35] deining opened #877 "Go- and gitless installation of docsy theme"
Currently, we are in the process of adding the option to use docsy as Hugo module (#871).
Not all all existing installation will immediately switch over to hugo modules, though git submodules are outdated and we want to get rid of them (#870). One concern is that when using hugo modules, `go` must be installed. While this is true for anyone who wants to do development with modules, `go` is **not**

[2022-02-03 16:54] deining commented on #870
No, that's not true. I just authored #877: follow the instructions given there and you will see that you can easily come up with a skeleton hugo site using docsy as module **without** go and even **without** git.

I fully agree.

What we could do: for each release of Docsy, we could offer not only docsy itself as .zip download, but also the required dependencies. This way, users that don't have to

[2022-02-03 18:54] chalin commented on #870
All: btw, I'm totally ok if the Hugo-modules feature lands before this issue is resolved.

@deining : thanks for correcting my mis-statement -- I'll rephrase my thoughts more carefully when I next have the time, since I'd like to offer a clarification. Quickly though, regarding your proposal: I like the .zip idea, but the projects I'm currently working on require use of docsy via git (with conveni

[2022-02-03 20:05] SeanKnight opened #878 "Missing opening LI tag"
https://github.com/google/docsy/blob/7c865d0a2e0a7011dd92216e8c4013a1c37ffd7e/layouts/partials/pager.html#L5

[2022-02-03 20:12] SeanKnight commented on #878
If #208 adds pager to the docs section it'll need the opening tag too.

[2022-02-04 13:33] deining opened #879 "Fix warning on bg-gradient-variant mixin: revert #877"
With the change of #877 in place, when running ´hugo serve` (e.g. with the user guide) I now see a lot of warning messages like

[code]

The same issue was reported in #327 and fixed with #328 one and a half year go. With #877, we are reverting this fix. That doesn't make sense to me.

[2022-02-04 13:41] deining opened #880 "Restore latest bootstrap version v4.6.1"
With #800, submodule bootstrap was set back to `v4.6.0`, while we were at latest current version `v4.6.1` already. As stated in this [comment](https://github.com/google/docsy/pull/800#issuecomment-1026657509) this change was done inadvertently, so we should restore latest version `v4.6.1` of bootstrap.

[2022-02-04 17:42] brunoamaral opened #881 "broken link on swagger ui"
I'm seeing a broken to the json file when using the swaggerui shortcode.

The page has this content:
[code]

It renders fine, but under the title it shows this:

![image](https://user-images.githubusercontent.com/543344/152576743-11a40c8f-7bc5-477a-9168-bcf978a57fa1.png)

[code]

Is this under docsy's scope or is it a bug with swaggerUi ?

I tried to look at the code but didn't find any hint of wh

[2022-02-04 17:49] Madril commented on #881
Happens the same with me.

[2022-02-04 21:01] laszewsk commented on #451
On ubuntu 20.04 you also need to update

nodejs, i used v 16.x as v 10.x did not work for me

cd ~
curl -sL https://deb.nodesource.com/setup_16.x | sudo bash -
sudo apt -y install nodejs
node -v

the i did in the hugo dir

npm install -D autoprefixer
npm install -D postcss-cli
npm install -D postcss

[2022-02-07 14:39] dholbach commented on #38
This is essentially done now through https://www.docsy.dev/docs/adding-content/taxonomy/

What's not as easy is to have this show up only for your blog section.

[2022-02-07 17:15] LisaFC commented on #881
Might be a problem with SwaggerUI as I don't remember there being any problems with the integration with Docsy before, but let me look into it. @theletterf if you're around do you want to take a look too?

[2022-02-07 17:20] theletterf commented on #881
Does `swaggerExample.json` exist in your local repo?

(I think we haven't been clear enough about `swaggerExample.json` being a sample filename.)

[2022-02-07 17:22] theletterf commented on #881
OK, I get it now. That's the intended behavior in Swagger UI. See https://petstore.swagger.io/ for example. The URL to the specs appear beneath the title.

[2022-02-08 09:30] ayaco-zg opened #882 "How can I give a class to a table?"
I want to give a class to a table.
I know it's given by writing "{.classX.classY}" in the next row of the table written in markdown, but it renders like this:

markdown:
[code]
result html:
[code]
expected html:
[code]

I set "markup.goldmark.parser.attribute.block=true" in config by referring to [Hugo document](https://gohugo.io/getting-started/configuration-markup#goldmark).
In addition, [Beauti

[2022-02-08 10:46] ayaco-zg commented on #882
sorry!
It was due to my typo! !!
I intended to enter "{.classX .classY}", but it was "{.classX classY}". After correcting this, it rendered as expected.

[2022-02-08 10:46] #882 closed

[2022-02-08 15:21] chipzoller opened #883 "Markdown table rendering doesn't occur inside folding summary"
Probably not using the right terms, but if you nest a Markdown table inside a folding/summary block, the table doesn't get rendered. Searched and didn't see an issue (open or closed) which references this. Also on an older version of Docsy so maybe this has already been addressed. Here's what this looks like when you compare a rendered table to a non-rendered table inside one of these folding/summ

[2022-02-09 08:45] theletterf commented on #881
Going to try this on my machine and will let you know.

[2022-02-09 09:08] theletterf commented on #881
I've tested this using https://github.com/google/docsy-example and a sample PetStore OpenAPI 3.0 file from SwaggerHub.

- I've placed the file under `content/en/`
- I've used your code in ``content/en/docs/Examples/_index.md`
- The `config.toml` file has `baseURL` set to `/`

The `swaggerui` shortcode uses `relURL` to fetch the file: https://github.com/google/docsy/blob/master/layouts/shortcodes/s

[2022-02-09 11:39] LisaFC commented on #883
Can you paste in the source and hopefully I can see what's going on? Markdown + CSS has many weirdnesses, it may just need some more specific styling provided.

[2022-02-09 12:57] chipzoller commented on #883
Hi there, @LisaFC . Sure. First table is just in a "clean" Markdown seaction:

[code]

Second one is inside a folding block (I really don't know the correct terminology here):

[code]

</p>
</details>
[code]

[2022-02-09 13:07] chipzoller commented on #883
And here's the live site where you can see how this is rendering yourself:  https://kyverno.io/docs/writing-policies/jmespath/

[2022-02-10 18:39] LisaFC commented on #883
Right, as I suspected, it's a CSS thing - a table inside a division doesn't get the default table styling from our stylesheets applied to it. Let me see if I can tweak it so that it formats correctly - is there any situation where you *wouldn't* want a table inside another element to have our default styling?

[2022-02-10 18:45] chipzoller commented on #883
Not that I can think of.

[2022-02-10 20:33] chalin commented on #880
Thanks for noticing and filing an issue @deining.

[2022-02-10 20:39] #880 closed

[2022-02-12 16:23] davidhankinson commented on #874
I get the following when running docker build:

site_1  | Start building sites …
site_1  | hugo v0.92.1-85E2E862 linux/amd64 BuildDate=2022-01-27T11:44:41Z VendorInfo=gohugoio
site_1  | Error: Error building site: "/src/content/en/_index.html:7:1": failed to extract shortcode: template for shortcode "blocks/cover" not found
site_1  | Built in 23 ms
tech-blog_site_1 exited with code 255

[2022-02-12 16:48] davidhankinson commented on #874
hello,
I get the following issue when running docker up --build

Attaching to tech-blog_site_1
site_1  | Start building sites …
site_1  | hugo v0.92.1-85E2E862+extended linux/amd64 BuildDate=2022-01-28T06:12:53z VendorInfo=hugoguru
site_1  | Built in 339 ms
site_1  | Error: Error building site: "/src/content/no/_index.html:7:1": failed to extract shortcode: template for shortcode "blocks/cover" no

[2022-02-12 17:05] davidhankinson commented on #874
Attempted to fix with:

git submodule update --init --recursive

but there's no .git folder

[code]

[2022-02-13 12:59] leoplct opened #888 "How to remove categories from sidebar ?"
How to remove those categories in the sidebar but keep the structure on the right-side?

I haven't found anything about in https://www.docsy.dev/docs/adding-content/navigation/

![Screenshot 2022-02-13 at 13 58 48](https://user-images.githubusercontent.com/1176145/153754271-37ae26bf-c5c0-4b46-8152-c6e920accac6.png)

[2022-02-13 13:52] deining commented on #888
To get rid of this section, remove or comment out this line in the base layout for `docs`:

https://github.com/google/docsy/blob/5958d944d2d308b24123cb8b3c85d40ab20aa369/layouts/docs/baseof.html#L19

In order to keep this change when upgrading your theme, you are advised to copy this file `baseof.html` over to the `layouts` folder in your site root:

[code]

and remove line 19 in the copied file.

[2022-02-13 14:14] leoplct commented on #888
Would be cool to have a boolean variable in config.toml so will be easier to upgrade without copy-paste the layouts again.

[2022-02-13 14:23] narrenfrei commented on #888
There are already options to control the output:

https://www.docsy.dev/docs/adding-content/taxonomy/#parameters

[2022-02-13 14:26] leoplct commented on #888
I had already those options in config.toml but it was still showing until I've removed the line from baseof.html
[code]

[2022-02-14 17:18] at055612 opened #890 "Sidebar tree sorting by date if there is no `weight`"
If all the pages/sections in a section have no `weight` set then the sidebar tree appears to show them in date modified order as this is the default page sorting for Hugo.  The sidebar tree (and the list page) will show items in this order:

1. Items with a weight >0, sorted by weight ASC
2. Items with no weight, sorted by date DESC then LinkTitle ASC then filePath ASC

I think (for the _docs_ par

[2022-02-14 19:08] leoplct opened #891 "How to use the /docs as homepage?"
Currently my documentation is at /docs but I want to have it as a landing page at /.
I have tried to move the entire /docs folder to / but I see a blank page with a top nav bar.

This is the content/_index.md
[code]

[2022-02-14 19:10] gwatts commented on #891
I had the same question some time back and created a "mostly docs" example/template repo that should help you out, I think: https://github.com/gwatts/mostlydocs

[2022-02-14 21:12] leoplct commented on #891
Thank you. I was still having some issue but I solved adding this:

**netlify.toml**

[code]

[2022-02-14 21:12] #891 closed

[2022-02-15 03:26] Inrmanish commented on #888
@leoplct see my pull req,
gd or not

[2022-02-16 19:58] chalin commented on #831
Possibly consider using https://keepachangelog.com.

[2022-02-18 09:32] narrenfrei commented on #888
Already found the problem. I'm working on a bugfix.

[2022-02-18 14:34] narrenfrei commented on #888
Should be solved by PR #895

I had to switch from @narrenfrei  to @raum51, which is my new github username.

[2022-02-18 16:27] chalin opened #897 "Config: clean up language settings"
- Drop settings that are unnecessarily explicitly setting a parameter to an already default value
- Drop `contentDir` in favor of using mounts.

[2022-02-18 20:02] TianCal commented on #805
I had the same problem on Windows. I followed #451 final solution but got
`Error: "C:\Users\l\hugo_sites\docsy-example\config.toml:1:1": unmarshal failed: toml: invalid character at start of key: ÿ `
while `hugo serve`

[2022-02-18 20:10] TianCal commented on #805
I succeeded by manully uncommenting github_branch instead of using sed command. Hope that helps

[2022-02-20 20:23] gbvitrano opened #899 "Join tra du file con Visidata"
Buonasera :-)
Ho due file con una con la colonna **Nazione** in comune, vorrei fare una join con visidata, ma non ci riesco, mi perdo quando devo creare la colonna chiave nei due file.

Ho già fatto il join con QGIS e Google sheet, ma vorrei imparare a farlo con Visidata
prova con QGIS
![qgis_join](https://user-images.githubusercontent.com/20488693/154862483-020e6664-bde5-4e00-a3fd-606dd23f9eb1.pn

[2022-02-20 20:42] #899 closed

[2022-02-20 22:09] deining opened #900 "Repo HEAD: deploy on netlify fails"
As can be seen [here](https://app.netlify.com/sites/docsydocs/deploys), last 4 netlify deploys of the user guide failed:

Branch `master`:

438b56d702e57bffa7626e5ea739f377b6837469: deploy fails
eb4fcb062ac6f344d80169791d4593ffc4c6f615: last successful deploy

[2022-02-20 22:19] deining opened #901 "Latest netlify deploy has new warning message "calling IsSet with unsupported type""
With latest commit 66818eb0905c014f342432c5fc918fc4b1c04b57 in place, I now see a warning when serving the user guide.

[code]

This warning can be seen also in the [netlify log](https://app.netlify.com/sites/docsydocs/deploys/620ff2f447456d000765ce21) for this commit (line 95).

@raum51: is this warning related to the changes you submitted with #895?

[2022-02-21 07:14] raum51 commented on #901
I'm afraid, that its related to my changes from #895, because I've build in isset on 2 places. Sorry.
On my test system there was no problems.

I'll take a look.

[2022-02-21 07:22] raum51 commented on #901
But the issue with isset rises only a warning and in the next line of the log it shows an error:

8:27:53 PM: Error: Error building site: POSTCSS: failed to transform "scss/main.css" (text/css). Check your PostCSS installation; install with "npm install postcss-cli". See https://gohugo.io/hugo-pipes/postcss/: this feature is not available in your current Hugo version, see https://goo.gl/YMrWcn for

[2022-02-21 10:00] deining commented on #901
These are 2 different, unrelated issues:

- a warning, which doesn't prevent successful deploy of the user guide. We should get rid of this warning, though.
- a failure, adressed in #900.

For me, these are separate, independent issues, that's why a raised two separate issues (#900 / #901).
Thanks for investigating the warning message adressed with this ticket.

[2022-02-21 21:17] #897 closed

[2022-02-21 22:14] chalin opened #903 "Hugo warning since #895 was merged: calling IsSet with unsupported type will always return false"
As you can see from the [Netlify log of #895](https://app.netlify.com/sites/docsydocs/deploys/620ff193bbab240008b412b6#L97), the following warning is now issued as part of the build:

@raum51, can you investigate and fix this? Thanks. /cc @LisaFC

[2022-02-22 02:59] jcrd commented on #342
I think this issue can be closed as it was addressed in PR #518.

[2022-02-22 12:31] chalin commented on #903
Oops, dup of #901.

[2022-02-22 12:31] #903 closed

[2022-02-22 12:33] chalin commented on #900
Yes, my bad! Fixed by #902.

[2022-02-22 12:33] #900 closed

[2022-02-22 12:34] chalin commented on #901
The build failure was my bad, and has been fixed. Thanks for reporting those @deining.

[2022-02-22 12:43] raum51 commented on #901
Thanks @chalin for the info.

So also the warning caused by my PR #895 is solved or do I have to check it?

[2022-02-22 12:50] chalin commented on #901
The warning is still there, for example, see the [latest production log](https://app.netlify.com/sites/docsydocs/deploys/62140dcbd44e830008db6061#L119).

[2022-02-22 12:54] raum51 commented on #901
OK, I'll take a look after official work ;-)

[2022-02-22 14:22] #870 closed

[2022-02-22 14:24] raum51 commented on #901
I think, I know why you get the warning. But I can't figure out, why I DON'T get the warning on my system. Hugo is building the site without any warning. I'm using hugo v0.92.2+extended darwin/amd64 on a MAC.

Have anyone an explanation for that?

[2022-02-22 14:34] chalin commented on #901
I'm using the same version of Hugo under macOS. Which command are you using to build?

[2022-02-22 14:42] raum51 commented on #901
OK, I've found it. Was my fault: haven't build the userguide but my own site with dev content.

[2022-02-22 14:57] chalin commented on #870
Here is an example of a project that has moved to using docsy as a submodule with BS+FA fetched as NPM packages: https://github.com/open-telemetry/opentelemetry.io/pull/1164/files.

You can see from the build log that I cleared the cache: https://app.netlify.com/sites/opentelemetry/deploys/6214f7f74484ecf88101d7b3. The site builds just as it did before.

I also did a clean build on my local machin

[2022-02-22 16:50] raum51 commented on #901
Oh, there's a long story I'd completely forgotten.

- I've made my PR #895 because of the issue #888: Hiding taxonomy cloud by setting `taxonomyCloud = []` didn't work.
- Hiding didn't work since https://github.com/google/docsy/commit/9759ccdf4326cdcca6a67a0ced184128660acfd2#diff-e6e949b24d2c6cb1724f689ca2adbe3257e4fe1df503d3182ac9a28d3bc719f7
- In #895 I changed it back to the old version, which

[2022-02-22 21:53] #874 closed

[2022-02-24 08:03] deining commented on #342
Expand/collapse fucnctionality can now be enabled for left-side menu.
Closing this ticket.

[2022-02-24 08:03] #342 closed

[2022-02-24 13:03] chalin opened #906 "Use Hugo's native support for processing HTML & markdown, not file extension testing"
_Originally posted by @deining in https://github.com/google/docsy/issues/526#issuecomment-823577659_ :

[code]

Does it make sense to implement this for shortcode `feature` in a similar way?

[2022-02-24 13:10] #527 closed

[2022-02-24 13:15] chalin opened #907 "Clean up invalid HTML"
For reported cases, see

- #526
- #527

But there are more similar instances of these (e.g., invalid use of `<span>`) as a quick regex search can confirm. I'm opening this issue as a reminder to track down similar issues found in other files.

[2022-02-24 13:56] chalin commented on #906
Hey @trombonehero - this issue is a proposal to revert #378, which you submitted a little while back. Might you be willing to give some more details concerning your use case, possibly illustrating why docsy -- prior to #378 -- didn't seem to address your needs? Thanks!

[2022-02-25 16:30] LisaFC commented on #23
Obsolete.

[2022-02-25 16:30] #23 closed

[2022-02-28 13:32] tsubasaxZZZ opened #908 "How to display anchor link in page on left sidebar?"
I would like to display anchor link on left sidebar. Can I is this?

I tried use placeholder page like following:
![image](https://user-images.githubusercontent.com/3822284/155990741-a652b5cf-56c3-4fca-aab2-f20db7ed1ec0.png)

link.md:
[code]
It seemed to worked, but when locate top-page(`http://localhost:1313/docsy/ja/docs/`), didn't work.
Because URL looks like following:
`http://localhost:1313/d

[2022-02-28 15:12] #908 closed

[2022-02-28 16:28] chalin commented on #901
I would not force projects to set a field.

I believe that use of `isset` is enough help you to distinguish between the cases of `taxonomyCloud` being set or not. You just might need a more complex if condition.

[2022-02-28 16:46] raum51 commented on #901
I've already thought about that possibility, but then I have to double the code for FALSE:

[code]

But for me it's OK. I'll prepare the PR.

[2022-03-04 14:37] insa-k commented on #738
Hey!
Is there some news if and when you would be able to update it?

[2022-03-05 12:51] chalin commented on #901
Closed by #909

[2022-03-05 12:51] #901 closed

[2022-03-05 13:24] chalin commented on #765
Done! For the associated discussion, see:

- #913

[2022-03-05 13:24] #765 closed

[2022-03-05 13:28] chalin opened #914 "Branch cleanup"
@deining, can any of the following branches be deleted now that #871 has been merged?

[2022-03-05 15:49] deining opened #917 "Netlify preview for PR is gone after renaming of default branch"
After renaming default branch from `master` to `main`, the preview on netlify for pull requests (+ other checks) is gone (have a look at #915 + #916 for reference). This should be corrected.

[2022-03-05 16:23] deining commented on #914
Yes, all 4 branches are obsolete now and can be deleted. I don't have permission to do so, so @LisaFC could you delete them, pleaseß

[2022-03-05 16:38] deining commented on #888
I tested this, and yes, if I set in my `config.toml`

[code]

the entries `Categories` and `Tags` in the sidebar disappear. So this issue can be closed.

[2022-03-05 16:38] #888 closed

[2022-03-05 16:52] chalin commented on #914
@deining - can you try again? I've updated the branch protection rules (as @LisaFC and I had agreed to out-of-band) to apply to the default branch only.

[2022-03-05 17:15] deining commented on #914
Thanks for your intervention, I could now delete all 4 obsolete branches. Closing this issue now.

[2022-03-05 17:15] #914 closed

[2022-03-07 00:29] Symbolics commented on #845
Just wonder where this is in the priority queue. Algolia isn't updating the search index for the sites after their transition, and new content is no longer being captured.

[2022-03-07 10:10] LisaFC commented on #845
So is it the case that if you move to v3 it stops working, or are earlier versions of Algolia not working either?

[2022-03-07 10:23] Symbolics commented on #845
I haven't moved to v3 yet because the only site I maintain is using Docsy. It appears that if you don't move, then the old version has stopped working.

[2022-03-07 10:24] prdsoftware commented on #845
My understanding is that v2 indexes are no longer be updated, meaning that new content is not searchable, and DOCSY currently doesn't support moving to v3 because of the not supporting the new interface.    This means that Algolia is no longer a viable search option for DOCSY until the v3 interface is supported.

[2022-03-07 11:16] LisaFC commented on #845
Ah right, I thought v2 was still working so it was only urgent if users needed v3 features, if it's entirely broken then yes, we should get it fixed ASAP.

[2022-03-07 16:52] LisaFC commented on #917
Should be working again now.

[2022-03-07 16:52] #917 closed

[2022-03-07 23:49] sawp-d opened #919 "Using Hugo module, File to import not found or unreadable: ../vendor/bootstrap/scss/bootstrap"
Hello!

Very excited that you just released a Hugo module for docsy! I have spun up a simple demo project using the following steps:

1. Create new Hugo project using `hugo new site`
2. Add in module in config.toml:

[code]

3. Ran `hugo mod init -u` then `hugo server -D/--minify` and ran into this error:

[code]

I see that there are related PRs for vendor/bootstrap, but is there anything I can d

[2022-03-08 01:09] deining commented on #919
To set a new site up from scratch, please follow the instructions given [here](https://deploy-preview-802--docsydocs.netlify.app/docs/theme-installation/docsy-as-module/start-from-scratch/).

You wrote:

This is not enough. You have to add `github.com/google/docsy/dependencies` to your config.toml, too. For a proper setup, you have to specify inside your `config.toml`:

[code]

With this in place,

[2022-03-08 17:44] sawp-d commented on #919
Thanks for the quick reply, @deining! Looks like that fixed it, and helpful instructions! Excited to use this theme!

[2022-03-08 17:44] #919 closed

[2022-03-08 19:01] deining commented on #283
Support for using the theme as hugo module was introduced with #871, so this ticket can be closed.

[2022-03-08 19:01] #283 closed

[2022-03-09 01:14] abulka opened #921 "Understanding config params: services.googleAnalytics.id vs. top-level googleAnalytics"
There are two documentation sources on getting Google Analytics working in Hugo/Docsy
- The [Hugo google-analytics documenation](https://gohugo.io/templates/internal/#google-analytics)
- The [Docsy google-analytics documentation](https://www.docsy.dev/docs/adding-content/feedback/)

Its unclear how these two techniques interact. They seem to use different `config.toml` variables and I found that u

[2022-03-09 13:54] honzik20 opened #923 "Color troubles"
Some of the theme colors aren't available to me. I've overriden them in _variables_project.scss but the grays and green, blue and orange just don't appear in my compiled css.

These all work:

[code]

These, for example, don't:

[code]

Any ideas?

[2022-03-09 16:16] honzik20 commented on #923
My bad. Didn't realise the classes to use them have a leading hyphen: "-bg-green"

[2022-03-09 16:16] #923 closed

[2022-03-10 08:37] honzik20 commented on #873
Watching this - I've done something similar in my implementation.

[2022-03-12 08:13] raum51 commented on #890
I agree with your thought about default sorting. Are there any other community opinions if we should change this?

[2022-03-12 08:48] marcelbaumann opened #930 "Improvement Request: Better Support for asciidoc stylesheet to improve quality of website"
Good Day Dear Docsy Developer

I am a great fan of Docsy and used for my sites. I also advocate this approach on the technical university I am working for.

I am using asciidoc to write my Hugo/Docsy documents. For various reasons, I prefer asciidoc over markdown.

Hugo themes (**Docsy** in my case) do not provide a well-documented approach to support asciidoc styling. At the same time, asciidoc i

[2022-03-14 14:49] chalin opened #931 "Add a link to Netlify.com to UG main page, or all internal pages"
As a step towards qualifying for Netlify OSS plan, we need to add a link to Netlify.com to UG main page, or all internal pages.

- For details concerning the Netlify OSS plan, see [Open Source Plan Policy](https://www.netlify.com/legal/open-source-policy)
- For badges, see https://www.netlify.com/press/#badges

[2022-03-14 15:24] chalin opened #933 "Prepare, apply for, and switch to a Netlify OSS plan"
- [x] Ensure that we qualify for the Netlify OSS plan. For details, including qualification criteria, see [Open Source Plan Policy](https://www.netlify.com/legal/open-source-policy). The qualification criteria listed below as subtasks:
  - [x] Includes a license listed on the [Open Source Initiative approved license list](https://opensource.org/licenses) or a [Creative Commons license](https://cre

[2022-03-14 18:41] #931 closed

[2022-03-14 20:09] #930 closed

[2022-03-14 20:24] chalin opened #934 "Release cleanup: drop 0.1.0, and create pre-release 0.2.0-pre"
As decided at 2022-03-14 PSC meeting:

- [x] Delete the v0.1.0 _release_, it was only meant to be a tag, not a release
- [x] Publish a first pre-release of 0.2.0-pre at HEAD
- [x] Delete https://github.com/google/docsy/releases/tag/v0.2.0-pre
- ~Delete https://github.com/google/docsy/releases/tag/dependencies%2Fv0.2.0-pre~ -- see https://github.com/google/docsy/issues/934#issuecomment-1086644507
-

[2022-03-14 20:24] chalin commented on #934
@deining - ok with the creation of an "official" prerelease 0.2.0-pre?

[2022-03-14 20:26] chalin opened #935 "Add a blog for the docsy website"
(We should maybe rename the `userguide` folder to `website` after that.)

Per 2022-03-14 PSC meeting

[2022-03-14 20:45] deining commented on #934
Yes, sure. This tag already exists, and I'm referring to it in #802. Two people, one thought 😄.

[2022-03-14 20:50] chalin commented on #934
@deining - yes, I had noticed the tags that you had created. FYI, we'd like to drop the "v" prefix from release ids right from the start (before the first releases are published). So I'll be creating the release using id `0.2.0-pre` from HEAD (whatever HEAD will be the day that I create it -- some time this week).

[2022-03-14 21:58] deining commented on #934
That's fine for me. Go ahead with this.

I will adjust the links in the preliminary user guide once you are done.

[2022-03-14 23:46] sawp-d commented on #301
Is there any update on this? I just started using Docsy and love it, though I'm a bit unsure how to set a CSP header when it looks like there may be many URIs to use.

[2022-03-15 22:43] HuangXiaoKai opened #936 "Markdown render in the tab shortcode"
I've successfully run hugo with docsy theme in my PC. This is a problem about rendering.

I find that the context in `tab` shortcode
[code]
can not be rendered by markdown renderer here. **Bold** or _italic_ functions doesn't work. Html syntax such as `<a href="url">xxx</a>` is invalid neither.

How can I enable markdown rendering or html syntax in the `tab` container?

Best,
Kai

[2022-03-16 09:38] dholbach commented on #38
Or have separate tag sections, for e.g. `/docs` and `/blog`.

But I guess these should all be individual bug reports?

[2022-03-16 22:11] deining commented on #936
Duplicate, adressed in #550 already. Please see my [comment](https://github.com/google/docsy/issues/550#issuecomment-837296049) given there.

[2022-03-17 21:08] kiransk9 commented on #311
@LisaFC I am new to hugo and I am trying to adopt Docsy. But, I may require this functionality .Do you have any update on this request. Thank you.

[2022-03-18 19:33] TianCal commented on #208
Just wonder if this feature is already included, since I can see the code inside the theme repo.

[2022-03-18 19:57] TianCal opened #937 "Pager in docs not appearing"
Although #208 is still open, it seems the code has been added to docsy [here](https://github.com/google/docsy/blob/main/layouts/partials/pager.html). However, the [docsy ](https://example.docsy.dev/docs/) example website is not having the next/previous button in the docs section. I wonder if this is a customized option somewhere in config.toml?

[2022-03-18 20:05] #937 closed

[2022-03-18 20:05] TianCal commented on #937
Just add {{ partial "pager.html" . }} in themes/docsy/layouts/docs/single.html

[2022-03-21 13:57] chalin opened #939 "Shortcodes: drop support for pre-Hugo-0.54.x behavior of `{{% %}}`"
Here is some context:

- #87

While the change introduced by that PR was relevant at the time (during a transition period from Hugo 0.54.x to 0.55+), we now only officially support the latest version of Hugo. So, all shortcodes making use of

[code]

should have that line removed, and the shortcode adjusted, if necessary.

<details><summary>File list</summary>

[code]

</details>

### Tasks

- [x]

[2022-03-21 18:51] chalin commented on #934
@deining - I assume that you'll be creating a corresponding `dependencies` tag?  Once you are done updating the docs PR/notes, could you do the following?

- Delete tag https://github.com/google/docsy/releases/tag/v0.2.0-pre
- Delete tag https://github.com/google/docsy/releases/tag/dependencies%2Fv0.2.0-pre

[2022-03-21 19:13] chalin opened #942 "Curate User Guide menubar: drop icons and GH entry"
From a view with a medium width, this is what the menubar can look like:

It is way too busy IMHO and the wrapping of menu titles (especially since they have icons), looks bad.

Given that we'll be adding a blog soon (#935), I'd propose that free up some menubar real estate by doing the following:

- Drop the GitHub menu. This is redundant since the same link is in the footer.
- Drop the menu icon

[2022-03-22 09:22] snakers4 opened #943 "White Cover Image Become Gray"
Hi,

I am trying customize Docsy by following the standard "happy-path", i.e. just clone the example project and then modify it.

I noticed that if you upload a bright (or white) hero image, it becomes gray, for example:

![image](https://user-images.githubusercontent.com/12515440/159447668-39b6e767-2fbb-40ca-80b6-14f1353c18fa.png)

This is displayed when I have a completely white (i.e. `#ffffff`)

[2022-03-24 23:45] LukeTimeWalker commented on #943
I think this behavior is to prevent the title and heading from becoming "invisible".
If you want to disable this behavior, you can do one of the following options:

* override `/layouts/shortcodes/blocks/cover.html` and remove the `td-overlay--dark` class from the section element
https://github.com/google/docsy/blob/02df04c0f2d495104316ce426948069f9a98bd99/layouts/shortcodes/blocks/cover.html#L27

[2022-03-25 12:18] snakers4 commented on #943
[code]

Many thanks, this works!
Is there any way to make this image not cropped or zoomed, because by default it looks a bit mushy?

[2022-03-27 22:28] chalin commented on #942
Yes, it's in the docs -- see [Adding icons to the top-level menu](https://www.docsy.dev/docs/adding-content/navigation/#adding-icons-to-the-top-level-menu).

👍

Ok, I'll wait for that.

[2022-03-27 22:34] chalin opened #944 "Hide breadcrumb for docs index page"
To do so, add the following to `_styles_project.scss`:

[code]

[2022-03-28 15:09] #942 closed

[2022-03-28 16:12] LisaFC commented on #921
Ah, I think the built-in Hugo version didn't exist when we put the theme together, hence the two ways of setting the same thing.

I think I'd probably mention the Hugo version in the docs rather than the comment, otherwise it's slightly confusing ("why would I want to set another config variable?"), and just say in the docs that we have a simpler way to set up analytics.

[2022-03-28 16:40] #935 closed

[2022-03-28 16:41] chalin opened #947 "Create first blog post"
We discussed a "welcome" / "hello world" type post during the PSC meeting.

[2022-03-28 18:20] chalin commented on #849
Update: we should be wrapping up the docs this week, and getting the next release out soon after that.

[2022-03-28 18:29] chalin opened #948 "Eliminate Bootstrap and Font Awesome git submodules"
- Followup to #870:

Tasks:
- [x] #889
- [x] Also clean out the User Guide package scripts (used to remove BS & FA from `assets/vendor/*` before building) - #1073
- [x] Update the docs & provide migration information - #1074

[2022-03-28 18:46] chalin commented on #948
PR #889 implements this, and you can see that the site builds just fine:

- Build log, see (for example):  https://app.netlify.com/sites/docsydocs/deploys/6242018db28d930008d866b9
- Preview, see https://deploy-preview-889--docsydocs.netlify.app/

[2022-03-28 19:39] chalin opened #949 "Support use of Docsy as an NPM package"
This is a tracking issue for the support of using Docsy as an NPM package. This is already possible

    npm install https://github.com/google/docsy

but it isn't practical until #948 is implemented too. Also, it is **not yet an officially supported** ways of using Docsy -- but I'll bring it up for discussion in 22Q2.

(For more detail concerning the installation options of NPM packages from GitHu

[2022-03-28 20:11] chalin opened #951 "Convert config files to YAML"
Approved by PSC -- see [Convert config files to YAML](https://groups.google.com/g/docsy-psc/c/ZdFEvAWqF_o/m/u1QXM9pmAgAJ).

[2022-03-28 20:18] #848 closed

[2022-03-28 20:26] chalin commented on #836
Can this issue be closed?

@amirootyet, I _think_ that you're hitting the same problem I did. Can you try the solution documented here: https://discourse.gohugo.io/t/content-mount-problem-for-single-language-multilingual-site/37215/8?u=chalin, that is:

- Delete the `contentDir` entry from your config
- Add the following config:
[code]

[2022-03-28 20:27] chalin commented on #854
Can this be closed?

[2022-03-29 12:27] ccwienk commented on #755
I would like to state that setting `shallow = true` will break recursive clones if using [Concourse's](https://concourse-ci.org/) [git resource](https://github.com/concourse/git-resource) (concourse's means of interacting with git-repositories), as it currently hard-codes both the `git clone` and `git submodule update` commands, and does not offer a hook for overwriting `shalllow`

[2022-03-29 18:47] chalin commented on #755
Thanks for your feedback @ccwienk. This is reason enough for me to drop those config settings -- especially since we'll be dropping the submodules themselves soon (#948).

[2022-03-29 19:08] chalin commented on #948
@geriom, et all. Some form of the following question was asked during one of our recent PSC meetings: what harm can result from keeping the git submodules even though they are no longer needed by Docsy.

I think that https://github.com/google/docsy/issues/755#issuecomment-1081808648 offers one concrete example. Though the issue mentioned is specifically w.r.t. depth, it wouldn't be an issue if the

[2022-03-29 19:09] #755 closed

[2022-03-30 03:36] ccwienk commented on #755
@chalin thank you so much for reacting so fast on my feedback

[2022-03-30 11:19] chalin commented on #755
👍

[2022-03-31 21:08] chipzoller commented on #883
Hey @LisaFC and Docsy team, just following up on this issue!

[2022-04-02 13:43] deining commented on #934
Yes, done.

Done.

I would like to do so, but I doubt this is  a wise action, since we are referring to this version in `go.mod`:

https://github.com/google/docsy/blob/9733a5f72258a0446fb1c6de9908c402943e6ec7/go.mod#L5-L9

If we remove this tag, there is a fair chance that we break builds for users that switched to modules already.

[2022-04-02 17:48] deining commented on #854
Module implementation was imrpoved meanwhile, closing this ticket now. If the problem persists, feel free to reopen or address any other issues in a new ticket.

[2022-04-02 17:48] #854 closed

[2022-04-04 11:18] WhiteEyeDoll opened #954 "Use Go/Hugo-friendly git tags"
Hugo mod requires that tags follow the semver pattern `vMAJOR.MINOR.PATCH`.

The latest tag 0.2.0-pre with the deletion of v0.2.0-pre breaks module functionality.  Tag 0.2.0-pre is not seen as a proper version for a go module as the "v" prefix is required.

https://go.dev/blog/publishing-go-modules

[2022-04-04 11:21] WhiteEyeDoll commented on #954
Also deleting/overriding tags released to public is not considered best practice for git. Tagging pre release versions as v0.2.0-alpha1, v0.2.0-alpha2 would be beneficial.

[2022-04-04 11:34] chalin commented on #934
After adjusting the subtask list, all items for this issue have been completed.

[2022-04-04 11:34] #934 closed

[2022-04-04 11:38] chalin commented on #954
Thanks for the feedback @WhiteEyeDoll.

/cc @deining - re. the Hugo module version ID requirements (not my area of expertise so I'll let Andreas comment).

Btw, we'll eventually follow semver, but we aren't at the moment. Thanks for your patience as we make it through this initial turbulence to our first official release.

[2022-04-04 11:42] chalin commented on #954
As you probably know, semver doesn't mandate a `v` prefix. Can you provide a link to the Hugo docs that says that Hugo module IDs must have the pattern that you've named?

[2022-04-04 11:43] WhiteEyeDoll commented on #954
Could it be possible to push a working tag to mitigate this? I'm developing multiple new pipelines that use the hugo mod functionality and could provide feedback regarding this.

[2022-04-04 11:48] WhiteEyeDoll commented on #954
Hugo modules are go modules and those require the "v" prefix.

https://go.dev/ref/mod#versions

A version identifies an immutable snapshot of a module, which may be either a [release](https://go.dev/ref/mod#glos-release-version) or a [pre-release](https://go.dev/ref/mod#glos-pre-release-version). Each version starts with the letter v, followed by a semantic version. See [Semantic Versioning 2.0.0]

[2022-04-04 11:49] chalin commented on #439
Closed by @deining in #916

[2022-04-04 11:49] #439 closed

[2022-04-04 11:50] WhiteEyeDoll commented on #954
https://go.dev/doc/modules/version-numbers

[2022-04-04 11:55] chalin commented on #954
Done! Apologies for the breakage.

[2022-04-04 12:02] chalin commented on #954
FYI: https://semver.org/#is-v123-a-semantic-version

I'll still want to discuss this with @deining, and will get back to you after.

[2022-04-04 12:05] chalin opened #955 "Publish release 0.2.0"
Hopefully, we'll be able to close a few more of the [22Q1 milestone](https://github.com/google/docsy/milestone/2) items before the release.

- For items that need to be completed first, see #849
  - [x] Create extra tag `dependencies/v0.2.0`
- [x] #831
- [x] Update version in `package.json` - #961
- [x] #960

[2022-04-04 12:06] WhiteEyeDoll commented on #954
Thanks for the fast response. This fixed the issue.
Required updating the checksum as the tag content had changed but pipelines are now healthy. :ok_hand:

go mod download: github.com/google/docsy@v0.2.0-pre: invalid version: resolves to version v0.2.0-pre.0.20220321183617-02df04c0f2d4 (v0.2.0-pre is not a tag)
hugo: collected modules in 859 ms
go: downloading github.com/google/docsy v0.2.0-pre
ve

[2022-04-04 12:09] WhiteEyeDoll commented on #954
Yes the prefix "v" is a convention and has been a discussion point int the past regarding go modules.

https://github.com/golang/go/issues/30146

[2022-04-04 12:09] chalin commented on #954
Again, @deining is the expert here, but from my investigations, I _think_ that we've been using [Pseudo-versions], and for these:

[Pseudo-versions]: https://go.dev/ref/mod#pseudo-versions

[2022-04-04 12:10] chalin commented on #954
Thanks for all the feedback. Hopefully, we'll get all this straightened out before 0.2.0 is officially released (#955). /cc @LisaFC @emckean @geriom

[2022-04-04 12:44] deining commented on #954
No, still learning, too 😄

#871 was merged with revison 1e5f31c4b9fb3., and we assigned two tags to this revision:

- v0.2.0-pre
- dependencies/v0.2.0-pre

We partially reverted this meanwhile, but in hindsight, I doubt whether this was a good desicion since, as @WhiteEyeDoll pointed out, deleting/overriding tags released to public is not considered a good practice.

How to cope with this situatio

[2022-04-04 12:57] WhiteEyeDoll commented on #954
Dunno if fixing the old stuff is required but otherwise the steps are sound. :smile:
Also the convention for submodule tag is correct.
https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories

I would only question using the -pre suffix over -alpha/-beta/-rc as those sort and state the status better.

[2022-04-04 20:07] chalin opened #956 "Add a link to the new Netlify account dashboard"
- Followup to #933
- **Note**: the [Docsy example README] _already_ has a link to the dashboard. All we need to do is add it here too.

[Docsy example README]: https://github.com/google/docsy-example#docsy-example

[2022-04-04 20:08] chalin commented on #933
Thanks to all who made this happen. Closing. For the one remaining followup item, see #956.

[2022-04-04 20:08] #933 closed

[2022-04-04 20:11] deining commented on #954
Done.

[2022-04-04 20:29] chalin commented on #955
Done: https://github.com/google/docsy/releases/tag/v0.2.0

[2022-04-04 20:30] chalin commented on #955
Also closing:

- https://github.com/google/docsy/milestone/2
- #954

[2022-04-04 20:33] chalin commented on #955
@deining - I also created tag `dependencies/v0.2.0`

[2022-04-04 20:36] chalin commented on #954
With [release 0.2.0](https://github.com/google/docsy/releases/tag/v0.2.0) out (which uses the tag `v0.2.0`), I'll close this. Let us know if there are any issues @WhiteEyeDoll.

[2022-04-04 20:36] #954 closed

[2022-04-04 20:40] chalin commented on #955
Oops, somehow I had the wrong commit. That is fixed now:

[2022-04-04 20:43] deining commented on #955
Duhh, the `go.mod` of the commit with this tag still points to ´dependencies/v0.2.0`, which is a bit unfortunate:

https://github.com/google/docsy/blob/f7b37a0aca2ac23e6aab8acd3c9c36e5b7fddb75/go.mod#L5-L9

We should have corrected this first in a new commit and then tagged this commit, I guess. This way, the tags for modules `docsy` and `docsy/dependencies` are in sync.

Anyway, our actions cross

[2022-04-04 20:51] chalin commented on #955
@deining - Thanks for the updated notes. We're still learning. I've deleted the release and will start again tomorrow or Wednesday (I don't have time tonight). Could you make the updates you mention in the previous comment? Sorry to all for the fuss. I'm sure that it'll go better the next time around.

[2022-04-04 21:07] deining commented on #955
That's very true!

Done with #958.

I will go through the whole documented installation process tomorrow to make sure everything works as expected.

Yes, certainly!

[2022-04-05 14:39] deining commented on #955
I double checked all module installation methods and made some minor improvements on the way, see #958. For me, everything ran smoothly and worked out as expected.
I also updated the checklist in #849, this tickets now lists everything that needs to be done to get `v0.2.0` out eventually.

Looking forward to the release of version `v0.2.0`!

[2022-04-06 03:47] spacefan commented on #955
Looking forward to the release of version `v0.2.0` too!

[2022-04-06 15:22] chalin commented on #955
@deining - wonderful! Thank you for #958 and for double checking the instructions. I've left some comments/questions in my review feedback.

[2022-04-06 15:38] chalin opened #960 "Link to Getting-started page gives 404"
It seems that #802 rendered the following link invalid (which is referred to by the README, among others: https://docsy.dev/docs/getting-started/

The new link is https://www.docsy.dev/docs/theme-installation/, but it still has a ** Get started** title.

There are a number of ways to fix this, but I suggest:

- Renaming the file so that the following URL is valid: https://docsy.dev/docs/get-starte

[2022-04-06 20:12] deining commented on #960
`
Agreed, implemented as suggested in PR #963.

[2022-04-06 20:25] #960 closed

[2022-04-07 01:20] WhiteEyeDoll commented on #954
Well the v0.2.0 worked perfectly till it was nuked again. :sweat_smile:
Creating a v0.2.1 release would have been cleaner if there was issues with v0.2.0. :thinking:

[2022-04-07 09:53] #831 closed

[2022-04-07 10:18] #947 closed

[2022-04-07 10:25] chalin commented on #955
Ok, I've merged #958 and other 0.2.0-release related PRs. Anything else to do before I create the release @deining?

[2022-04-07 11:01] #956 closed

[2022-04-07 13:15] deining commented on #955
No, there's nothing that I'm aware of. I think we are now ready to assign tags `v0.2.0` and `dependencies/v0.2.0` to commit ID 18a7df2a68c78a (created when #958 was merged). Then you can create the release based on tag `v0.2.0`.

[2022-04-07 15:01] chalin commented on #955
Tags created (from the current HEAD).

[2022-04-07 15:03] chalin commented on #955
Released: https://github.com/google/docsy/releases/tag/v0.2.0 🤞

[2022-04-07 15:03] #955 closed

[2022-04-07 15:08] chalin commented on #954
Thanks for the feedback, we're expecting to offer a smoother experience moving forward.

[2022-04-07 15:20] chalin commented on #849
@deining - could you do the `docsy-example` updates (see the opening comment)?

[2022-04-07 15:39] deining commented on #849
For these updates, we have to merge [#170](https://github.com/google/docsy-example/pull/170), [#172](https://github.com/google/docsy-example/pull/172) and [#171](https://github.com/google/docsy-example/pull/171), with ideally PR 171 being the last one merged. All 3 PR were authored by me, and merging his own PRs has a smell. @chalin, can you please review and merge these PRs? Thanks.
Afterwards, w

[2022-04-07 16:22] chalin commented on #849
@deining - all three PRs have been merged (though not strictly in the order you suggested, sorry -- due to a hick up on my side).

That seems reasonable to me.

[2022-04-08 12:50] chalin commented on #849
@deining - just to be clear: I'm ok if you ahead and setup the tags on the example repo. If you'd prefer that I do it, let me know.

[2022-04-08 12:53] chalin opened #966 "Announce release 0.2.0"
This item was moved from #849:

- [x] Announce via discussions (done at the same time as the release)
- [x] Anywhere else?

/cc @geriom

[2022-04-08 12:55] chalin commented on #849
Last, not directly related item was moved to #966. All done here 🎉, so closing.

[2022-04-08 12:55] #849 closed

[2022-04-09 13:17] chalin opened #968 "Page auto-description feature produces nonsensical descriptions"
PR #662 introduced the auto-generation of page descriptions when none is provided in the page front matter. On many projects that I support, this behavior creates nonsensical descriptions, for example, the following is entirely blank:

Search engines can do a better job at auto generating a page's description.

This issue proposes that the page auto-description feature be opt-in for projects that

[2022-04-09 13:19] chalin opened #969 "Create a docsy-psc GitHub team"
With the current members as a part of the team. This will make is a bit easier for folks to cc the entire team. WDYT?

[2022-04-09 22:14] deining opened #973 "'npm run build' fails on Windows systems"
On my Linux system, I can run `npm run build` without problems.

On my Windows 10 box, the same command fails, however:

[code]

[2022-04-12 20:28] prdsoftware commented on #845
The new Algolia search box is different from v2, but it's fine the way it is IMO.  It's got more functionality, and uses the latest index, so I say go for it.  Thanks for your work on this.

Looking forward to seeing this change make it into Docsy.

[2022-04-15 10:15] spacefan opened #976 "Version drop-down causing offline search box not to display"
When i set versioning like this:

[code]

the search menu dispeared. It's a bug?

Reproduce step:
- Install [docsy-example](https://github.com/google/docsy-example)
- Add release versions under `version_menu = "Release"`
- Select local search engine:
[code]
- hugo server

[2022-04-15 12:20] Onur-Karagedik opened #977 "MedAX USER GUIDE"
Documentation starts on April/15/2022

[2022-04-15 13:59] jasonday opened #978 "Use different custom page templates within "docs" section?"
I have different kinds of documentation that requires different page content/formatting, but I want them all to live under the Documentation content section, and be added to the navigation.

So, for example, let's say I have two different types of documentation that should live under the same umbrella - A & B.
Both of these documentation types have different metadata, requiring different/custom YA

[2022-04-15 17:30] emckean commented on #969
So it turns out that inside the Google org we don't have permissions to create teams :(

[2022-04-15 17:30] #969 closed

[2022-04-15 17:41] emckean commented on #966
announced on Twitter! https://twitter.com/docsydocs/status/1513471276924428289

[2022-04-15 17:41] #966 closed

[2022-04-18 16:14] gary-vertica opened #979 "sidebar_menu_truncate needs to be documented"
I just spent a day tearing my hair out trying to determine why some pages were being excluded from the section menu of our documentation. While looking into another issue I'm having with Docsy, I stumbled across a mention of the sidebar_menu_truncate param in [PR #475](https://github.com/google/docsy/pull/475). Sure enough, when I set this parameter to higher than the default value of 50, the miss

[2022-04-18 20:17] raum51 commented on #979
Hi, I'm the contributor of PR #475 (but with a new user name). As the PR is quiet long ago, I can't remember the details, but before my PR it was hardcoded in the `sidebar-tree.html`, that only only for the first 50 pages links got generated.

In my PR I've made some restructure of the sidebar generation and changed the before hardcoded limit of 50 pages to the undocumented option `sidebar_menu_tr

[2022-04-19 09:25] Flashpok opened #980 "Error: failed to download modules: binary with name "go" not found"
Hi,

I'm trying to publish my Docsy template with Gitlab Pages.
1. I pushed my local Docsy directory : https://gitlab.com/docsy1/docsy1.gitlab.io (it perfectly works in local hugo server)
2. I added the .gitlab-ci.yml file : https://gitlab.com/docsy1/docsy1.gitlab.io/-/blob/master/.gitlab-ci.yml
3. The pipeline refuse to pass : Error message : Error: failed to download modules: binary with name "g

[2022-04-19 12:46] Flashpok commented on #980
With this .gitlab-ci.yml file, it works. But perhaps some scripts are not necessary ?

`image: registry.gitlab.com/pages/hugo/hugo_extended:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  HUGO_ENV: production

default:
  before_script:
    - apk add --update --no-cache git go
    - git submodule update --init --recursive
    - apk add --update nodejs npm
    - npm install -D autoprefixer

[2022-04-19 12:57] deining commented on #980
This error message is pretty clear: Executable `go` is missing on the CI/CD server.

Therefore

[code]

is all that should be needed in your case.

Since your site works perfectly on your server, another approach could be:
In the root directory of your local instance run:

[code]

This creates a directory `_vendor` in your site root. Recursively copy this directory to your GitLab repo, commit it,

[2022-04-19 15:55] Flashpok commented on #980
Thank you.

_apk add --update --no-cache git go_
is all that should be needed in your case.

Only "apk add --update --no-cache git go" doesn't work. It fails and returns this error :

` Error building site: POSTCSS: failed to transform "scss/main.css" (text/css). Check your PostCSS installation; install with "npm install postcss-cli". See https://gohugo.io/hugo-pipes/postcss/: this feature is not

[2022-04-19 19:11] Flashpok commented on #980
hugo mod vendor

It doesn't work :
`Error: Error building site: POSTCSS: failed to transform "scss/main.css" (text/css). Check your PostCSS installation; install with "npm install postcss-cli".`

Strange because the image used is Extended Hugo, no ?

[2022-04-19 19:26] Flashpok commented on #980
one more information :
If I use the "hugo mod vendor" method, only two scripts are required :
`  - apk add --update nodejs npm`
` - npm install -D postcss-cli`

[2022-04-19 20:27] #980 closed

[2022-04-20 18:50] tmc opened #981 "page meta links should respect `.Site.IsMultiLingual`"
Currently, the page meta links will always include "en" even if the site is not multi-lingual and has content directly in the "contents" directory (vs "contents/en").

[2022-04-21 09:54] Flashpok opened #982 "How hide expression "Search Results" at the left menu in docs ?"
Hi,
I don't use the search engines, Search box is hidden (good !) with  . But in the left menu (docs pages, at the botton of the menu, there is a line :

`Search Results`.

Idem for the bottom of the page content.

How can I hide it ?

[2022-04-21 09:57] Flashpok commented on #982
Haha... It works if I delete search.md...

[2022-04-21 09:57] #982 closed

[2022-04-21 15:17] Flashpok opened #983 "How hide breadcrumbs navigation on some docs pages ?"
Hi,
Is it possible to hide breadcrumb navigation for the root file of the doc (_index.md) ?

Example :
I want to display Breadcrumb navigation if the doc (content A) have a child content (content B) :
content A-> content B
But I want to hide if I visit the main content A page .

thank you,
C.

[2022-04-21 15:56] vthaker-blu commented on #775
The settings doesn't seem to be working. If I set the values as follows

[code]

The resulted url becomes `.../content/something/docs..`

However if I set it to empty it still uses `en` as default

[code]

The resulted url is `.../content/en/docs...`

It seems that it is checking if the value is empty and replacing it with `en`. I cannot find any workaround for it. Can you please help me.